[2021-11-14 23:00] CJohnno77 opened #530 "How to add Author tag to the top when using html.xsl"
I am using `html.xsl` to convert TEI XML to HTML.  What do I need to do to add the Author(s) to the top of the document just below the Title.  I would like to add the Author(s) as an `<h2>` element below the `<h1>` Title.

I can see the Author(s) are found at `/TEI/teiHeader/fileDesc/titleStmt/author` in the XML.  What parameter do I need to add to my `to.xsl` file?

[2021-11-22 17:09] martindholmes commented on #515
Here's a genuine example of this:

https://hcmc.uvic.ca/wendat/documentation/tei_back.html#TEI.handShift
(Now: https://hcmc.uvic.ca/wendat/mss/documentation/tei_back.html#TEI.handShift — 2022-04-17)

[2021-11-22 17:13] martindholmes commented on #495
The process is called twice from teianttasks.xml, once from buildodt and once from builddocx.

[2021-11-25 19:17] martindholmes commented on #515
Working with @HelenaSabel, @npcole, @sydb, and @martinascholger on this in branch issue-515-caption.

[2021-11-25 19:37] npcole commented on #515
Do it

[2021-11-25 19:38] sydb commented on #515
@martindholmes, @HelenaSabel, @npcole, @martinascholger, and I just met and fixed this puppy. (We hope.)

[2021-11-25 19:38] #515 closed, assigned to HelenaSabel

[2021-12-13 17:02] sydb commented on #530
Well, according to [this documentation](https://tei-c.org/Vault/P5/4.0.0/doc/tei-xsl/#parameters), there is a `$showTitleAuthor` parameter which defaults to `false`. We (@martindholmes and I) have figured out that if you have a `…/front/titlePage/`, this parameter (and most all the metadata) is ignored.

Note that there are instructions in that documentation for setting parameters via some not too

[2021-12-13 17:03] #511 closed, assigned to ebeshero

[2021-12-13 17:37] sydb commented on #526
There are only 3 occurrences of `<ident type=macro>` in the _Guidelines_: in `DEFCONTEI`, `MDMDCM`, and `ppf-err`. The references to macros that are generated by the Stylesheets for the “Schema Declaration” section of the tagdocs are proper links.

[2021-12-16 18:53] sderrick opened #533 "ODD translation to rng fails in Oxygen ant task"
Output of task

However the resulting rng file has an error in the text element "mbel_text"  which has duplicate items all through it, the first is these

and these

there are more

The only thing I can find is that the text element mbel_text is referenced in the mbel_attr_constraint and the schema specification
I am using the TEI addon from the TEI Technical Council.

I have attached the odd file

[2021-12-16 19:44] martinascholger commented on #526
`<ident type="datatype">` should be a link as well

[2021-12-16 19:56] martindholmes commented on #526
Waiting on Jenkins to see that all is well. Also we need to check the PDF build and the ePub and Kindle.

[2021-12-21 14:27] peterstadler commented on #534
transferred to Stylesheets repo (from TEIC/TEI) per ticket triage with @sabineseifert since most of the discussion is related to Stylesheets and not Guidelines.

[2021-12-21 17:40] martindholmes commented on #526
This needs to stay open, because links are not created in the PDF. They are working in the ePub, and therefore presumably in the Kindle version, but I can't check the latter. Changed the title of the issue to reflect the fact that only the PDF presents a problem now.

[2021-12-24 18:12] sydb commented on #533
There are 2 `<elementSpec>`s for `<text>` with `@mode=change` in the ODD (one with `module=textstructure` on line 489, one without on line 827). The first one looks like it only changes the `@type` attribute; the second one allows for the MBEL-added `<envelope>` element to be in the content of `<text>`. They can be combined pretty easily into one, but seems to me it would be a good idea to convert

[2021-12-24 18:12] #533 closed, assigned to nobody

[2021-12-24 18:21] sydb opened #535 "`list/@rend` over-riding phrase-level rendition"
A phrase-level element (in this case `<att>`) that happens to occur inside an `<item>` that is itself inside a `<list>` that has a `@rend` does not have its rendition properly processed.

See the tiny TEI document attached (as a .zip file) to the next message. If you process it with `bin/teitohtml` (or equivalent) you will find that the `<att>` inside the list item gets transformed to a `<span cla

[2021-12-24 18:22] sydb commented on #535
[issue_535.xml.zip](https://github.com/TEIC/Stylesheets/files/7774998/issue_535.xml.zip)

[2021-12-27 16:13] martindholmes commented on #526
For the record: what is currently p. 16 of the Guidelines PDF, section 1.4.1, contains a list of macros, all of which should be links to their respective pages, and all of which are links in the HTML, but they aren't in the PDF, That's what we need to fix.  Oddly enough, links do appear in section 1.5.

[2021-12-27 16:53] martindholmes commented on #526
In fact this is a broader problem with the PDF. If you look at p. xviii and search for "References to classes are also presented as links, for example model.divLike for a model class, and att.global for an attribute class", you can see two more things which should be links but are not: model classes and attribute classes. In the input TEI Lite, these appear as `<ident>` elements too. I think the p

[2021-12-27 17:23] sderrick commented on #533
Syd,

You are a scholar and a gentleman! Thank you for the fixes to our odd file.  Its been a long time since we communicated!  Yes it has been almost exactly 10 years since you drafted the original spec for Sherry!   I will pass on our talk and may
sincere appreciation for taking the time to clean up the file.  I went over your changes and understand most but not all of them. I have looked for an

[2022-01-03 17:22] martindholmes commented on #526
Fix created with @sydb and @npcole in branch issue-526-mdh-pdf-links. Pull request coming.

[2022-01-10 16:58] sydb opened #537 "`<ref>` elements not becoming links in PDF"
From work on #526, @martindholmes and I have discovered that the headwords (as it were) in “1.4.1 Standard Content Models” on PDF page 16 are still not links. They are encoded as `<ref>`s, not `<ident>`s, so we did not try to fix them on that ticket.

[2022-01-10 16:59] martindholmes commented on #526
This can be closed following a pull request. A follow-up, issue #537, has been raised to cover the slightly different cases of ref elements rather than idents, in e.g. section 1.4.

[2022-01-10 16:59] #526 closed, assigned to martindholmes

[2022-01-12 14:25] sydb opened #538 "To what should relative $cssInlineFiles be relative to?"
According to the last entry in the CSS-related parameter table in [the documentation](https://tei-c.org/release/doc/tei-xsl/#index.xml-body.1_div.6_div.8_div.1), the `$cssInlineFiles` parameter should be a URI that points to a CSS file. (The contents of this file get copied into a `<style>` element in the output of profiles/default/html5/to.xsl.)

If I provide a relative URI (either with or withou

[2022-01-13 09:47] sydb opened #539 "match comment, not <comment>"
Obviously [Stylesheets/verbatimxml/teitoverbatim.xsl#31](https://github.com/TEIC/Stylesheets/blob/2cc542e423d7d70f1c22e3ec82dd139204b5ee73/verbatimxml/teitoverbatim.xsl#L31) is in error, that should read “comment()”, not “comment”.

At the moment I have no idea what this file is or what it is used for, so not going to fix right now, as there might be something that actually depends on comments bei

[2022-01-13 17:24] martindholmes commented on #539
The verbatim file is about rendering egXMLs. I think the name comes from LaTeX:

https://www.overleaf.com/learn/latex/Code_listing

The verbatim environment in LaTeX is a bit like the `<pre>` element in HTML. It's normally used for code listings.

[2022-01-22 23:21] sydb opened #541 "Unable to properly delete a `<constraintSpec>`"
One would think this would be easy. Just `<constraintSpec module="[module]" ident="[ident]" sceme="schematron" mode="delete"/>` should do it, eh? A bit weird that `@scheme` is required, but no big deal.

No such luck. The big deal is that it does _not_ work. Nor does most any other method I tried. According to my little [test ODD](https://github.com/TEIC/TEI/files/7919470/KC.odd.txt) (which is att

[2022-01-24 17:09] martindholmes commented on #541
With @sydb @HelenaSabel and @npcole : We found that if we change line 2018 or odd2odd.xsl from:

`<xsl:for-each select="tei:constraintSpec">`

to:

`<xsl:for-each select="descendant::tei:constraintSpec">`

we get a change in behaviour -- processing does find the constraintSpecs -- but the original problem is not solved by this alone.

[2022-01-25 17:25] old-zet commented on #579
@jamescummings, an OOXML view of the example provided by @gerritbruening should be <w:pPr><w:jc w:val="center"/></w:pPr><w:r><w:t>Die vergessene Schwester</w:t></w:r> yet the only mention of the <w:jc> tag is line 157 in paragraphs.xsl (https://github.com/TEIC/Stylesheets/blob/dev/docx/from/paragraphs.xsl#L157) where it becomes clear that the alignment parameters are processed only when integrated

[2022-01-28 13:32] martinascholger commented on #537
Do you mean `<ptr>`s? They are links in my PDF download.

[2022-01-28 15:35] sydb commented on #541
We (the Stylesheets group) have just discovered the problem (thanks to @HelenaSabel :-) — the key `../@ident||'_'||@ident` does the wrong thing in some cases.
So our proposed solution is to just use `@ident` instead. There are a few cases where this will fail, because we have used the same identifier on two or more `<constraintSpec>`s:
[code]
So we suggest those 13 just get re-named, so we can use

[2022-01-28 16:22] sydb commented on #537
### Update from Stylesheets group meeting 2022-01-28

@martinascholger’s comment above can be ignored. (I had not been precise enough in the description of _where_ there were problematic `<ref>`s, so she was looking in wrong place. I meant in the TEI Lite intermediate file, not the source of the _Guidelines_.)

We discovered that the code in latex/latex_tagdocs.xsl that handles this (roughly lines

[2022-01-28 21:01] HelenaSabel commented on #541
Blocked until the discussion on [TEI ticket 2223](https://github.com/TEIC/TEI/issues/2223) is closed.

[2022-01-28 21:03] sydb commented on #541
See [TEI issue 2223](/TEIC/TEI/issues/2223) and the corresponding [PR](/TEIC/TEI/pull/2224).

Hmmm … is it better to write that as

See /TEIC/TEI/issues/2223 and the corresponding PR, /TEIC/TEI/pull/2224.

? The former looks nicer, but the latter gives you pop-ups.

[2022-01-29 00:26] martindholmes commented on #537
@sydb This might be useful:

https://css-tricks.com/git-switching-unstaged-changes-to-a-new-branch/

[2022-01-29 05:47] sydb commented on #537
Thanks, @martindholmes, that is a nice description. Forgot to say so here, but the changes were pushed up to the "sydb_issue_537" branch at ~16:49Z, and PR #542 (on which you have already commented) created for it at ~16:54Z.

[2022-01-31 20:23] hcayless commented on #579
I'm a little confused about this one. I ran a test file, and centered text comes out with `style="text-align: center;"` which ought to be correct. This might be part of a set of fixes I made to the Stylesheets within the last year or so, so it certainly might have been broken in 2017.

[2022-01-31 21:04] hcayless commented on #341
I can't replicate the problem. Perhaps the online version of Word doesn't do this anymore?

[2022-01-31 21:04] #341 closed

[2022-02-02 12:37] peterstadler commented on #203
Just stumbled across this while looking at `@validUntil` and I'm concerned about the wrong links.

We have a few `<dataRef>` elements with a `@name` attribute (not `@key`!) pointing at XSD datatypes directly. When the name of this datatype matches a TEI identifier, a wrong link is created on the TEI spec page. See e.g. [dataFacet/@value](https://vault.tei-c.org/P5/4.3.0/doc/tei-p5-doc/en/html/ref-

[2022-02-07 16:35] martindholmes commented on #201
@HelenaSabel, @sydb, @npcole and I believe this ticket should be split into two new tickets: one is the question of the /out folder, which needs Council consensus, and the other is the question of the multiple extensions (file.odd.dtd, file.odd.relaxng), which is pernicious because, for one thing, on Windows, which hides the actual extension by default, it will appear that file.odd.dtd is actually

[2022-02-07 16:36] martindholmes opened #543 "Multiple file extensions are a bad idea"
This ticket is a fresh take on one aspect of what was originally raised in #201: standard Stylesheet ODD processing creates outputs with multiple extensions (file.odd.dtd, file.odd.relaxng), which is pernicious because, for one thing, on Windows, which hides the actual extension by default, it will appear that file.odd.dtd is actually file.odd.  We believe the .odd component should be dropped, and

[2022-02-07 16:37] martindholmes commented on #201
Issue #543 is the successor issue which addresses multiple extensions.

[2022-02-07 16:53] martindholmes commented on #543
The other ticket, relating to the /out/ folder in Oxygen, is here:

https://github.com/TEIC/oxygen-tei/issues/53

[2022-02-07 17:12] martindholmes commented on #543
With @HelenaSabel, @sydb, @npcole: We believe the problem arises at lines 212 and 215 of bin/transformtei: the $from variable contains the string "tei" rather than the extension "odd", so the .odd extension is left in place. We think a good approach to this might be a sed or awk command which strips off any of a set of expected extensions (.xml., .odd, .tei etc.) before adding the output extension

[2022-02-07 17:12] npcole commented on #543
The code to strip and replace the filename is wrong.  In my view we should only explicitly strip extensions we are expecting, using a bash for loop to check for them and call basename. Other views are available.

[2022-02-14 08:03] bwbohl opened #544 "add `@classpathref` to `common/teianttasks.xml`"
I'm using the TEI Stylesheets as submodule in some non TEI schema development repositories for building the schemata from my ODD definitions. The setup has a project specific ant build.xml that calls the `dist` target `relaxng/build-to.xml`. As my main repo has its own lib folder with anything needed for building I would like to just submit my classpath-ref to the TEI-anttasks instead of setting u

[2022-02-14 16:51] martindholmes commented on #544
@HelenaSabel, @sydb and I tested this morning, and we would prefer to add the attribute to all 14 calls to xslt in the teianttasks.xml file, which we have done in branch issue-544-classpathref. This passes all Test and Test2 processes. @bwbohl Could you test this branch and see if it does what you need? If it works for you, we'll create a pull request.

[2022-02-14 20:44] bwbohl commented on #544
will do

[2022-02-18 11:19] JulMartin opened #574 "Conversion of ODT to TEI-XML loses format attributes"
While the conversion of docx documents to TEI transports format information via attributes of the corresponding elements, conversions of odt documents don't include format information on sign-level:
e.g. bold, italic

[2022-02-25 17:21] martindholmes commented on #543
Stylesheets group believes that we should create teitorng and oddtorng (which should do the same thing), but leave teitorelaxng, making it instead just generate a warning that people should use oddtorng instead.

[2022-02-28 22:34] sydb commented on #412
No, @martindholmes, I think the main point of this ticket is to re-arrange how assets (in particular, CSS files) are stored in the build outputs so that relative paths can be used rather than requiring an internet connection.
Quite possible that the oxygen-tei framework would need a change to deal with a change to the directory structure, too, though.

[2022-03-03 21:59] martinascholger commented on #495
It seems that at least the documentation is missing.

[2022-03-25 15:57] sydb commented on #479
Stylesheets group thinks switching to anchor is a good idea, and darkening the color of those after attributes (we’re thinking #AAD).

[2022-03-25 16:36] sydb commented on #479
HOWEVER, we note that the browser seems to apply a color to the anchor symbol (U+2693) that overrides the CSS. Considering either leaving it (in which case it gets the default color the browser likes) or perhaps trying to make it somewhat transparent so it is not so dark as compared to what the pilcrow is now (#DDF).

We also considered other characters, including the bookmark emoji (U+01F516) ins

[2022-03-25 16:39] sydb commented on #500
We (Stylesheets group) are not sure where this documentation should end up — it depends a lot on for how long we need to do this manually, eh @peterstadler? — but we have started scratching out some initial information on a [GoogleDoc](https://docs.google.com/document/d/1UhCg76_AgnS5PW0g_EN6zPZE4tTUs0bNeMXFVmZ4VuQ/edit?pli=1#) (available to Council only while it is a GoogleDoc, will be public once

[2022-03-25 17:23] sydb commented on #479
We note that we are making the CSS changes only for the HTML Guidelines. It is likely the case that these changes will need to be reflected in various other profiles including epub, iso, teiepub, guidelinesprint, kindle. After Mr. Jenkins has finished building we should look at the Guidelines PDF and EPUB, and maybe open a new ticket.

We think this ticket can be closed if Mr. Jenkins is happy.

[2022-03-29 09:25] martinascholger commented on #500
@sydb, @martindholmes, @JanelleJenstad could you please review and expand the notes in the [google doc](https://docs.google.com/document/d/1UhCg76_AgnS5PW0g_EN6zPZE4tTUs0bNeMXFVmZ4VuQ/edit?pli=1#) -- Thanks!

[2022-03-29 16:49] JanelleJenstad commented on #500
I've read it over and have a question about intended audience. If the audience is someone like me (new to Council and newish to this kind of work), then it will need much more detail. If the audience is someone more tech savvy, then @sydb and @martindholmes's expansions will suffice. I've run through the update process twice now (once with Syd, I think, and once with Helena).

[2022-03-29 18:46] martindholmes commented on #500
@JanelleJenstad I think the procedure is sufficiently complex that no brand-new Council member is going to attempt it; for one thing, you need to be set up and able to run the tests, and you need to be able to interpret the results and act on them; that means having a fairly sophisticated understanding of P5, the Stylesheets, and how they interact.

[2022-03-29 19:08] sydb commented on #500
Furthermore, there is a good chance we will not have to be doing this for long (i.e., @peterstadler may have a more automated procedure within the next few months). So no point in trying to make this a tutorial in, e.g., setting up a local build.

[2022-03-29 19:15] JanelleJenstad commented on #500
Thanks for the clarification. How about I give the document a good proofreading when you are done? I did leave a note that the document would benefit from a rationale/purpose at the top.

[2022-03-30 09:04] Conal-Tuohy commented on #479
Browsers will render an anchor glyph in colour ⚓ because it's defined to be an emoji character. If you precede the character with a text variation selector (U+FE0E) then you will select a non-emoji glyph: ⚓︎

[2022-03-31 19:58] bwbohl commented on #544
sorry for coming back to this so late… works here, many thanks!

[2022-04-03 22:40] sydb commented on #136
Was I supposed to add this warning message to the ODD processor that _finds_ 2+ values on `@docLang`, or to the tagdoc that _describes_ the `@docLang` attribute? (Or both?)

[2022-04-05 14:19] sydb opened #546 "incorrect namespace URI"
On line 11 of the file html/html_figures.xsl the namespace prefix `teix:` is incorrectly bound to `http://www.tei-c.org/ns/` instead of `http://www.tei-c.org/ns/Examples`.
No one has noticed since at least 2013 because that namespace prefix is never actually used in the file.

[2022-04-05 14:53] sydb commented on #546
Fixed at 0272e135.

[2022-04-05 14:53] #546 closed, assigned to sydb

[2022-04-19 12:53] sydb opened #548 "no space between children of `<choice>`?"
I have not investigated this thoroughly, but the following passage from att.pointing.xml
[code]
gets rendered as
[code]
in the output HTML. There is no space between the abbreviation (which is in parens) and its expansion. I have not yet checked if this would be true for other uses like `<sic>` & `<corr>` or `<expan>` first, but we only have 5 `<choice>` elements in the English _Guidelines_, and t

[2022-04-19 15:20] hcayless commented on #138
I contend this is done.

[2022-04-19 15:20] #138 closed

[2022-04-19 15:21] #537 closed, assigned to sydb

[2022-04-22 16:39] sydb commented on #518
Stylesheets group discussed today. Plan is to make this **go** for assignee to attack the requested and horribly egregious problems here, without trying to tackle the HUGE kettle of fish that would be trying to get properly formatted bibliography entries from `<biblStruct>`. That is a rabbit hole we are not sure we wish to jump down. (At least, not any further than we already have.)
Thus:

- [ ] P

[2022-04-26 06:28] dmj commented on #237
I think the root of this problem is that @ident serves a double purpose:

1. It is used to identify the element or attribute specification.
2. It is used to give the local name of the specified element or attribute.

This would mix both functions: The namespace URI belongs to 2, not 1.

I think it would be better to use @source on elementRef et al. It is already used to identify an element etc. sp

[2022-04-29 06:40] bwbohl commented on #544
Is there anything I can do to get this into the next release ;-) Should I open a PR?

[2022-04-30 09:30] HelenaSabel commented on #139
Tested with a slight modification of the ODD generated by @lb42 and mentioned in ticket #140: it works as expected.

[2022-04-30 09:30] #139 closed

[2022-05-27 16:44] martindholmes commented on #424
Stylesheets group worked on a new version of tei:uniqueName() in branch issue_424_experiment, and got half-way to a solutions, but our implementation, although it doesn't apparently break anything, hasn't yet been tested to see if it solves any of the actual problems described above. We also noted that there are two identical definitions of tei:uniqueName() in odd2odd and teiodds, and we believe (

[2022-05-28 16:31] lb42 opened #551 "otiose comment in makefile"
I just had occasion to do a "make install" having updated my local copy of the Stylesheets, when I noticed the following wird comment:
[code]
triviial, i know, but what on earth is this supposed to be telling me?

[2022-05-28 23:05] sydb commented on #551
Ha!
That one is fun. Thanks, @lb42. My first reaction was “Idunno, mate, and I wrote that comment!”.

But if you look at the Makefile (instead of the output thereof), you’ll see
[code]

So, importantly, @martindholmes and I were not being nuts asking if A should be A. We were asking if A should be B, which is still a valid question. More on that later.

The next question is why is this comment in

[2022-05-28 23:07] #551 closed, assigned to sydb

[2022-05-28 23:12] sydb opened #552 "Makefile creates installed transformtei with potentially incorrect path"
Per the comment preceding it, the “/usr” in the following line of the Makefile should read “${PREFIX}”.
[code]
This is currently line 136. See #551 for some discussion.

That said, I do not (at the moment) understand what $APPHOME vs $defaultAPPHOME is doing in the transformtei program. While this should probably be fixed either way, if we understood what was going on we might be able to skip this

[2022-05-29 01:48] sydb commented on #552
BTW, have to think about how to make sure that the “${PREFIX}” is expanded by the shell, not interpreted by Perl.

[2022-05-30 08:39] ddenison-man opened #553 "<egXML> in ODD to XHTML"
Until March 2022, a multi-line example of XML coding wrapped in &lt;egXML&gt; ... &lt;/egXML&gt; in the ODD file had every new line left-aligned when displayed in XHTML. Now, using TEI P5 16.0.0, such examples are displayed with only the first line at the left edge and all subsequent lines hugely indented by 20 spaces. Alex Jitianu of Oxygen tells me 'It looks like it's something introduced in the

[2022-05-30 09:54] sydb commented on #553
@ddenison-man — Can you post the ODD source to the snippet above? Is it an `<egXML>` child of a `<elementSpec>` (or similar), or inside a paragraph or some such?
Thanks.

[2022-05-30 10:15] sydb commented on #553
Tests so far:

- Run against 7.52.0 with commandline roma: no problem
- Run against released with commandline roma: no problem
- Run with oXygen (using latest plug-in, I think): PROBLEM
- Run via 7.52.0/bin/teitohtml: no problem
- Run via released/bin/teitohtml: PROBLEM

I must admit, I find that combination somewhat confusing. In any case, where it says PROBLEM I found the same ugly indentation @

[2022-05-30 10:35] ddenison-man commented on #553
It's just <egXML> as a child of <div> following a <p> in the discursive part of the schema, but it makes no difference whether the example is moved inside <p> or not:

                  <p>For direct literary or biblical quotations, the closing tag of the &lt;quote&gt; element is followed directly (without a space) by a &lt;bibl&gt; (bibliographic citation) element, with &lt;quote&gt; + &lt;bibl&g

[2022-05-30 19:41] sydb commented on #553
I.e., the following, right?
[code]
I have created a [tiny ODD file](https://github.com/TEIC/Stylesheets/files/8800520/DDT.odd.txt) for testing this. Note that I have appended a “.txt” extension so that GitHub will not think it a malicious file.

[2022-05-30 20:30] ddenison-man commented on #553
Dear Syd (if I may),

Your test file exhibits exactly the same behaviour as my long schema, giving the ugly indents from l.2 onwards with the latest stylesheets, but displaying fine with the previous stylesheets.

I apologise for giving the ODD source of a different snippet, an earlier selection that was messier than the one I sent screenshots of to this list. As far as I can see, you've got the c

[2022-05-30 20:58] sydb commented on #553
No worries! I hope we can fix this before the next release, it is really quite ugly.

[2022-06-01 13:51] sydb commented on #553
@bleekere and I assigned this to @sabineseifert (and @peterstadler:-) for the task of finding out what changed in the code between last release and now that caused this problem.

[2022-06-01 16:12] martindholmes opened #554 "Attribute `@typo` in expected-results"
In the current dev branch expected results, there is this:

https://github.com/TEIC/Stylesheets/blob/dev/Test/expected-results/test15.odd.rnc#L926

attribute typo instead of type.

This causes the test to fail on my computer, but doesn't seem to have a problem on Jenkins for some reason.

[2022-06-06 18:59] TomazErjavec opened #564 "Disappearance of XML comments in egXML HTML"
Up to, at least, 2022-05-23 the XML comments in egXML were displayed in the HTML, cf. [this page](https://clarin-eric.github.io/parla-clarin/#sec-facsimile) and [corresponding XML](https://github.com/clarin-eric/parla-clarin/blob/7524d09084655644677ae2996d6d2b0f773d28f7/Schema/parla-clarin-odd.xml#L1833-L1840). But using the latest dev release of the TEI Stylesheets they now seem to be gone from t

[2022-06-10 10:03] lb42 commented on #564
I cannot reproduce this, though I have noticed that the formatting of egXML content with the most recent Stylesheet version seems to have changed in other respects

[2022-06-10 16:34] peterstadler opened #555 "epub transformation fails (in OxGarage) due to missing file "epub-print.css""
As reported on [TEI-L](https://listserv.brown.edu/cgi-bin/wa?A2=TEI-L;2a6ab0a4.2206), OxGarage fails to transform TEI -> ePub. The OxGarage error message is clear:
[code]

I thought this was already fixed by #394 but apparently only for epub3?! So I think a simple fix would be to have the relative links at
https://github.com/TEIC/Stylesheets/blob/b8db468c31eed9ca19bf2df0e457521663debf75/epub/tei-t

[2022-06-19 16:26] martindholmes opened #556 "Stylesheets function cannot cope with remarks with `@versionDate`"
A current build-break is (I think) caused by this function from common/functions.xsl:

[code]

The issue is that `@versionDate` is now being added to `<remarks>`, and `<remarks>` are siblings of the `<gloss>`es and `<desc>`s for the context `<*Spec>` element, so (for instance) if you have both a `<desc>` and a  `<remarks>` for the same language with `@versionDate`, then a sequence of two items wil

[2022-06-20 15:07] martindholmes commented on #556
Looks like I got this completely wrong! @hcayless fixed it with a tweak to the P5 sources. Closing.

[2022-06-20 15:07] #556 closed, assigned to nobody

[2022-06-28 02:02] sydb opened #557 "minOccurs=0 fails to work on `<attDef>`"
The `@prefix` attributes of `<schemaSpec>`, `<elementSpec>`, and `<moduleRef>` are defined the same way:

**`<schemaSpec>`**:
[code]
**`<elementSpec>`**:
[code]
**`<moduleRef>`**:
[code]
In all three cases, the attribute generated is `attribute prefix { xsd:NCName }?` (although in the `<moduleRef>` case it is surrounded by parenthesis, which I do not understand, as the RELAX NG XML syntax looks th

[2022-07-01 16:27] sydb opened #560 "whitespace differences in RNC should not cause Test failure"
@HelenaSabel and I were running the tests in Test/ at the Stylesheets meeting today, and most of the errors were differences in whitespace in the RNC files. E.g.
[code]
vs
[code]
This strikes us as a waste of time. So we think we should tell the Makefile to use the `-b`, `-B`, and `-w` switches on the `diff` commands that operate on RNC files. (That may be a bit of overkill.)

[2022-07-01 16:28] #560 closed, assigned to sydb

[2022-07-15 15:49] sydb opened #561 "attributes defined in nested attList not deletable?"
The `<attDef mode="delete">`s for `include`, `except`, and `key` fail to delete those attributes from the `<moduleRef>` element when I process the following ODD using the Stylesheets, whether I do so via oXygen or with Roma on the commandline.

I _think_ this is because those three attributes are all defined in an `<attList org="choice">` that is inside another `<attList>`.

Note: I will attach th

[2022-07-15 15:56] sydb commented on #561
The [i561.zip](https://github.com/TEIC/Stylesheets/files/9122248/i561.zip) file contains the customization ODD and derived RELAX NG, HTML, Schematron, “compiled” ODD, and TEI Lite.

[2022-07-17 00:21] sydb opened #562 "jing for Test2 runs out of memory in docker"
@martindholmes, @hcayless, @peterstadler —

I cloned @joeytakeda’s [fork](git@github.com:joeytakeda/Stylesheets.git), and from within a TEI Docker container (I don’t know which one — how can I tell?) ran `make test2P` in the dev branch. This runs `ant test` in Test2. I got a stack overflow error:
[code]
That is from a `<jing>` directive in buld_odt.xml.
What is really bothersome is I did not get t

[2022-07-17 01:24] sydb commented on #241
Merged in #507, and no errors on Test or Test2. Yay!
Thanks @joeytakeda!

[2022-07-17 01:24] #241 closed

[2022-07-17 16:18] martindholmes commented on #562
Do you get the same error when you cd into Test2 and run ant test?

[2022-07-17 17:30] sydb commented on #562
Yes, same error from `cd Test2/ ; ant test` in the Docker container, no error in my local shell.

[2022-07-17 17:53] hcayless commented on #562
Hmm. If I've understood what you're doing, then I can't replicate it in my Docker. Are you using the same working directories as you are outside Docker?

[2022-07-17 19:42] sydb commented on #562
Yes, I although I should double-check that I was still using the same directories when I did the 2nd test for @martindholmes (`make test2P` vs `cd Test/ ; ant test`) a 2 hours ago.

[2022-07-17 19:43] sydb commented on #562
Yup, same dir.

[2022-07-17 19:43] sydb commented on #562
(What I am not sure is that I am using the same Docker container you are.)

[2022-07-20 13:05] peterstadler commented on #562
Just tested with current `teic/teidev-docker` and `teic/jenkins` images and ran `make test2P` in the Stylesheet's dev branch (not knowing what "joeytakeda’s fork" was): unable to reproduce the memory issue.
Presumably it's your local setting, that restricts memory for running containers? What are your settings in Docker Desktop?

[2022-07-20 14:34] sydb commented on #562
Oh dear, that was dumb of me (not to provide ptr to @joeytakeda’s fork). Will try to get one in a few mins. In the meantime, what settings in Docker would you like to know about, and how do I find out what they are? (BTW, if by “Docker Desktop” you mean the GUI desktop environment as run in a Docker container, I never run one, I just use the commandline inside the container.)

[2022-07-20 14:55] sydb commented on #562
The fork in question is (I think) the `issue241-preserveOrder` branch of [git@github.com:joeytakeda/Stylesheets.git](https://github.com/joeytakeda/Stylesheets/tree/issue241-preserveOrder).

BTW, I do not find any files on my system whose name includes “teidev-docker”, nor any that include “jenkins” other than the three in Documents/Editing/Jenkins/ and those within oXygen.

[2022-07-22 11:49] peterstadler commented on #562
"Docker Desktop" is the client software one usually downloads to install Docker: https://www.docker.com/products/docker-desktop/ – it is available for Mac, Windows and Linux and offers a preference pane to set various Docker related features. One of these features is the amount of RAM granted to containers which you can check (also) on the command line via `docker info`, grepping for "Total Memory

[2022-07-22 14:00] sydb commented on #562
From inside the docker container or out? Outside it works (requires root privileges), and correctly claims total memory is 23.34GiB. There is no `docker` command inside the docker itself.

I do not recall what command I used to originally launch the container (likely something like `sudo docker run --name tei -v ~/Documents/TEI_gitHub:/TEI -v ~/Documents/Stylesheets:/usr/share/xml/tei/stylesheet -

[2022-07-22 15:20] #476 closed, assigned to peterstadler, martindholmes

[2022-07-22 15:34] #541 closed, assigned to HelenaSabel

[2022-07-22 16:37] sydb commented on #424
## TODO
Stylesheets group meeting of today thinks the next steps forward are:

1. Clean up @ebeshero’s wonderful list in the OP of problem areas, simultaneously making it into a numbered list
2. Take one of the test ODDs that @martindholmes or I created for this and modify it so that it systematically tests each of the above cases (referring to it by list number)
3. (Note — this might take several

[2022-07-29 15:15] sydb commented on #564
@TomazErjavec — I think the short answer is “yes”, if they are missing they can be brought back. (I am not nearly so confident we can get that done by the upcoming release, which is scheduled for Sep or Oct, I think.) However, like @lb42, when I produce local HTML from (a mildly modified version of) that ODD, I see comments in the examples.
What process are you using to generate HTML?

[2022-07-29 16:43] TomazErjavec commented on #564
Looking again - after some time - at [the page referred to above](https://clarin-eric.github.io/parla-clarin/#sec-facsimile), which has been re-built  since I posted this issue, I now see that they are now no longer missing but are back in all their glory. I am certain that they were gone when I reported this but also certain they are back now, so this seems to be a non-issue, but rather a tempora

[2022-07-29 16:43] #564 closed, assigned to nobody

[2022-08-12 07:13] peterstadler opened #565 "tei2latex issue with un-escaped `#`"
This came up during work on the CMC proposal, where references with/to hashtags are quite frequent. Yet the "#" character is a reserved character in LaTeX and needs to be escaped properly. This already works quite well but there's yet another case:

Given the TEI snippet
[code]

This is the output of `teitolatex` (snippet):
[code]

Most occurrences of the string "#hashtag" are correctly prefixed b

[2022-08-12 15:54] #565 closed, assigned to peterstadler

[2022-08-22 17:21] sydb opened #567 "val and tag elements are ignored"
The `<val>` element is ignored by teitohtml.

That is, the input
[code]
is converted to
[code]
rather than
[code]
which (I claim) is what should be generated.

[2022-08-22 21:45] sydb commented on #567
BTW, some may argue the output should not have LIT (or LITA) delimiters[1] in the content, but rather CSS should do that. I don’t really care much, and can see arguments both ways.

Here is a [tiny test file](https://github.com/TEIC/Stylesheets/files/9397778/val.tei.txt) which has “.txt.” tacked on the end of the filename to make GitHub happy.

**Notes**
[1] LIT is straight double quote (U+0022),

[2022-08-24 03:10] sydb commented on #567
Addendum: same is true of the `<tag>` element. Except that its output should have pointy brackets, etc., based on the value of `@type`; and probably the value of `@scheme` should be reflected in the output `@class` somehow. So in retrospect, maybe this should have been a different ticket.
Sigh.

[2022-08-24 07:23] HelenaSabel commented on #555
I added the “needs discussion” tag, because I have some vague recollection about discussing whether we should  maintain other epub formats besides epub3. I will add this to the agenda of our next meeting.

[2022-08-24 08:15] HelenaSabel commented on #554
I’ve looked into this and the presence of `@typo` seems to be indeed the expected result in order to check the processing of `altIdent`: see [alt2.odd](https://github.com/TEIC/Stylesheets/blob/dev/Test/alt2.odd) (which is imported in [test15.odd](https://github.com/TEIC/Stylesheets/blob/dev/Test/test15.odd))

[2022-08-26 19:31] sydb commented on #567
BTW, in today’s Stylesheets group discussion I alluded to doing this as a “combined” template. What I meant was something like
[code]
If we were using XSLT 3, could make this somewhat more compact using a map:
[code]
But this stylesheet is in XSLT 2.
(Beware — neither of these is remotely well tested.)

[2022-09-08 08:55] AlexJitianu opened #568 "Errors reported by epubchecker in epub generated with 7.53.0"
Hi,

We are working on integrating TEI Stylesheets 7.53.0 into Oxygen. If you validate an EPUB with EPUBCheck v4.2.6 it reports the errors below. It appears to be related with the HTML5 doctype: _\<!DOCTYPE html>_

EPUBCheck auto detects the version by looking at the structure of the archive. In the log it reports the detected version as being "2.0.1" (I think the existence of a _toc.ncx_ is one o

[2022-09-09 17:33] sydb opened #569 "teidata.xmlName does not get teidata.name special processing?"
If an element’s content is defined in P5 itself as teidata.name it is correctly converted to `(#PCDATA)` in DTDs generated through customization. But if it is defined as teidata.xmlName it is incorrectly converted to `%teidata.xmlName;`, which is defined as ` CDATA `; thus the resulting declaration is `<!ELEMENT whatever CDATA >` which produces a fatal error.

Note that this problem does _not_ see

[2022-09-09 18:18] sydb commented on #353
Verified. [This little ODD](https://github.com/TEIC/Stylesheets/files/9537822/tst_353.odd.txt) demonstrates the problem. It is valid against tei_all and p5odds (and _almost_ valid against tei_customization). But the added elements show up as
[code]
in the RNC. (Note the missing “tst_353_att.typed.attributes” for the definition of `<tst:two>`.)

[2022-09-10 09:09] sydb commented on #543
Mostly done with this (in branch sydb_543_file_exts), but the plan outlined above does run into problems.

- What to do if the output filename is the same as the input filename? (I think the answer is to die().)
- What to do if the output file already exists? (I think the answer is to die() unless user has provided --force or --overwrite switch or some such.)

[2022-09-11 13:30] martindholmes commented on #328
@joeytakeda We will be getting nested abs in the next TEI release, so we could revive this approach. We're a long way behind, though, so perhaps we should delete our temporary branch and start again?

[2022-09-11 14:08] sydb commented on #144
Council decides to continue to use `org="choice"`, so re-opened, as it needs to work in the classSpec case.

[2022-09-11 14:21] hcayless opened #570 "Add link to translation tool from spec pages"
Add a link saying something like "translate this page" (ideally internationalized) and maybe also turn the out-of-date icons into links to translate.tei-c.org too.

[2022-09-11 14:22] #570 closed, assigned to hcayless

[2022-09-11 14:33] martindholmes opened #571 "All-examples pages in the Guidelines should make link target language explicit"
When you click on Show all to see all examples in the Guidelines, you get a list of all examples from all languages for the target element. This is a good thing, but when users click on the link "back" to the specification page from an example which is not in the language of the Guidelines they're in, they will end up on a spec page for a different language, which may be confusing. Therefore Counc

[2022-09-11 14:36] sydb commented on #571
See https://github.com/TEIC/TEI/issues/1933.

[2022-09-11 14:51] sydb opened #572 "Self-referential “Show all” buttons should be nuked"
The “Show all” buttons that bring you back to the same page should not show up in the lower R corner of an example on a _Show all_ page.

E.g., on https://tei-c.org/release/doc/tei-p5-doc/en/html/examples-p.html#index-egXML-d39e25716 each example that is from the **`<p>`** tagdoc has a “Show all” button which brings you back to the same page (i.e., goes nowhere).

[2022-09-12 13:38] HelenaSabel commented on #544
Fixed via https://github.com/TEIC/Stylesheets/pull/550

[2022-09-12 13:38] #544 closed, assigned to sydb, martindholmes, HelenaSabel

[2022-09-21 09:40] peterstadler commented on #574
moved here from OxGarage since this seems to be a genuin Stylesheets issue

[2022-09-23 14:25] HelenaSabel opened #576 "epub2 deprecation"
As discussed in the Stylesheets Group meeting on 2022-08-26:

- epub2 will stop being maintained
- the command `teitoepub` will have the same behaviour as `teitoepub3`
- the command `teitoepub2` will be created (out of the current behaviour of `teitoepub`) with a warning saying that this format is not longer maintained (but fixing #568 before since it will be a minor change)

[2022-09-23 17:39] sydb commented on #571
Assigned to @npcole to at least perform first task as described in last para of original post — find out at least repo, if not which file, we need to be looking at.

[2022-09-23 18:23] sydb commented on #574
@JEibinger —
I ran a tiny test, and the fact that some text was _italic_ and some was **bold** did make it from my ODT to the TEI. Can you be more precise about exactly what is not working for you?

I am using LibreOffice 7.3.6.2 and converting with the bin/odttotei that is in the dev branch of this repo.

I have attached [a ZIP file](https://github.com/TEIC/Stylesheets/files/9636302/tst_574.zip)

[2022-09-28 12:54] bleekere commented on #552
Changed `/usr` to `$PREFIX` as proposed in the issue cf. 3bf32eb7ac02a275b1122cb5e3f8038f27bcd4c6. The `$APPHOME` vs `$defaultAPPHOME` may require additional discussion.

[2022-09-29 15:53] #479 closed, assigned to sydb

[2022-09-29 17:18] HelenaSabel commented on #571
The Stylesheets Group worked on this issue today. After spending some time examining and debugging [this template](https://github.com/TEIC/Stylesheets/blob/dev/odds/guidelines.xsl#L284) of [odds/guidelines.xsl](https://github.com/TEIC/Stylesheets/blob/dev/odds/guidelines.xsl), we, or rather, @peterstadler, figured out  that the file we needed to modify was  [P5/Utilities/guidelines.xsl.model](http

[2022-09-29 18:40] HelenaSabel opened #580 "Improve the cleanup of test suite 1"
As @sydb pointed out, there are some regex fixes in `Test/Make` that should be included instead in `Test/cleanup.pl` to increase the legibility of the tests.

[2022-10-18 02:10] sydb commented on #571
Council is happy with the result insofar as it is definitely an improvement. Maybe more improvement will be in order later, in which case another ticket can be opened.

[2022-10-18 02:10] #571 closed, assigned to sydb, npcole

[2022-10-19 06:48] AlexJitianu opened #581 ""Use a resource collection to copy directories" error when publishing to DOCX"
Hello,

One of our users reported this issue. If you try to publish the attached XML file to DOCX  you get the _"Use a resource collection to copy directories"_ error.
Oxygen 25 comes with TEI Stylesheets 7.53.0. It might be related with the Saxon 11.4 engine which is used in the transformation.

[page_20_pdf.zip](https://github.com/TEIC/Stylesheets/files/9817503/page_20_pdf.zip)

[code]

[2022-10-21 10:14] #382 closed

[2022-10-21 10:49] peterstadler commented on #562
Still not able to reproduce here, looks like a local issue. I'll close for now, but feel free to reopen when there's new debugging information

[2022-10-21 10:49] #562 closed, assigned to hcayless, peterstadler, martindholmes

[2022-10-21 12:11] dmj opened #582 "classSpec @‍generate is ignored in Pure ODD content model"
Considere the following schema specification:

[code]
The ```classRef``` in the ```root``` element's content model asks the transpiler to create an alternation of the class members ("any one member of the class may appear"), the ```classSpec``` on the other hand declares that the members of the class are to be provided in sequence.

From my understanding this should result in an error. The stylesh

[2022-10-24 07:21] peterstadler commented on #555
For the idea of deprecating epub in favor of epub3 see #576

[2022-10-24 16:40] martindholmes commented on #555
This bug is also present in the Oxygen plugin.

[2022-10-24 16:42] martindholmes commented on #555
I think we should remove the Makefile action that copies all the CSS into a different location, and then see what breaks; then we should fix those transformations so that they look in the correct location for the CSS files.

[2022-10-27 09:12] bwbohl opened #584 "bug in common function `tei:render-subscript`"
https://github.com/TEIC/Stylesheets/blob/6dbb58c2fa458879bcf5dd19f9c8b3c392d25b89/common/functions.xsl#L295-L307

The `tei:render-subscript` function outputs `true` for `@rend` containing `sup`.

https://github.com/TEIC/Stylesheets/blob/6dbb58c2fa458879bcf5dd19f9c8b3c392d25b89/common/functions.xsl#L302

This obviously is a copy paste error from `tei:rend-superscript` and should read:

[code]

[2022-10-27 15:27] raffazizzi commented on #419
It looks like [`att.textCritical`](https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.textCritical.html) shows membership to `att.typed`, but it is commented out in the [`classSpec`](https://github.com/TEIC/TEI/blob/dev/P5/Source/Specs/att.textCritical.xml#L24)

`@subtype` is inddeed added via `attRef`

[2022-10-27 15:37] sydb commented on #538
Stylesheets group thinks the expedient solution for now is to update the documentation so that it _tells_ the user to what directory the file is relative.
Sometime later we can try to make it relative to the user’s current directory, or if that is impossible, to the input document. (And change the documentation to match.)

[2022-10-27 15:55] sydb commented on #538
@peterstadler at Stylesheets group meeting found the spot in documentation we need to change (Stylesheets/html/html_param.xsl l. 124).
@sydb to correctly check-in change we made during meeting.

[2022-10-27 16:07] sydb commented on #415
Stylesheets group discovers that they are _all_ the same, and assigns to @sydb to change those `<title ref="#XSD2">XML Schema Part 2: Datatypes Second Edition</title>` to `<ref target="#XSD2">XML Schemas: Part 2: Datatypes</ref>`.

[2022-10-27 16:16] ebeshero commented on #402
Someone needs to test what happens now with a simple ODD with removing default values. Is the behavior what we expect?

[2022-10-27 16:24] raffazizzi commented on #419
Update: the membership to att.typed shown on the `att.textCritical`'s [specs page](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.textCritical.html) is the one from attRef.

So the issue is that the attRef is not shown on the memeber element spec page (e.g. [`lem`](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-lem.html))

[2022-10-31 00:00] ebeshero commented on #582
Thanks @dmj! We should probably test the behavior of `@generate` on a sample ODD and its outputs in this context and see what we can do...It might not generate an error, but I'm also wondering under what conditions `<classSpec>` is ignored or overruled.

[2022-10-31 08:42] peterstadler commented on #555
The Makefile target that copies the CSS files is `common`:
https://github.com/TEIC/Stylesheets/blob/c89f3c76a3fb0a97c72d9c05a8b3f059d65a3f28/Makefile#L71-L74

`common` is a dependency of the `release` target:
https://github.com/TEIC/Stylesheets/blob/c89f3c76a3fb0a97c72d9c05a8b3f059d65a3f28/Makefile#L127

So, if we removed (or changed) the "copying of the CSS files" in the `common` target, we will

[2022-11-01 07:32] eduarddrenth opened #586 "unparsed-text() returned non-StreamSource for ../VERSION"
This line

https://github.com/TEIC/Stylesheets/blob/6dbb58c2fa458879bcf5dd19f9c8b3c392d25b89/common/functions.xsl#L1380

may throw "Resolver for unparsed-text() returned non-StreamSource" when "../VERSION" cannot be resolved.

In my case I run odd2html.xsl from xml-maven-plugin, it gives me:

![image](https://user-images.githubusercontent.com/10200360/199181684-e6a9ec4c-faef-4960-b9f3-aafe96ef902d

[2022-11-11 15:47] lb42 commented on #582
I agree with you that this is an error which should be  detected by the ODD processor