[2018-12-11 08:44] peterstadler commented on #350
Just a note that the OxGarage service has no LaTeX installed, so all PDF output is generated via OpenOffice. The *toLatex conversions should work, nonetheless, so you could try this and do the final LaTeX2PDF step on your machine.

[2018-12-11 15:44] nemobis commented on #350
Thanks. The conversion from TEI to LaTeX in OxGarage emits a .tex file which compiles in xetex (and pdftex), but produces a nonsense output (attached).
[document.pdf](https://github.com/TEIC/Stylesheets/files/2668232/document.pdf)

The same TEI file produces valid output with teitohtml, teitoepub and others, by the way.

[2018-12-11 16:22] lb42 commented on #350
Probably what we need to see here is the tei input file and some indication of where it goes wrong!

[2018-12-11 17:14] nemobis commented on #350
Lou, 12/11/18 6:22 PM:

Sure! It's a TEI file produced by GROBID, I'm not sure I can share it
here in public but I can email it to whoever is interested. Email me at
federicoleva AT tiscali.it.

[2018-12-14 16:50] martindholmes commented on #346
@laurentromary You have two tickets with exactly the same heading (#345 and #346), and they seem to involve the same ODD file. Can this one be closed?

[2018-12-21 21:47] martindholmes commented on #325
Lines 1244 through 1265 of common_core.xsl have templates that cause this behaviour. Commenting out those templates solves the problem for @tuurma's example, but there are other places such as the lines @jamescummings points at which do similar things. The Stylesheets Coop thinks this behaviour should be changed; names should be output by default in the order they're encoded, including intervening

[2018-12-21 22:10] sydb commented on #325
Stylesheets group, discussing this more, thinks that the order events should be:
1. Remove all the special processing of `<persName>` and its children; thus ones output will reflect whatever is in the input, period.
2. Post about this change here on the ticket and to TEI-L and in the Stylesheets change log.
3. IF someone is upset by this change, THEN ask that person to post the complaint with thei

[2018-12-21 22:11] sydb commented on #325
Assigning myself to do step (1), above.

[2018-12-24 04:35] sydb commented on #325
I tried step 1 by

1. Creating simple test input file.
1. Generating output HTML5.
1. Deleting the templates we (well, @martindholmes) found as the source of the problem during the Stylesheets group conference call. They have been replaced with a comment giving the commit number before the deletion for easy reversal.
1. Generating output HTML5.

The test file and the two output HTML5 files are her

[2018-12-24 16:51] martindholmes commented on #325
If whitespace is lost during processing, then the output isn't in fact reflecting what's in the input, which is weird.

[2018-12-24 18:44] lddubeau opened #351 "The transformtei script does not always check the status of the commands it launches"
### Versions

[code]

[code]

### Steps to reproduce

1. Go into a new empty directory.

2. Execute `teitoodd myTEI.xml /tmp/non-existent-directory/foo.compiled; echo $?`. The `myTEI.xml` file just needs to be a valid customization of TEI. I just use a stock TEI exported from http://roma.tei-c.org/

### Actual Results

1. The command output says `BUILD SUCCESSFUL`, and the exit status (the last li

[2018-12-31 09:43] peterstadler commented on #351
I agree that https://github.com/TEIC/Stylesheets/blob/fcd97d089de1bebd4e9c4e4356a9f694e302250d/bin/transformtei#L192 is too lazy and does not handle non-existent output directories properly. But was is the intended behaviour? Simply fail or rather create the directory? (I tend towards the latter …)

[2019-01-05 03:49] sydb opened #352 "error msg claims incorrect file"
The file odds/teiodds.xsl has a most peculiar error message in the "die" template. I don’t think this template is every called (at least, not from within odds/teiodds.xsl itself), but nonetheless, it is clearly erroneous:
[code]

[2019-01-05 03:51] #352 closed

[2019-01-05 19:40] sydb opened #353 "attribute value constraint and processing disagreement"
In creating schemas via ODD we use lots of attributes that are declared as teidata.name (e.g. `@key` and `@ident`). RELAX NG permits leading and trailing whitespace. However odds/odd2odd.xsl does not strip leading and trailing whitespace.

Thus
[code]
is valid and works fine, but
[code]
is valid but silently fails: in the output schema the element being specified does not actually get the `@type`

[2019-01-05 20:18] lb42 commented on #353
Option 4 plz.

Next.

reluctantly using Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Syd Bauman <notifications@github.com>
Sent: Saturday, January 5, 2019 7:40:32 PM
To: TEIC/Stylesheets
Cc: Subscribed
Subject: [TEIC/Stylesheets] attribute value constraint and processing disagreement (#353)

In creating schemas via ODD we use lots of attributes that are declar

[2019-01-05 20:56] martindholmes commented on #353
All four options please. :-)

[2019-01-05 20:58] jamescummings commented on #353
Definitely 4

[2019-01-05 23:45] jamescummings commented on #353
Are you allowed to have multiple values? If so we should process with that in mind. If not then why not strip them with translate or something rather than normalise space? Not saying that is less scary.

[2019-01-06 02:16] sydb commented on #353
No, @jamescummings, the values I am talking about are singular. (There are others that are multiple, like `moduleRef/@include`.) And sure, there are other ways to do this.

[2019-01-06 04:50] sydb opened #354 "minOccurs and maxOccurs problem"
I just tested and found that
[code]
seems to work fine, but
[code]
incorrectly spits out
[code]
That is, there are 1 too many t_publishers there.

See #135, #174, and maybe #297.

[2019-01-06 05:35] #354 closed

[2019-01-06 06:35] stuartyeates commented on #353
4

Teidata.name is defined as whitespace-free in the text, so this is just
checking an existing constraint.

Cheers
Stuart

On Sun, 6 Jan 2019 3:16 pm Syd Bauman <notifications@github.com wrote:

[2019-01-06 18:07] sydb opened #355 "TEIVERSION PI uses space-separated <edition>s"
In odds/odd2odd.xsl, the routine odd2odd-getversion provides the value for the TEIVERSION PI. It simply takes all of the `<edition>` elements from the `<teiHeader>` of the source and strings them together as a long space-separated string.
1. This means p5odds.odd should require that at least one `<edition>` be present (at the moment there always is one `<edition>` in each of the main files that wo

[2019-01-06 20:33] sydb commented on #355
(BTW, in the rub-a-dub-dubbed version of odds/odd2odd.xsl, I have eliminated the "odd2odd-getversion" template in favor of a single `<xsl:value>` that does what it did. It also uses space to separate the string values of the `<edition>`s, as I’m trying to avoid needlessly changing what the stylesheet does.)

[2019-01-09 12:23] lddubeau commented on #351
So there are two issues:

1. What to do if the directory that should contain the output file does not exist? Create it? Fail?

2. The code should be tightened so that it does not default to ignoring failures of the commands it launches. (My suggestion to add `set -e` and maybe add code to explicitly ignore errors where doing so is warranted. )

Regarding the first issue, I don't see any consistenc

[2019-01-18 16:21] martindholmes commented on #137
This was fixed at some point, not sure by whom, maybe me? Anyway, closing.

[2019-01-18 16:21] #137 closed

[2019-01-18 16:26] sydb opened #357 "Extra space before semicolon in list of suggested values in the RELAX NG"
In the annotations that list the (suggested|sample) values include in the RELAX NG there is an extra space before the separating semicolon after a value iff there is a `<gloss>` for that value.

[2019-01-18 16:56] sydb commented on #344
@martindholmes and I are trying to figure out this problem (pardon the pun). We cannot reproduce the problem for lack of access to a sufficiently modern enough version of MS Word. Is there any chance that you (@Cutuchiqueno) could provide two .docx files, one that has this problem and one that doesn’t? (Or one file with two figures, one that works, one that doesn’t.)

[2019-01-18 17:01] martindholmes commented on #331
If I look at the font in question, it appears that it supports ASCII characters, so I would have thought that the same font would render both the encoding and the text nodes acceptably. Can we see what the output looks like?

[2019-01-18 17:02] martindholmes commented on #323
I think you meant P5, not P4, right?

[2019-01-18 17:03] sydb commented on #357
@martindholmes and I have found the source of the problem, which is the `tei:makeGloss()` function in common/functions.xsl, as called from line 1199.

[2019-01-20 13:11] GVogeler commented on #323
Of course, sorry! (See update text above)

[2019-01-21 06:36] mysheepb opened #358 "OxGarage Does Not Preserve Manual Page Breaks in TEI P5"
It seems that OxGarage does not keep the manual page breaks in DOCX or ODT documents when converting to TEI documents. If I want to keep the manual page breaks in TEI documents, using the <pb /> tag, what should I do? Can I modify a "profile" or code for this purpose?

[2019-01-24 06:53] peterstadler commented on #358
I took a look at the Stylesheet `odttotei.xsl` and think I can up with a solution. PR coming …

[2019-01-24 10:08] mysheepb commented on #358
That's great! Thank you so much for your help!

On Thu, Jan 24, 2019, 14:53 Peter Stadler <notifications@github.com wrote:

[2019-01-24 10:11] peterstadler commented on #358
I just created the PR #359. Feel free to try it out—Feedback much appreciated!

Anyway, thanks for spotting and notifying!

[2019-01-24 14:59] peterstadler commented on #357
is that related or maybe introduce by #137 ?
(just for reference of the issue)

[2019-01-24 16:17] martindholmes commented on #357
I'm pretty sure it wasn't introduced by #137's fix, because it already appears in the quoted text which forms part of the bug report in #137. :-)

[2019-01-24 19:24] peterstadler commented on #351
PR merged, closing the ticket

[2019-01-24 19:24] #351 closed

[2019-02-05 20:59] martindholmes commented on #328
New branch martindholmes-issue-328 for @joeytakeda and me to work on this.

[2019-02-06 14:21] mysheepb commented on #358
I have tried the fix and it works well! Thanks a lot!

[2019-02-06 14:21] #358 closed

[2019-02-08 18:39] martindholmes commented on #328
The first two errors to tackle are those where the supposedly Lite file is not even valid against tei_all. Those errors are:

1. Nested `<ab>` elements.
2, `<attRef>` elements which apparently aren't even needed any more; they end up in the documentation for elements.

First thing to do: confirm that the `<attRef>` elements are actually not needed, by processing the bare "lite" file into XHTML wit

[2019-02-08 18:45] martindholmes commented on #328
This is the tei_bare.odd run through teitoodd then teitolite --odd.

[tei_bare_odd_to_odd_to_lite.xml.zip](https://github.com/TEIC/Stylesheets/files/2846421/tei_bare_odd_to_odd_to_lite.xml.zip)

[2019-02-12 13:46] Cutuchiqueno commented on #344
Yes I'll do next time when I get back to it my transformation tasks

[2019-02-15 22:05] martindholmes opened #360 "Links from element names to their Spec pages in the PDF are broken"
In the current release of the Guidelines PDF, element names are linked, but instead of linking to their individual spec pages, they all link to the same place: the beginning of Appendix C1.

[2019-02-15 22:07] jamescummings commented on #360
Confirm that this is the case.

To reproduce, see https://www.tei-c.org/release/doc/tei-p5-doc/en/Guidelines.pdf, find an element name and click on it. You go to the correct appendix but not the element itself. (Something to do with IDs in creating the LaTeX?)

[2019-02-15 22:56] sydb commented on #357
Stylesheets group discussed this. We think the best idea is to change tei:makeGloss() so that it returns a single string (rather than node()*), which has no leading or trailing space; and change the 6 places where tei:makeGloss() is called so each expects that (a single string w/o leading or trailing whitespace). We also think this is the hardest fix to implement.

Easier would be to change the on

[2019-02-17 20:37] peterstadler commented on #360
I checked the code base and couldn't find any recent changes that might be responsible for the issue at hand. (The PDF is the result of the chain ODD->Lite->LaTeX->PDF and the Lite output features the needed `@xml:id`s, and the tex-file looks good as well)

Hence, I believe the TeX-processing has changed somehow?  Somehow the `reflist` (the LaTeX wrapper for every spec) is not seen as a sectionlik

[2019-02-18 14:55] martindholmes commented on #328
@joeytakeda Have a look at this ticket, which I hope will make one category of our issues moot: https://github.com/TEIC/TEI/issues/1856.

[2019-02-21 13:45] EsGeh commented on #212
Btw. the `corpusList` parameter doesn't work as expected (by me).
I had to use the following funny syntax to make it process a single file only:

    java -jar "./Stylesheets/lib/saxon9he.jar" \
      "./Stylesheets/tools/oddbyexample.xsl" \
      -o:"$OUTPUT_DIR/$output_file" \
      -it:main \
      corpusList=$(realpath $INPUT_DIR)?select=$INPUT_FILE

(where `$INPUT_FILE?` is a file inside `$IN

[2019-02-25 16:29] martindholmes commented on #355
@sydb and @martindholmes thinking about this: Why is the PI there if the first place? Is anything done with it? Why not just output a separate PI for each `<edition>` found?

[2019-02-25 16:47] martindholmes opened #361 "egXML examples need the egXML namespace in output"
@sydb and @martindholmes looking at egXML discovered that Guidelines examples of `<egXML>`:

https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-egXML.html

don't show the crucial examples namespace. Anyone copy-pasting from the examples will have a problem with this. It's slightly tricky to implement, but it's pretty important to show the xmlns on the element because that's what causes somet

[2019-02-25 16:49] sydb commented on #361
Note that this is similar to #118.

[2019-02-25 18:39] martindholmes commented on #361
Should we close it? That other one hasn't had much love, though.

[2019-02-25 18:57] lb42 commented on #361
Not really : 118 is complaining about the *invalidity* of a file which includes an egXML inside an egXML. This one is complaining that the examples don't show the correct use of namespace. To address that point, I note that (a) there is a comment immediately ahead of the first example in https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-egXML.html reminding you that a namespace declaration

[2019-02-25 19:29] lb42 commented on #118
As formulated above, this is simply not true. You can put namespace declarations, with or without a prefix, on the child elements of an egXML to your heart's content and they will appear in the output. What you *can't* do is declare the namespace   **http://www.tei-c.org/ns/Examples** on a child element of an egXML, and expect to see it appear in the output. The declaration for that element puts b

[2019-02-25 19:54] sydb commented on #361
While I see @lb42’s point (we could get away with just improving the nearby prose that says “use the namespace” and using CDATA marked sections), I’m inclined to say those are good temporary hacks that we should use until such time as we fix this and actually do it right. And the existence of these hacks allows us to make fixing it a relatively low priority issue. But we really ought to be allowin

[2019-02-25 20:03] lb42 commented on #361
You can specify namespaces inside egxml. Just not the examples namespace. See my comments on the "unloved" ticket

[2019-02-25 21:54] martindholmes commented on #118
@lb42 I think you're missing the point. I think there needs to be special-case processing for a nested `<egXML>` which explicitly adds the xmlns declaration in the output, because we know that it's going to appear as an example, and it needs that declaration to avoid confusing the reader.

[2019-02-25 22:02] lb42 commented on #118
I don't think I was missing the point: I was addressing what this ticket actually says, not what you are now saying you meant! Don't you think special case processing of this kind is  a bit dubious ?  though I note that we are apparently doing something like this already  for the TEI element : an egXML containing a TEI with a namespace will cause an error, whereas one without one will get one adde

[2019-02-25 22:07] martindholmes commented on #118
The element is actually in the examples namespace; when we output it as an example without that declaration, we're getting it wrong. If you take an element out of a context in which it inherits a namespace from an ancestor, the namespace needs to be carried with it, and should show up if it's serialized as the root of its own fragment or document. We'll probably have to special-case this because t

[2019-02-28 19:07] sydb opened #362 "invalid RNG from empty <altIdent>"
See also #243.

Current processing produces an invalid `<element name="">` from an `<elementSpec>` with an empty `<altIdent>` child. Not clear on the face of it whether the solution should be
1. to ignore empty `<altIdent>`s so this does not happen, or
2. to fix TEI schema so that empty `<altIdent>` is not allowed, as it is obviously nonsense, or
3. both, or
4. something else.

I am currently lean

[2019-02-28 19:12] lb42 commented on #362
2 is sufficient

[2019-02-28 19:17] martindholmes commented on #362
#3 for me.

[2019-03-03 15:21] ebeshero opened #363 "XML comments published w Schematron constraints on element pages"
Do we want our XML comments to be published on element pages as they are here? Look at
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-relation.html at the Schematron.

This is possibly related to https://github.com/TEIC/Stylesheets/issues/306 .

[2019-03-03 15:25] lb42 commented on #363
I noticed that too. I think its a corrigible errir

[2019-03-03 17:51] sydb commented on #363
I claim the system is already working quite well, if not exactly as designed. A comment that is a child of `<constraintSpec>` is ignored, and a comment that is a child of `<constraint>` is displayed. Thus if you don’t like the comment displayed on that page, you either reword it until you do or move it up one level in the hierarchy.

[2019-03-03 17:52] lb42 commented on #363
I vote for moving it up a level.

[2019-03-03 17:57] sydb commented on #306
Another vote for 1.
And while I do not think this ticket is the place to approach that elephant, @martindholmes’ point is well taken. Someday we should internationalize Schematron messages.
However, a related issue that perhaps should be on this ticket is that although @hcayless is correct, the Schematron for an attribute is displayed elsewhere, it is pretty ugly on anything but very wide screens.

[2019-03-03 18:02] lb42 commented on #306
Definitely 1. (I am also ready to vote to suppress the RNG display  entirely -- or complement it with the DTD and Schema versions)

[2019-03-11 17:52] martindholmes commented on #357
I think the merge of Peter's pull request to fix the broken build has undone this fix. Needs to be re-implemented. I'm not sure why this happened.

[2019-03-11 21:25] peterstadler commented on #357
That's hopefully not the case though I admit that I tweaked the processing a little bit in
f4e343d (but referenced it here properly ;)
The rest of the change from 7f30618 is untouched, see https://github.com/TEIC/Stylesheets/blob/f4e343dbb264d4ab968e3c7775fcd720018fa592/common/functions.xsl#L1201

[2019-03-15 22:27] peterstadler commented on #357
@martindholmes can you give an example where you see that extra space before the separating semicolon?

[2019-03-16 22:54] sydb commented on #143
Sorry, @Jean-Baptiste-Camps, but I cannot reproduce any error, here. That is, there is no difference for me (except the timestamp) of the XHTML generated from the code above with or without the `xml-model` PIs at the top. How are you generating documentation?

[2019-03-16 23:06] sydb commented on #150
@hcayless — Can you confirm that this is still a problem? (My quick glance says yes.) Can you confirm whether this “only occurs if there is a single attribute in the nested class”? (I don’t really know what that means.)

[2019-03-17 15:10] sydb commented on #171
@susannehaaf:

1. Is this still a problem?
2. If so, is it easy for you to either post your 2 ODDs or to post a pair of minimal ODDs that show the problem?

I’m thinking this is related to #355.

[2019-03-18 03:16] sydb opened #365 "value list as element content incorrectly documented"
Ticket #154 has been mostly addressed — the RELAX NG content model output of a `<valList>` inside a `<content>` seems to be correct. (At least, in the non-comprehensive test @martindholmes and I ran.)
However, the HTML documentation (and presumably the PDF and others, as well) puts the controlled vocabulary in a screwy place. Instead of putting the information about the limited values allowed as t

[2019-03-18 03:19] sydb commented on #365
And, BTW, if anyone can tell me why the added `<wwp:sst>` element defined by the t365.odd file appended to the above comment does not show up in the RELAX NG, I’d appreciate it. (And it shows up bizarrely in the HTML.)

[2019-03-18 03:20] sydb commented on #154
Yup. Seems to be working just fine. However, the documentation is problematic. Hence closing this ticket, and just opened #365.

[2019-03-18 03:20] #154 closed

[2019-03-18 13:38] #361 closed

[2019-03-18 15:34] martindholmes commented on #357
Sorry @peterstadler, my mistake. My Test2 expecte-results were out of date.

[2019-03-18 15:34] #357 closed

[2019-03-22 07:58] peterstadler opened #366 "multiple declarations of sch:ns (for the same @uri) break the ODD processing"
as @cmsmcq reports in https://github.com/TEIC/Roma/issues/26

[code]

[2019-03-23 15:29] sydb opened #368 "teitoschematron fails miserably"
The `teitoschematron` program, whether specified with --localsource or not, fails to generate actual Schematron. The output has an `<sch:title>`, several comments, and a single  `<sch:ns>` declaration, but no rules; the fact that `<sch:ns>` declarations for xs: and rng: are missing makes me think it is never reading in p5subset.xml at all.

I do not know for sure if this is caused by ADHO server f

[2019-03-30 16:24] peterstadler commented on #366
fixed by #367

[2019-03-30 16:24] #366 closed

[2019-04-15 15:53] martindholmes commented on #355
@sydb and @martindholmes investigated further, and we now see that:

The edition element being processed is the one in the p5subset.xml file, where there is only one.
The resulting processing instruction is consumed in order to create comments in output schemas.
The processing all looks under-documented and fragile but it's working fine.

We think what needs to be done is documentation at the poin

[2019-04-15 18:12] martindholmes commented on #103
@Dominique-M We (@sydb and me) have been looking at your three similar tickets here (we apologise for taking so long to get to this), and we're a bit puzzled because the problems you're reporting seem to relate to the presence of `<group>` in a TEI file, but test file you link to from all three tickets doesn't have a `<group>` element. Did you link to the wrong test file?

[2019-04-15 19:52] Dominique-M commented on #103
Well, I forgot about this. Of course, with some research I could find
back what I meant.

In the meanwhile, about the test file: all my TEI projects are
subfolders of a TEIworkbench folder (so that ../ or ../../ always point
to the same). Among them, sandbox folder for some tests, with the very
little specific filenames sandbox.xml and sandbox.xsl. I suppose I then
placed a symlink to this in my w

[2019-04-19 18:11] emylonas opened #370 "can't add mode="replace" to attribute class"
Trying to make changes for TEIC/TEI#1867.  This works for the one element, `<constraintSpec>` which has`@mode="replace" and '@mode="change"` seems to work for several other elements. but compile fails when new class is added and attribute definition is given `mode="replace".

[2019-04-19 18:15] sydb commented on #370
That is, specifying `mode="replace"` on an `<attDef ident="type">` inside a `<classSpec>` when the class itself is also a member of att.typed (and thus already had `@type`) causes a build failure:
[code]
It shouldn’t.

[2019-04-19 21:51] martindholmes commented on #370
@sydb and @martindholmes have narrowed down the problem to what's happening in the odds/classatts.xsl file, where some clever processing takes place to handle cases where attDefs in elementSpecs override those inherited from classSpecs of which the elementSpec is a member. This process is not done for classSpecs (yet). Simply editing the match attribute to cause classSpecs to be processed as well

[2019-04-29 15:52] martindholmes commented on #355
@sydb and @martindholmes have added explanatory comments. Closing the ticket.

[2019-04-29 15:52] #355 closed

[2019-04-30 19:45] sydb opened #371 "replacing a duplicated attribute duplicates new one"
I was creating a new element and wanted it to have `@target`, `@evaluate`, `@targetLang` (which make up att.pointing), and `@match` (which, with `@target`, makes up att.scoping). (See the [related issue](https://github.com/TEIC/TEI/issues/1876) on those classes.)

I figured right away that if I just used
[code]
I would end up with an invalid schema due to duplicate declarations of `@target`. So I

[2019-05-07 15:49] ebeshero opened #372 "Why is the contents of egXML coming out as "character data only"?"
See https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-egXML.html . This is clearly an error, but how do we fix it?

[2019-05-07 16:20] martindholmes commented on #372
I think this is because the Stylesheets don't handle nested egXMLs properly. There's a ticket about that somewhere...

[2019-05-08 13:43] peterstadler opened #373 "attribute values for page (and column etc.) ranges are suppressed in the output"
During Council f2f our subgroup was tasked with PR #348. While we wholeheartedly agree with the desire to change this, we identified several corner cases that should be addressed here as well:

* other units, e.g. 'column', 'line' (see [att.citing](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.citing.html))
* no `@to` supplied but only `@from`
* `@from` and `@to` *and* text content

[2019-05-08 14:28] peterstadler commented on #337
This would be great to have, but Council members have no expertise nor ongoing project with Indesign right now. If you can find someone to work on this and create a pull request we're happy to support you with the implementation (deciding where to put things, etc.).

[2019-05-08 14:30] ebeshero commented on #249
Per pull request https://github.com/TEIC/Stylesheets/pull/343 F2F Washington subgroup tested the code against an ODD with multiple schemaSpecs (and multiple elementSpecs within one of those schemaSpecs). We have made some improvements to the original code so it can properly select among  multiple schemas when it's selected by parameter, and still merge multiple `*Spec` elements within it.

[2019-05-08 14:34] hcayless commented on #309
Ping for Magdalena to look at this. Council subgroup thinks this sounds like something that ought to be fixed.

[2019-05-08 15:02] raffazizzi commented on #249
Just a note from the Washington F2F: @sydb raised the issue that using `ancestor::` to look up for the selected `schemaSpec` may not work if `<specGrp>`s are present. However we tested that `<specGrps>` get placed where they're invoked by `<specGrpRef>` *before* the keys are generated. Therefore our fix works.

[2019-05-08 15:02] #249 closed

[2019-05-08 15:30] gerritbruening commented on #337
Perhaps @pglatza could be asked whether he is able to help. See his comment on https://github.com/faustedition/faust-gen-html/issues/596#issuecomment-420658356.

[2019-05-08 20:33] peterstadler commented on #360
Just checked the proposed fix:
* cross references to attributes, elements, datatypes, macros do work
* cross references to bibliographic items *do not* work. See e.g. references in footnote 5

[2019-05-17 06:20] peterstadler opened #375 "broken links in ePub"
## what's wrong

The recent merge of the PR #336 introduced an issue with internal chapters links. The ePub file `Guidelines.epub` is actually a zip archive with the following structure:

[code]
See, e.g. the file `AB.html` and compare
the old, correct output as of ed6ac726
[code]

with the current dev branch
[code]

Strangely enough, only the epub transformation seems to be broken while the html

[2019-05-17 10:53] jamescummings commented on #375
Thanks for the issue. So somewhere there _used_ to be processing of links for HTML that did something differently and now the new processing doesn't build the bit with the filename?

[2019-05-17 14:02] peterstadler commented on #375
@jamescummings No, the standard HTML processing is not affected (because it does not include `odds/teiodds.xsl` which was changed in #336)! The epub processing, on the other hand, does include  `odds/teiodds.xsl`, see https://github.com/TEIC/Stylesheets/blob/4bdb73d806014992a2e5ea56f58834d3c61bcb72/profiles/tei/epub3/to.xsl#L16

[2019-05-17 14:04] jamescummings commented on #375
Ah, I see. And partly that is because one of the things being produced by the EPUB conversion is a copy of the Guidelines?

[2019-05-20 14:20] peterstadler commented on #375
Since the original intention of #336 was to only alter the RelaxNG output, Stylesheets group decided on 2019-05-20 to better move the newly introduced templates from `teiodds.xsl` to `odd2relaxng.xsl`.

[2019-05-31 17:04] sydb opened #376 "attr inherited from class cannot be changed in class"
If an `<elementSpec>` has both a child `<memberOf key="att.typed"/>` and a child `<attDef ident="type" mode="change">` the right thing happens. If a `<classSpec type="atts">` has the same combination of children the build fails with “Duplicate attribute uses with the same name and target namespace are specified. Name of duplicate attribute use is 'type'.”

The following diff output shows what I di

[2019-05-31 17:28] lb42 commented on #376
This seems unsurprising. An attribute class is not the same kind of beast as an element. Presumably, attribute class definition has to be resolved before element definition, since the latter uses the former.

[2019-06-11 15:33] sydb opened #378 "seems that $defaultTEIServer needs updating"
Line ~62 of file odds/odd2odds.xsl sets the variable $defaultTEIServer to the value `http://www.tei-c.org/Vault/P5/`. But noting that the following tiny test outputs “false true”, it seems to me that it should be set to `https://www.tei-c.org/Vault/P5/` instead. (Note the ‘s’ — i.e., using httpS protocol.)

HOWEVER, while testing that, I notice something else mildly distressing: execution of this

[2019-06-11 15:43] sydb opened #379 "“Source not readable” message is awfully confusing"
The message set at line ~258 of file odds/odd2odd.xsl is annoyingly problematic. Most importantly, it is not clear to anyone who does not read the code what file was not readable. Also it is not clear what anything else is. Furthermore, I don’t know if the expression name($top) will ever have a value, as $top is set to a document node.

So unless there are objections, I thought I would try changin

[2019-06-11 19:27] martindholmes commented on #378
One solution would be to configure our servers so that resource files such as p5subset.xml are available over plain http. However, that runs counter to the general trend towards adoption of https, and it seems to me that security is an important issue when you're downloading and saving a local copy of a file which will then be used as part of a build process. If the 30-second overhead relates to t

[2019-06-16 20:44] peterstadler commented on #378
@sydb Just to be sure you're working on a current branch … That line 62 was altered 3 months ago by some @peterstadler to update the scheme to https:
https://github.com/TEIC/Stylesheets/blob/2a01be46ee82fce5eba6074359b3d18db2222e0c/odds/odd2odd.xsl#L62

[2019-06-16 20:52] peterstadler commented on #378
I just tested your script and can't reproduce your timings.
Within Oxygen it takes ~5sec for me. From the command line (Saxon-HE 9.8.0.15J) ~3sec.

[2019-06-16 23:48] sydb commented on #378
Hah! Thank you. Yes, it looks like I was on correct branch, but that no, I did not have correctly updated odds/odd2odd.xsl due to a blocking local change. But that @peterstadler fellow is impressively prescient, don’t you think? Solving my problem 3 months before I submit it? My hero.

(Kidding aside, thank you, @peterstadler; well done, again.)

I also just repeated timing tests, and am getting s

[2019-06-21 16:31] martindholmes commented on #370
@sydb and @martindholmes went back through the commits and tested the build, and determined that the problem was introduced by the merge at https://github.com/TEIC/Stylesheets/pull/343; that particular merge contains lots of individual commits, but at least we're a bit closer to figuring out when it happened.

[2019-06-21 21:00] sydb commented on #370
Stylesheets group comes up w/ the following replacement for a template in odds/odd2odd.xsl:
[code]

[2019-06-21 21:30] martindholmes commented on #370
The above function didn't actually work, but subsequent tests show that the problem with simplePrint is that it consists initially only of specGrpRefs, and those refs are not expanded early enough in the process. So we need a pass before pass0 which will expand all specGrpRefs.

[2019-06-21 21:43] ebeshero commented on #370
Quick summary of where we stopped the meeting: We were constructing a variable *as* a document-node() with guidance from the Kay book, to store the expanded specGrpRefs and pass them to the `key()` definition as its third argument, which defines its context and must be a document-node.

[2019-06-22 13:05] sydb commented on #370
Do tell, @ebeshero, y’all are talking about using the XSLT 2.0  `<xsl:document>` instruction, yes? That’s where my head is going right now. I played with it — dividing pass0 into two passes — for perhaps half an hour this morning. **But** I am no longer convinced this is a stylesheets bug!
I think it may be a tei_simplePrint problem. Namely, that it (P5/Exemplars/tei_simplePrint.odd) has two `<cla

[2019-06-22 13:06] sydb commented on #370
Oh, but that’s silly, isn’t it — this ticket is about mode="replace" in attribute classes other than simplePrint. We were just using simplePrint as a test case yesterday. (Possibly a red-herring test case, though.)

[2019-06-22 16:17] martindholmes commented on #370
We should definitely fix simplePrint, and add some Schematron to prevent this duplication. It makes no sense in a single ODD file.

[2019-06-22 17:56] Dominique-M opened #382 "index, term in head appears in table of contents"
Element index is considered out of normal text content; it is allowed in head, where indeed its content does not appear in HTML. But it does appear in the table of contents.
See http://www.d-meeus.be/linux/sandbox/fruits.html transformed from http://www.d-meeus.be/linux/sandbox/fruits.xml with /usr/share/xml/tei/stylesheet/html5/html5.xsl (7.47.0).

[2019-06-28 20:46] martindholmes commented on #370
@sydb and @martindholmes have added fixes (TEIC/TEI/#6589fca) (along with @lb42 ) to simplePrint to avoid cases where there are multiple *Spec elements with the same `@ident`. This should fix the build process for the moment.

[2019-06-29 15:27] lb42 commented on #370
This change does cause the make to fail a little further on: something is apparently going wrong in the generation of the -examples.rng file, or the nvdl file which calls it. I can't reproduce the problem using the current "bleeding edge" framework in oXygen, which obstinately goes on doing the right thing, so I am still puzzled.
[code]

[2019-06-29 18:13] lb42 commented on #370
On closer inspection, these are all genuine errors, or at least discrepancies between what the prose of the TEI Simple doc says is possible, or exemplifies, and what the schema supports.

1. the attribute @rhyme is not available, though an example uses it and the prose discusses it.
2. the attributes @key (on name) @lemma and @lemmaRef (on w) likewise
3. several values used  for @type (on name) co

[2019-06-29 20:25] lb42 opened #383 "TEI Simple Print examples not supported by TEI Simple Print schema"
The following discrepancies between what the prose of the TEI Simple doc says is possible, or exemplifies, and what the schema supports have been shown up by having a proper validation of the examples.

- the attribute @rhyme is not available, though an example uses it and the prose discusses it.
- the attributes @key (on name) @lemma and @lemmaRef (on w) likewise
- several values used for @type (

[2019-06-29 20:29] lb42 commented on #383
Fixing the first two involves adding classRefs for the relevant classes, which I have now done. I also changed the examples to use legal @type values, and not to use unavailable elements. If we were doing a proper revision of SimplePrint, we'd probably use @pos rather than @ana, but this was not available at the time simplePrint was designed, so I have just added a comment to that effect.

fixed a

[2019-06-29 20:29] #383 closed

[2019-06-29 21:45] peterstadler commented on #375
I think that's been fixed by 2a01be4 but we should double check when the build is ok again.

[2019-07-03 16:09] sydb commented on #370
Note: there is a work-around for this problem att.entryLike: instead of being a member of att.typed, att.entryLike gets its `@subtype` by using an `<attRef class="att.typed" name="subtype"/>`, and creates its own `@type`. This has almost exactly the desired effect in the outputs, in that the `@type` of att.typed is crossed out. (Just for the wrong reasons, eh?)

[2019-07-03 16:11] martindholmes opened #384 "Processing of `@attRef` pointing at a class produces ugly output"
@sydb and @martindholmes found that the output shown on this page:

https://teijenkins.hcmc.uvic.ca/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/ref-att.entryLike.html

is the result of the processing of a workaround for the bug in #370. However, it includes an unnecessary introductory word "Attributes". Although in this case it's a workaround, legitimate cases for

[2019-07-05 19:48] peterstadler commented on #375
build is ok, ePub looks good :)

[2019-07-05 19:48] #375 closed

[2019-07-05 21:18] martindholmes commented on #360
This all looks fine to me, but I know nothing about LaTeX, so my opinion is pretty worthless. If it fixes the problem, though, go for it!

[2019-07-05 21:23] peterstadler commented on #360
Thanks @martindholmes! Have you been able to build the PDF on your machine (and check those links)?

[2019-07-05 21:38] martindholmes commented on #360
I don't have all the xelatex stuff installed on my machine. I'll have to get all that working first, then I'll try.

[2019-07-05 21:55] martindholmes commented on #360
Building with the peterstadler-issue360 version of the Stylesheets, I see that many links do work, but links from chapter prose (using `<gi>`) to appendix spec pages don't work; they still seem to point to the appendix as before. For example, go to p. 40 and click on the first instance of `<projectDesc>'. My build process does end with an error, with no helpful information, but the PDF is created.

[2019-07-10 22:19] peterstadler commented on #360
just checked again with my local build (and found a tiny cosmetic flaw I fixed in a83ee2de5ad47fbfe11073a8fdf32d54abada97a)

That said, I can't reproduce @martindholmes' issue on p. 40 but do get a nice output. Please have a look at the PDF at https://uni-paderborn.sciebo.de/s/dlglQarJd52xRLN which I built locally.

[2019-07-10 22:43] martindholmes commented on #360
Your locally-built one is indeed fine, so I would push to dev and see what Jenkins does.

[2019-07-11 05:39] peterstadler commented on #360
Thanks again @martindholmes for checking! Would you mind to hit the "merge" button yourself since @jamescummings is probably distracted by DH@Utrecht?

[2019-07-12 06:41] peterstadler commented on #360
PR merged, checked the [PDF on Jenkins](https://jenkins-paderborn.tei-c.org/job/TEIP5-dev/277/artifact/P5/release/doc/tei-p5-doc/en/Guidelines.pdf), all seems fine, closing :)

[2019-07-12 06:41] #360 closed

[2019-07-21 17:43] lb42 commented on #349
If you want to further restrict a TEI datatype, why not just define a new dataSpec? I suspect that the logic of combining a restriction with a predefined TEI datatype (which might itself have a restriction) may be a bit less than obvious.

[2019-07-21 18:12] sydb commented on #349
Well, you’re absolutely right, @lb42, that creating a new datatype with `<dataSpec>` is another way to do this sort of thing, and may even be a better way. But the documentation for `<dataRef>` _says_ that you can use `@restriction` exactly like this. So I still think we should either fix the Stylesheets so it works or add a remark that says you shouldn’t use `@restriction` with `@key`. (And schem

[2019-07-21 18:21] lb42 commented on #349
The spec doesn't actually say you CAN use @restriction with @key, though I agree it doesn't forbid it as firmly as it forbids using a child dataFacet with @key. Since this (using dataFacet) is really very similar, I'd vote for tweakling the existing schematron rule to prohibit either.

[2019-08-08 14:03] lb42 commented on #371
Have you tried redefining the class so that one  of them does not provide @ target?
[code]

[2019-08-09 15:41] martindholmes commented on #370
@sydb and @martindholmes coming back to this: the attached test file reproduces the core problem.
[issue370.odd.zip](https://github.com/TEIC/Stylesheets/files/3487028/issue370.odd.zip)

[2019-08-12 11:24] peterstadler opened #386 "docx to tei unable to deal with shapes"
output is simply:

[code]

(originates from https://github.com/TEIC/oxgarage/issues/9, for a test file see [comment](https://github.com/TEIC/oxgarage/issues/9#issuecomment-520276248) there)

[2019-08-13 18:12] martindholmes opened #387 "jTEI transformation fails to handle rendition elements and attributes correctly"
In a jTEI article, it should be possible to specify a `<rendition>` element in the header, and point to it from a `<hi>` element like this:

[code]

However, there are two problems with this. Although the ODT transformation handles it successfully, the PDF transformation doesn't do anything; and the Schematron for some reason flags it as an error: "Please remove all rendition definitions that aren

[2019-08-14 12:42] rvdb commented on #387
@martindholmes Actually, I don't think the ODT transformation is rendering the bold example you've provided, either (at least, not in my quick test, and I don't immediately see any `<rendition>` / `@rendition` related code in the XSLT). I think `<rendition>` is only honoured in the OpenEdition format, since the Lodel import process transforms its contents to HTML `@style` instructions. Which is wh

[2019-08-14 15:50] martindholmes commented on #387
@rvdb I did manage to get bold output in the ODT when I was editing article 179, but now I can't reproduce it. No idea how I did it. But that's better in a way because it means that ODT and PDF are in sync.

Sorry, I meant Private URI Scheme. My vague memory is that our plan was to allow the use of any of the renditions already defined in simplePrint:

https://github.com/TEIC/TEI/blob/dev/P5/Exemp

[2019-08-16 10:05] rvdb commented on #387
@martindholmes I don't recall the plan to support the simplePrint renditions for ODT and PDF. On the contrary: I do remember us pondering the idea to remove `<hi>` alltogether, so that all rendering would be done on the basis of "semantic" elements without specific renditions.

We do support custom renditions in OpenEdition indeed, but that's just a matter of copying the `<rendition>` elements tha

[2019-08-16 15:13] martindholmes commented on #387
@rvdb This whole notion must have remained inside my head, then. :-) I think it would be a good idea, but there are a few wrinkles. There are a few things in simplePrint that we probably couldn't or shouldn't attempt to reproduce (top-braced would probably be really difficult; double-underline would maybe be overkill), but if we took a curated subset, we could probably do it. I'll have to look int

[2019-08-16 21:44] martindholmes commented on #370
Stylesheets group looked again at this, and determined that the approach of changing `<xsl:template match="elementSpec" mode="classatts">` to also match `classSpec[@type='atts']` is still promising; if we do that, the initial problem is fixed, but other problems are created by the function `<xsl:function name="tei:attclasses" as="node()+">`, which would have to be modified to avoid duplicating att

[2019-08-30 16:05] TomazErjavec opened #389 "docx problem with <hi> over special chars (with fix!)"
For special characters that are in DOCX files written with `<w:sym>` the conversion from DOCX ignores their styling, i.e. does not wrap them in `<hi>` with appropriate `@rend`.
For an example see http://nl.ijs.si/tei/convert/log/rP7WlZiWM1/Pravopisna_pravila-vzorec_2019-08-28/tei.xml where the symbol ⇒ should have been converted to `<hi rend="color(0070C0)">⇒</hI>` (ditto for ∧)  but isn't.

The c

[2019-09-13 20:20] martindholmes opened #393 "Need to make deletion of `<defaultVal>` work"
Following the implementation of https://github.com/TEIC/TEI/issues/1807, we need to add whatever processing is needed to make `@mode` work on the `<defaultVal>` element. The primary use-case is delete, but we should also decide if there's going to be any difference between `@mode='replace'` and `@mode="change"` on this element, and if so, what it is (I don't see how there could be a difference mys

[2019-09-16 11:14] peterstadler commented on #389
fixed in #390

[2019-09-16 11:14] #389 closed

[2019-09-16 11:48] peterstadler commented on #345
Just tested both with OxGarage and locally with Oxygen 21.1. and both produced a valid DTD without any further ado.

So closing here, but feel free to reopen if the error resurfaces.

[2019-09-16 11:48] #345 closed

[2019-09-16 11:48] peterstadler commented on #346
seems like a duplicate of #345 which just got closed.

[2019-09-16 11:48] #346 closed

[2019-09-18 08:22] martindholmes commented on #328
Based on the Council F2F in Graz, I believe it's unlikely that nested `<ab>` elements will ever be valid, so this strategy in odd2lite needs to be replaced by something better. The simplest option might actually be another processing pass at the end that revises these structures specifically.

[2019-09-18 09:46] martindholmes commented on #213
I'm going to close this because it's become rather vague and genera; the original problems are already fixed.

[2019-09-18 09:46] #213 closed

[2019-09-18 09:48] martindholmes commented on #216
Closing this because I'm no longer working on Test, and the original issues are fixed.

[2019-09-18 09:48] #216 closed

[2019-09-27 09:05] AlexJitianu opened #395 "Update jquery due to vulnerability issues"
The library in question is `profiles/oepack/epub/jquery-1.6.1.min.js` and presents this vulnerability:
https://nvd.nist.gov/vuln/detail/CVE-2019-11358

At first glance, I see it being used inside `profiles/oepack/epub/to.xsl`. I've published to Epub using this profile and without jquery and I can't say that I saw any difference... Could it just be removed?

[2019-09-29 20:18] peterstadler commented on #395
I've only found the jQuery library in question in `profiles/oepack/epub/to.xsl` as well. Yet, it's probably needed for the other javascript libraries (`popup.js`, `jquery-css-transform.js`, `rotate3Di.js`) to work, so we can't simply remove it. I will look into updating to a recent jQuery version.

[2019-09-29 21:22] peterstadler commented on #395
In the 'oepack' epub profile some javascript is used to animate notes. I couldn't find an example document at the Oxford Text Archive (which I believe this profile is aimed at) now with this feature so I was unable to test the updated jQuery library.
The acute vulnerability should be fixed, though, and if other incompatibilities surface we'll deal with it then ;)

[2019-09-29 21:22] #395 closed

[2019-10-02 16:13] hcayless opened #396 "Incorrect "may contain" text for anyXML"
Elements that have `<anyXML>` in their content model, e.g. [egXML](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-egXML.html) and [xenoData](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-xenoData.html) have the message "Character data only" in their "May contain" section. This must be a bug in the tagdocs processing. We probably never noticed it when Pure ODD came out.

[2019-10-13 17:13] Dominique-M opened #397 "critical apparatus repeated in HTML"
I have a problem with the HTML rendering of a critical apparatus. Under http://www.d-meeus.be/marxisme/classiques/Capital-Ichap24.html#Capital-Ichap24para7, in the left quotation (see in German: “Worauf kommt…”), I compare (as app→lem-rdg-rdg) with previous editions. To have the apparatus appear directly linked to the quotation, I did, in cit→quote-bibl, introduce a floatingText inside quote. Inde

[2019-10-14 21:04] raffazizzi opened #398 "`@restriction` on `<dataRef key="teidata.XXX"/>` doesn't seem to work"
While restrictions on XML datatypes seem to be processed correctly, restrictions on TEI-defined datatypes seem to be ignored when generating relaxng.

Example:

[code]

results in a this datatype in the rng, which is just the usual teidata.enumerated:

[code]

I also see that P5 source does not have any examples of using `@restriction` as I'm describing, making is easy to not notice this problem.

[2019-10-14 21:06] raffazizzi commented on #398
Duplicate of #349 , closing.

[2019-10-14 21:06] #398 closed

[2019-10-14 21:51] raffazizzi opened #399 "<code> in <desc> gets dropped in rng"
The text gets entirely dropped, e.g.

[code]

results in:

[code]

Note how the content of `<soCalled>` is kept (though without adding quotation marks).

[2019-10-24 15:35] martindholmes commented on #393
@sydb and me, prepping for the Stylesheets meeting, believe that the choose element starting here:

https://github.com/TEIC/Stylesheets/blob/dev/odds/odd2odd.xsl#L1763

is the place where the change needs to be made. It looks like the only thing that needs to be done is to implement the delete, since the use of the justcopy mode on the `$New` element would probably do the right thing for a replace

[2019-10-24 17:24] sydb commented on #393
[Here](https://github.com/TEIC/Stylesheets/files/3768703/test_defaultVal.odd.txt) is a little test ODD customization file we can use for testing. Currently the output is invalid RELAX NG due to duplicated defentions of the attribute patterns.

[2019-10-29 16:19] martindholmes opened #400 "Some XSL libs still point to http://www.tei-c.org/Vault/P5"
Some libs have been changed to use https, but others are still pointing to plain http, which will no longer work when trying to retrieve p5subset.xml. Is there any reason not to change all of these?

[2019-10-31 18:53] Dominique-M commented on #397
I prefer not leave the faulty HTML online, therefore I publish instead http://www.d-meeus.be/linux/sandbox/Worauf.xml and http://www.d-meeus.be/linux/sandbox/Worauf-indent.html. (HTML from OxGarage, indented with xmllint --format.) As above:
(i) the apparatus is repeated in HTML;
furthermore:
(ii) it gives a <a class="notelink" number in the text, calling the note, but no number at the note;
(iii)

[2019-10-31 19:07] Dominique-M opened #401 "HTML span containing block elements"
In http://www.d-meeus.be/linux/sandbox/Worauf-indent.html (from http://www.d-meeus.be/linux/sandbox/Worauf.xml through OxGarage), one can find on line 43 a blockquote child of span, which is invalid HTML.

[2019-11-01 15:23] martindholmes commented on #399
I think this is handled in common/functions.xsl's tei:makeDescription() function, which has this:

[code]

So the actual processing is all done in "inLanguage" mode. That brings us back to the teiodds.xsl file, where we find this:

[code]

So I think it's possible that if we just add handlers for `<tei:soCalled>` and `<tei:code>`(and anything else pertinent) to teiodds.xsl, without a mode attribut

[2019-11-02 14:31] sydb commented on #399
([Here](https://github.com/TEIC/Stylesheets/files/3800569/test_defaultVal_and_code_in_desc.odd.txt) is a little ODD we can use for testing this. It is the same ODD as on ticket #393. (So if you have already downloaded that one, you may not need to download this. But in either case, remember to strip the “.txt” off the end.)

[2019-11-05 15:05] martindholmes commented on #393
It turns out the test ODD was wrong; it was missing `@mode="change"` on the ancestor attDef elements. Here's a fixed one.
[test_defaultVal_and_code_in_desc.odd.txt](https://github.com/TEIC/Stylesheets/files/3809597/test_defaultVal_and_code_in_desc.odd.txt)

This gives us a valid RELAX NG file, but the next thing is to test whether all the modes are working correctly.

[2019-11-05 15:25] ebeshero opened #402 "Should mode attributes cascade?"
In dealing with #393, Stylesheets group discovers that we must specify a `@mode` attribute on everything being changed (including attDef, on which we don't always customarily use mode attributes). Right now if you want to remove a default value you have to apply `@mode='change'` to the parent attDef (for example, as shown in #393), in order to derive a working RNG schema. We're not sure this shoul

[2019-11-05 16:02] ebeshero commented on #393
We were able to solve this particular ticket by amending the test ODD file, though it leads us to contemplate a larger issue regarding whether such amendments should be necessary. We're closing this ticket and opening a new one: #402 .

[2019-11-05 16:32] sydb commented on #393
For the record, I do not think this (not having `@mode` on the parent `<attDef>`) is wrong, because it is on the ancestor `<elementSpec>`. That is, I think the `@mode` on `<attDef>` is supposed to be optional, and the Stylesheets should do the right thing if it is missing.
I am quite confident that the original intent was that the value of `@mode` would be inherited. (From the closest ancestor wit

[2019-11-05 16:34] martindholmes commented on #393
I don't think we can close this ticket until we confirm that what we intended by the test ODD was actually accomplished. We know we have a valid ODD, but as far as I know, `@mode="delete|change|add|replace"` may not do anything at all.

[2019-11-05 17:14] hcayless commented on #393
I've tested them, and they all seem to do what I'd expect. I do notice that `<defaultVal mode="add">foo</defaultVal>` and `<defaultVal mode="add">foo</defaultVal>` have the same result, which is maybe to be expected... Perhaps part of the problem is that the semantics of `@mode` depend on where it's applied... I'm in favor of closing this issue unless there are strong objections.

[2019-11-08 17:19] martindholmes commented on #402
@sydb and I, testing some scenarios, discovered that if you have an elementSpec in your ODD with the same ident as a TEI element, but you don't give it `@mode` OR you give it `@mode="add"`, then the effect is to delete (not replace or change) the original TEI elements, irrespective of the contents of the elementSpec in your ODD. This we believe is just wrong. In this sense, the Stylesheets behave

[2019-11-08 17:31] martindholmes commented on #393
@hcayless Your comment above confused @sydb and me a bit -- you have `<defaultVal mode="add">foo</defaultVal>` twice. Do you mean "change" and "add", or "replace" and "add"? At any rate, if you're sure the current behaviour does allow the deletion of `<defaultVal>`, then do close. See #402 for follow-up work.

[2019-11-08 17:32] sydb commented on #402
In the interim, @martindholmes and I just decided that `tei_customization` should test that IF an `<elementSpec>`’s `@ident` and `@module` say it is from the TEI scheme (or, alternatively, there is no `@ns` to say otherwise), THEN its `@mode` should NOT be `"add"`.

I expect to work on adding this constraint this evening.

[2019-11-08 17:53] hcayless commented on #393
@martindholmes copy-paste error, sorry. I meant that you don't need a `@mode="add"` to get the result of adding a defaultVal—the `@mode="change"` on the parent is sufficient. Closing.

[2019-11-08 17:53] #393 closed

[2019-11-11 20:13] sydb commented on #402
BTW, that change was made yesterday or day before in TEI repo commit 6e02622. Mr. Jenkins has not complained.

[2019-11-22 16:38] martindholmes commented on #402
@sydb and @martindholmes suggest that we dub the first problem (the assumption that the default mode is "delete" on elementSpecs) as 402a, and the second one (the production of duplicate attributes in the output schema) as 402b; the Stylesheets group meeting in December will address these.

[2019-12-03 14:33] martindholmes commented on #402
Stylesheets group says we need to write a test ODD for these two error types before working on this again.

[2019-12-03 14:35] ebeshero commented on #402
And the ODD that Syd wrote for #393 might be adapted to be a test ODD for this issue.

[2019-12-03 15:29] sydb commented on #399
TEI Stylesheets group tried attacking this. We changed [teiodds.xsl line 2467](https://github.com/TEIC/Stylesheets/blob/41ea4557e99b6f26f3f313789562a942d4df24de/odds/teiodds.xsl#L2467) to apply templates in mode `glossDescTitle` instead of the default mode. This has the desired effect of keeping the content of `<code>` (and also put scare quotes around `<soCalled>`), but the undesired side effect

[2019-12-06 17:37] martindholmes opened #403 "Stylesheets do not correctly handle Schematron rules in attDefs"
Working on https://github.com/TEIC/TEI/issues/1950, @sydb and I discovered a problem with the output of Schematron from an ODD into RELAX NG (as opposed to the .isosch context). If you put a `<constraintSpec>` in the context of an `<attDef>` as opposed to a class or element definition, the constraint gets hoisted up to the parent level, and therefore any context-dependent XPath in the Schematron w

[2019-12-10 14:34] martindholmes opened #404 "Overriding an attribute in a class removes element from list of members"
This build of a branch has this page:

https://jenkins.tei-c.org/job/TEIP5-branch-unihan/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/ref-att.gaijiProp.html

which shows only `<localProp>` as a member of `att.gaijiProp`, but in fact two other elements (`<unicodeProp>` and `<unihanProp>`) are members; it's just that they override two of the class attributes. We need to check what'

[2019-12-10 16:05] martindholmes commented on #404
This does seem to be a general problem, with some unpredictable results. For example, `<sound>` is a member of `att.typed`, but it does not appear in the list of members:

https://teijenkins.hcmc.uvic.ca/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/ref-att.typed.html

but on its own page, where `@type` is overridden, the class does correctly appear:

https://teijenk

[2019-12-11 15:00] fricke-steyer opened #405 ".docx to TEI P5 XML Document conversion fails"
Can you help me? Our other files are ok, only this one doesn't work. Whats wrong?
Kind regards,
Henrike

[emotion_analysis_2019.docx](https://github.com/TEIC/oxgarage/files/3863581/emotion_analysis_2019.docx)

Error occured. Please check the filetype and try again.?

Error: class pl.psnc.dl.ege.exception.ConverterException

Processing terminated by xsl:message at line 130 in fields.xsl

[2019-12-11 16:20] lb42 commented on #405
Running this online with docxtotei produces the (slightly) more helpful
error message:

  [xslt] fldSimple: unrecognized type REF BMfig_wheel \* MERGEFORMAT

which appears to relate to the reference to a graphic in section 2.2 :

"The wheel (Figure 1) is constructed in the fashion of a color wheel"

I don't have Word here, so I cannot be sure. However, if I delete that
parenthesized reference, sav

[2019-12-28 20:24] sydb commented on #404
I am not sure if this is the same problem or just a similar, but different, one. (If so, we may want to create a new issue for it.)

Looking at both the [current release](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-classSpec.html) and the [latest build](https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/ref-classSpec.html) of the tag

[2019-12-28 21:47] martindholmes commented on #404
@sydb I think this was just a corrigible error, which I've corriged. The `<valList>` on classSpec had no `@mode` attribute, when in fact I think it needs `@mode="add"`, because there is no `<valList>` in the `att.typed` definition of the attribute. Added in commit cbec67806, and once the current build breakage is cleared we'll see if it solves the problem.

[2019-12-29 00:49] sydb commented on #404
Thank you, @martindholmes.
What build breakage?

[2019-12-29 03:23] ebeshero opened #407 "SVG in Guidelines.epub fails epub3 test, and fails to build Guidelines.pdf"
In working on https://github.com/TEIC/TEI/issues/1949, we found some issues with including SVG images in the Guidelines using the `<graphic>` element. SVG is fine for the HTML build and also viewable in the epub build. However, there are two issues:
1) our tests for the epub build are failing because at some point in the processing, SVG isn't being recognized as a valid image type for epub3.
2) Gu

[2019-12-29 03:55] ebeshero commented on #407
We probably shouldn't be surprised about PDF not supported embedded SVG. See https://github.com/jgm/pandoc/issues/265 where the pandoc people prepare a filter to convert SVG to PDF for embedding.

This suggests to me:
* We should be okay with SVG just for HTML and epub builds of the Guidelines.
* But if we want to include SVG in PDF or LaTeX, we need to adapt them to PDF or png format first, and p

[2019-12-29 04:07] ebeshero commented on #404
@sydb Well, the build breakage is not from me any more, thankfully! I had broken
TEIP5-Documentation-dev on the epub3 test with my SVG. But I've packed that little experiment away to a branch now.

[2019-12-29 04:16] ebeshero commented on #407
I've started a branch on the TEI repo for testing these issues with building SVG here: https://github.com/TEIC/TEI/tree/ebb-svg-epub3, which has an SVG image in the SG-GentleIntroduction.xml chapter.

[2019-12-29 04:37] martindholmes commented on #404
As far as I can see, `<classSpec>` now looks good. I don't think this was an instance of the problem this ticket deals with (although you could argue that if a valList is provided where one didn't exist before, we could/should/might assume `@mode="add"`).

[2019-12-29 04:41] martindholmes commented on #407
The particular problem here, which I agree should be fixed, is that the ePub validator requires that if you use inline SVG in your ePub, you must declare that fact in the manifest file. I think (although I'm not sure) that you have to declare it for each file which contains SVG. It's not too difficult to do, but it'll require that we learn a bit about how the ePub manifest works.

[2020-01-03 17:12] sydb commented on #403
@martindholmes and I are working on a small ODD file to reproduce this problem (which he will upload shortly). It looks as if the problem is not that **everything** gets hoisted to the wrong level, but only the `<sch:let>` statement.

[2020-01-03 17:14] martindholmes commented on #403
Herewith an example ODD, generated RNG, and instance file showing the problem.
[issue403.zip](https://github.com/TEIC/Stylesheets/files/4020069/issue403.zip)

[2020-01-03 17:25] lb42 commented on #403
,

reluctantly using Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Syd Bauman <notifications@github.com>
Sent: Friday, January 3, 2020 5:12:51 PM
To: TEIC/Stylesheets <Stylesheets@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [TEIC/Stylesheets] Stylesheets do not correctly handle Schematron rules in attDefs (#403)

@martindholm

[2020-01-10 05:33] martindholmes opened #408 "Incorrect "may contain" value when building documentation"
With an elementSpec like this:

[code]

where the content is a single dataRef, the output in the spec page for the element shows "May contain: Empty element". It's not empty, of course.

[2020-01-16 01:16] martindholmes opened #409 "JTEI: colspanning table cells should have centred content"
@rvdb and I agree that if a cell spans multiple columns, its content should be centred. To achieve this in PDF, add this at line 912 of profiles/jtei/pdf/to.xsl:

[code]

To get the same result in ODT, in the template ODT's styles.xml, replicate the teiParaTinyMarginsHeader as teiParaTinyMarginsCentre, and switch fo:text-align to centre; then in profiles/jtei/odt/odt.common.xsl, at line 583, add t

[2020-01-21 14:56] martindholmes commented on #404
Stylesheets group meeting today managed to narrow down the locus of the problem. When the generateMembers template is called to create a list of members of att.typed (line 561, calling the template starting on 2171 of common_tagdocs.xsl), the xsl:key which is used to retrieve the list of class members does not include `<sound>` (and presumably other elements which override att.typed values).
We do

[2020-01-21 15:23] #404 closed

[2020-01-21 15:24] martindholmes commented on #404
We finally determined that by adding the context `$top` to the key instantiation, the problem is fixed. @sydb checked in https://github.com/TEIC/Stylesheets/commit/7a8f386c2e6198ee316c3dbabcb26e174672a5aa
; thanks also to @martinascholger, @lujessica, and @peterstadler. We believe there may be similar problems in other areas of the odd processing, but we haven't found them yet.

[2020-01-22 13:11] rvdb commented on #409
@martindholmes Ok, I've added support for all three output formats, thanks for your ODT and PDF code!

Note: I've created 2 new styles for the ODT template:

- `teiParaTinyMarginsCentre`: for column-spanning data cells
- `teiParaTinyMarginsHeaderCentre`: for column-spanning label cells

[2020-01-22 16:30] martindholmes commented on #409
Thanks @rvdb ! I've merged it, and yesterday I committed a -source.xml for #173 to the svn repo, ready for proofing; we can use that as our final test before closing this ticket.

[2020-01-23 00:49] sydb opened #411 "namespaces declared reduntantly"
Note: this is similar to, but not the same as, #118, I think.

In those cases where an example has a root element of `<TEI>` and descendant `<TEI>`s (i.e. `//teix:egXML/teix:TEI//teix:TEI`), those descendant `<TEI>` also (inappropriately) get decorated with an `@xmlns` namespace declaration in the HTML output. Note that this does **not** happen if the root element is `<teiCorpus>`.

(BTW, at the m

[2020-01-24 15:33] #312 closed

[2020-01-24 15:34] raffazizzi opened #412 "Make sure paths to assets in Oxygen plugin are local"
This may require restructuring the release package.

This issue originated from #312, which was fixed in PR https://github.com/TEIC/Stylesheets/pull/394 by pointing at assets online.

We should make sure that the package can be used offline as well, however.

[2020-01-24 16:23] martindholmes commented on #412
Should this be a ticket on the oxygen-tei repo?

[2020-01-27 14:27] hcayless opened #413 "License Copyright"
The BSD 2-clause license we have for the Stylesheets requires a copyright statement, but we don't provide one. I assume we want to assert © TEI Consortium, as in https://tei-c.org/guidelines/licensing-and-citation/, but wanted to check before just doing it.

[2020-01-29 22:42] sydb opened #415 "ref= attribute of <title> element being ignored"
The _Guidelines_ both support and in a few cases use an `@ref` on `<title>` to point to a bibliographic citation. But the Stylesheets just ignore it.

[2020-01-30 22:51] sydb opened #417 "namespace being ignored?"
@ebeshero discovered that if you supply an `@validUntil` in the past (or, presumably, upt to 60D in the future) _inside an `<egXML>`_ you still get a deprecation error and warning during build. You shouldn’t, because the Schematron `<rule>` for said error and warning (which is in att.deprecated) has a `@context` that only includes elements in the TEI namespace (`"tei:*[@validUntil]"` to be precise

[2020-01-30 23:55] ebeshero commented on #417
Thanks for filing a ticket in on this @sydb! I was pretty steamed over it this AM when I thought I'd easily resolved https://github.com/TEIC/TEI/issues/1964. (I'm also not sure why my local build wasn't generating an error over it, and I only saw it generate a build error when I checked it in to the remote dev--but that may be a different can of worms entirely.)

[2020-02-03 00:36] joeytakeda commented on #328
odd2lite.xsl also seems to drop child `<desc>`s in `<graphic>`. This:

[code]

Becomes

[code]

[2020-02-04 10:44] jamescummings commented on #267
@martindholmes Yes, I think that is the right place to put it, but since it isn't about the text of the guidelines but the XSL that produces it, makes sense to have the tickets here so they get seen by the Stylesheet group.

[2020-02-04 12:31] jamescummings commented on #266
As @martindholmes comments in https://github.com/TEIC/Stylesheets/issues/267#issuecomment-304310293 these changes are likely to be made in P5/Utilities/guidelines.xsl.model

I had done a test locally which sorta worked but had some problem so never followed it up or pushed it. I've probably wiped the actual change to stylesheets, but it wasn't much.

[2020-02-04 15:23] #403 closed

[2020-02-04 15:24] sydb commented on #403
Stylesheets mini-group (@peterstadler, @raffazizzi, and I) have made a precision repair to Stylesheets/odds/teiodds.xsl which fixes the exact problem of the `<sch:let>` getting stuck in wrong place IF and ONLY IF the `<sch:rule context=".">` is **not** specified. If it is specified, all goes wrong.

It is another ticket for another day to solve _that_ problem, but we note that no one has yet compl

[2020-02-07 15:11] sydb commented on #241
N.B. [TEI issue #1970](https://github.com/TEIC/TEI/issues/1970).

[2020-02-10 02:40] sydb opened #418 "two <desc>s are not better than one"
@martinascholger discovered that in some cases a `<desc type="deprecationInfo">` is being processed where it shouldn’t be. (See [comment on TEI#1805](https://github.com/TEIC/TEI/issues/1805#issuecomment-583871197).)

[2020-02-10 18:50] martinascholger opened #419 "Is <attRef> processed in HTML output?"
For solving issue https://github.com/TEIC/TEI/issues/1867, the `@subtype` attribute has been added to att.textCritical via `<attRef>` which is a temporary workaround until it is possible to override the definition of `@type` with a mode=\"replace\". See issue #370.

@sydb and I now discovered that `@subtype` is in the schema, but the HTML output of the `<lem>`, `<rdg>`, and `<rdgGrp>` specs does n

[2020-02-10 20:52] #418 closed

[2020-02-16 03:08] sydb opened #422 "context incorrectly gets TEI prefix in RNG Schematron"
As of this latest release, the `@context` attribute of the `<sch:rule>` generated from a `<constraintSpec>` that is inside an `<attDef>` that is itself inside a `<classSpec>` and does **not** have its own `<sch:rule>` (obviously, because there would’t be a generated `<sch:rule>` if one were there) is incorrectly getting a namespace prefix as if it were an element: `tei:/@attrName`.

This rears its

[2020-02-16 03:09] sydb commented on #422
Am testing a fix (in odds/teiodds.xsl) now.

[2020-02-16 03:23] #422 closed

[2020-02-17 13:21] #409 closed

[2020-02-25 15:06] martindholmes opened #423 "RngToRnc.xsl should probably be removed"
The standard conversion of TEI ODD to RNC first creates RNG then uses Trang to convert that to RNC. However, there is a file odds/RngToRnc.xsl which (we hope) is not used, although it is xsl:included in teiodds.xsl.

We don't believe it should be needed, because Trang should do the job, and we hope it's not actually being used, because it's very gnarly indeed. If we can demonstrate that it's no lo

[2020-02-25 15:27] ebeshero opened #424 "`@ns` in ODD customizations causes horrible problems in RNG"
We find that when an `@ns` attribute appears on a schemaSpec or an elementSpec (whether as a result of being generated as a default attribute by oXygen, or for some other reason), it results in broken RNG's that don't carry customizations of attributes in particular.

What we've tested at the Stylesheets meeting on 2020-02-25: All of these results are coming from the RNC output from trang. (Styles

[2020-02-25 16:10] martindholmes commented on #424
On the Trang/RngToRnc issue, I posted this ticket:

https://github.com/TEIC/Stylesheets/issues/423

[2020-02-28 17:10] martindholmes commented on #424
@sydb and I looked into this and we determined that:

When `@ns=TEI` is added to any TEI elementSpec element, any child attribute change results in the loss of the attribute rather than its modification.

It makes no difference whether `@ns` is on schemaSpec or not, or the attDef is mode="change" or "replace". The only problem factor is the presence of `@ns=TEI` on the `elementSpec`.

HOWEVER, whe

[2020-02-28 17:15] martindholmes commented on #424
Test file no schemaSpec/@ns:

[stylesheets_issue_424_no_ns_on_schemaSpec.odd.zip](https://github.com/TEIC/Stylesheets/files/4268199/stylesheets_issue_424_no_ns_on_schemaSpec.odd.zip)

[2020-02-28 17:16] sydb commented on #424
Test file with `schemaSpec/@ns` set to TEI namespace:

[stylesheets_issue_424_with_ns_on_schemaSpec.odd.zip](https://github.com/TEIC/Stylesheets/files/4268211/stylesheets_issue_424_with_ns_on_schemaSpec.odd.zip)

[2020-02-29 17:44] sydb opened #425 "minOccurs= on <elementRef> not being honored"
@npcole and I just discovered (while working on [TEI ticket 1979](https://github.com/TEIC/TEI/issues/1979)) that the
[code]
results in an incorrect RELAX NG schema (and DTD), namely just `ptr+` (instead of either `ptr, ptr+` or `ptr, ptr, ptr*`).

I believe (without a lot of evidence) that the problem is in teiodds.xsl circa line 2222.

[2020-02-29 18:06] lb42 commented on #425
I remember arguing about this w  spqr. Cant remember why, but thats why the content model is the way it is and not the way syd and logic might prefer

[2020-03-14 15:59] sydb commented on #411
Update: now that `<TEI>` can nest in `<TEI>`, this _does_ occur in the dev and release branches. (And in the published _Guidelines_.)

[2020-03-16 16:09] sydb commented on #396
Oops.

1. This is not a good ticket for Stylesheets group, as @hcayless has already fixed it (in 7b254fb)
1. However, Council should re-visit the use of the output “ANY”, which is being generated (in common/common_tagdocs.xsl at ~2922) whenever there is a descendent `<anyElement>`. But the descendant `<anyElement>` may well have a `@require`, so it is not really the case that ANY element is allowe

[2020-03-17 14:37] ebeshero commented on #408
@sydb We think your push didn't go through after the Stylesheets meeting! Can you redo that?

[2020-03-17 18:53] martindholmes commented on #408
Before I can test properly, I need to get my bleeding-edge plugin to update, and right now the build on my Jenkins (which builds my plugin) is broken; but it's not broken on the main Jenkins, which suggests they're out of sync somehow. Working on that problem now.

[2020-03-18 16:45] martindholmes commented on #408
Fix works fine. Closing! Thanks all.

[2020-03-18 16:45] #408 closed

[2020-04-03 15:24] martindholmes commented on #342
@sydb and me: Having looked at this again, we think that the templates provided would need their @match attributes further constrained so that they don't collide with existing templates handling some of these elements in other contexts. Otherwise it looks like a good addition to the HTML templates. The other problem would be that these templates only output HTML; the Stylesheets infrastructure usu

[2020-04-03 15:51] martindholmes commented on #347
@sydb and I have looked at this, and we think that this would be easier to handle if the current transformtei script were replaced by an Ant build file, so this could be more easily handled there; and in addition, such a change would make it more practical to run transformations on Windows.

[2020-04-07 18:54] martindholmes commented on #202
I wonder if we should consider switching to Noto fonts for the entire PDF generation process. It seems likely we would have a more consistent presentation across languages, with less complexity in keeping the font array up to date.

[2020-04-07 18:56] martindholmes commented on #151
if @smjwsk did have a patch, we never got it. This is still a problem, four years on.

[2020-04-08 14:08] peterstadler commented on #202
So I just assigned the bunch of LaTeX issues to myself and had a first look. I think I fixed the original issue posted by @hcayless ("the end of section 22.5.4 (around page 689)") with
c4fbe2c.

It turned out it's not a fine issue but a processing issue – which is way bigger, sigh. There is actually almost no support for `@xml:lang` except for occurrences on `<bibl>` and `<seg>`. Hence the other i

[2020-04-08 14:22] peterstadler commented on #202
That said, I did experiment with the Noto CJK fonts and this seems to work as well. I added the font to the Jenkins Dockerfile (https://github.com/TEIC/Jenkins/commit/1fb61a2060815d472a0f6bc67a4dbfe18135790c) so it's available. All that would need to change is here:
https://github.com/TEIC/Stylesheets/blob/5265b007c7f6e582f011c872f3143f1bac24ef59/latex/latex_param.xsl#L247-L249
and probably here:

[2020-04-08 14:27] peterstadler commented on #151
My dirty hack for that caption would be to insert a `<seg xml:lang='ja'>` into the `<title>` at https://github.com/TEIC/TEI/blob/513c0b14a94a157ddede60dea902d8cd00208224/P5/Source/Guidelines/en/WD-NonStandardCharacters.xml#L992
As noted at https://github.com/TEIC/Stylesheets/issues/202#issuecomment-610989143 the processing of `@xml:lang` is very limited and only works for some elements.

[2020-04-08 14:36] peterstadler commented on #148
I think this issue itself is done. Some other issues surfaced and have their ticket now but the original issue of font replacement was successfully tackled. (As stated in https://github.com/TEIC/Stylesheets/issues/202#issuecomment-610989143 there are no font issues but processing issues)

@martindholmes do you object to closing this issue?

[2020-04-08 14:57] martindholmes commented on #148
@peterstadler No, but I think we should open another issue to consider the wholesale adoption of Noto fonts. That way we could probably get more elegance and consistency across the entire document, and I think that's going to be increasingly important as we move further into internationalization.

[2020-04-08 15:13] peterstadler commented on #148
right. Thinking about it IMHO the proper way to do this would be to add a parameter to the script so a user can provide his/her fonts. This is already working for other fonts (see `$calligraphicFont` or `$gothicFont`) so we should adopt this for CJK fonts.

Of course we could set Noto fonts as default but actually switching to Noto would then be done in the Guidelines repo (within `Utilities/guide

[2020-04-08 15:35] martindholmes commented on #148
I think that's right. Most projects won't need a large range of fonts, but the Guidelines definitely does.

[2020-04-10 16:03] martindholmes opened #427 "Reworking diffing in Test2"
@martindholmes and @sydb 2020-04-10, working in response to
pull request 426:

A rethink of the way things [should] work suggests that we should:

1. Change the cleanForDiff target in build_utilities.xml so that it:

    a) incorporates @sydb's better whitespace normalization from the
        pull request

    b) saves the results of the diff not over the original file, but to a
        tempForDif

[2020-04-10 16:13] martindholmes commented on #427
Diff configuration:

`diff --old-line-format='output: %L' --new-line-format='expect: %L' --unchanged-line-format='' outputFile expectedFile`

[2020-04-14 07:49] martinascholger opened #428 "html output of spec files does not show inheritance of attribute classes"
The HTML output of attribute classes in the spec files does not show the inheritence of attribute classes. There are two parentheses at the end of a subclass, but the beginning of the second parantheses is missing. See for example: [https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-author.html](https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-author.html)

[2020-04-14 12:17] jamescummings opened #429 "docxtotei: textruns.xsl, sequence given to fn:number()"
/home/jamesc/git/Stylesheets/docx/build-from.xml:33: Fatal error during transformation using /home/jamesc/git/Stylesheets/profiles/default/docx/from.xsl: A sequence of more than one item is not allowed as the first argument of fn:number() (@w:val, @w:val) ; SystemID: file:/home/jamesc/git/Stylesheets/docx/from/textruns.xsl; Line#: 208; Column#: 12

putting [1] after each step of the fn:number() at

[2020-04-14 14:03] martindholmes commented on #428
@martinascholger I think the parentheses are actually matched; for example

`(att.canonical (@key, @ref))`

Two parentheses open, and two close. But the structure is puzzling. What's intended (I think) is that direct class memberships are shown without the outer parentheses, but indirect ones (those caused by membership of a class which is a member of a class) are then shown in an additional pair

[2020-04-14 14:05] martindholmes commented on #429
Could you post a minimal input file that reproduces the problem?

[2020-04-14 17:13] martinascholger commented on #428
@martindholmes how would this look like with an arrow?

[2020-04-14 17:19] martindholmes commented on #428
I was thinking:

`att.global (@xml:id, @n, @xml:lang, @xml:base, @xml:space) => att.global.rendition (@rend, @style, @rendition)`

[2020-04-14 17:48] lb42 commented on #428
I don't think the arrow makes this clearer: au contraire. It implies that what's to the left of it is in some sort of relationship to what;s to the right of it, but that the two are separate things. Whereas the parenthetical notation makes explicit that a class is a bracketted list of items, some of which may themselves be classes, and therefore followed by a bracketted list of items. Look at a cl

[2020-04-14 17:57] martindholmes commented on #428
@lb42 You're probably right. But if bracketing were to show the inheritance, wouldn't it make more sense nested like this?

`att.global (@xml:id, @n, @xml:lang, @xml:base, @xml:space (att.global.rendition (@rend, @style, @rendition)) `

[2020-04-14 18:08] lb42 commented on #428
If att.global.rendition was a subclass of att.global yes it would. But because of the weird way we do attribute classes, it's actually the other way round: att.global is a memberOf att.global.rendition!

[2020-04-21 23:11] martindholmes opened #430 "jTEI: `<title level="s">` causes rendering bug"
In the jTEI conversion to openedition conversion, if a `<title level="s">` appears in the body of a document, a block-level break will happen and the rest of the paragraph will be lost. This is pretty unusual, but adding a template to catch `<title level="s">` and just apply-templates will probably fix it.

[2020-04-22 16:55] lb42 commented on #35
Looking at this again, I see no need for action. JC fixed the stylesheet to handle these weirdo attributes back in 2013-11, if we are to believe the source. I fixed a spelling mistake, and am closing this ticket forthwith.

[2020-04-22 16:55] #35 closed

[2020-04-29 20:22] martindholmes commented on #427
@sydb I've tested this in a branch, and this is what I've concluded:

1. Removing all runs of whitespace and replacing them with a single u+0020 means that the resulting diff is useless because of course the files are all on one line.
1. My original approach with diff -u (ignore whitespace length differences) combined with indenting the output of cleanForDiff is actually pretty solid when it comes

[2020-05-06 05:47] ttasovac opened #431 "build fails because of xi:inlcude"
My transformation fails because of `xi:inlcude` (my odd file includes "chapters" and each chapter includes examples from a different file).

[code]
This same transformation works when I run it from oXygen. I tried adding the oxygenlib paramater but then the error is even more mysterious for me:

[code]

I'm at a bit of a loss here because, like many people, I guess, I've been relying on doing tran

[2020-05-11 14:20] AlexJitianu opened #433 "A jquery file with vulnerabilities"
The file in question is `profiles/oepack/epub/jquery-css-transform.js` and it is covered by this vulnerability:
https://nvd.nist.gov/vuln/detail/CVE-2019-11358
There's a reference to this file within `profiles\oepack\epub\to.xsl`
It doesn't look like there is a newer jquery version that fixes it...
I'm not sure how important it is, but I would recommend to remove it so that it doesn't trigger any

[2020-05-11 14:31] martindholmes commented on #433
This appears in an epub profile whose only identification in its readme is "Experiments in old english teaching materials". With the exception of two upgrades to the JQuery by Peter, presumably performed in response to a similar vulnerability, t hasn't been touched since 2014, and what happened then looks to be generic stuff that was done across the repo.  @jamescummings @lb42 Do you remember what

[2020-05-12 23:26] #430 closed

[2020-05-15 15:44] martindholmes commented on #427
The one remaining thing that would be a big help is the diff configuration detailed above.

[2020-05-15 16:04] martindholmes commented on #427
Diff output formatting done with @sydb in commit 1cd9dcd7.

[2020-05-15 16:04] #427 closed

[2020-05-22 14:58] sydb opened #435 "ODT processing differs in depending on environment"
@martindholmes has long been puzzled as to why ODT processing is different when he runs Test2 locally vs on the Jenkins machine.
Today we discovered that it is due to the presence or absence of ./names.xml, which is an artifact of the the Makefile that is not in the repo because it is (appropriately) in .gitignore. This file is just (an invalid) list of all the GIs in p5.xml (or p5subset.xml).
Thi

[2020-05-22 19:39] martindholmes commented on #435
I believe this can now be closed. Will reopen if eventual Jenkins build fails, but all local tests work.

[2020-05-22 19:39] #435 closed

[2020-05-26 13:28] sydb commented on #428
@peterstadler and I think @martinascholger’s original issue may not require any intervention, but the fact that she posted it is a reminder that the representation of attribute classes in the HTML tagdocs is confusing. Do we keep this ticket open to discuss that issue, or close it and maybe open another (now or later)?

[2020-05-26 13:33] martinascholger commented on #428
We can close it for now and I will open a new issue the next time I am confused about the representation of attribute classes.

[2020-05-26 13:33] #428 closed

[2020-05-26 13:54] sydb commented on #413
@peterstadler thinks this is just a GO, and @sydb does not object. @hcayless to just put ’em in, but a © statement needs a year, doesn’t it?

[2020-05-26 14:18] martindholmes commented on #6
@ebeshero and I believe this should just be closed. It appears merely to be suggesting that one random typology/ontology be adopted over the many others that presumably exist. We don't see any reason to prefer this over our current `@type` values.

[2020-05-26 14:26] martindholmes commented on #101
With @ebeshero testing this today using the sandbox file, and using bin/teitohtml5, the problem no longer appears; all of the items appear correctly and linked in the TOC.

[2020-05-26 14:26] #101 closed

[2020-05-26 14:31] martindholmes commented on #102
@Dominique-M Can you clarify exactly what's wrong here? I'm not sure what we're supposed to be doing with your stylesheet, but when I run bin/teitohtml5 on your sandbox.xml file, I see the table of contents correctly configured; can you confirm that you see something different? Could this be a problem with your XSLT file?

[2020-05-26 14:35] martindholmes commented on #103
@Dominique-M @ebeshero and I believe this is very similar (identical?) to issues #101 and #102; we've left #102 open with a question to you, and we're closing the others.

[2020-05-26 14:35] #103 closed

[2020-05-26 14:39] martindholmes commented on #112
@ebeshero and I believe that this will be plausible if/when there is a good XPath parser for CSS selectors, which is not a huge ask, and will probably appear at some point. The ticket should be parked until then,

[2020-05-26 14:45] ebeshero commented on #118
@martindholmes and I think @sydb may have resolved this with #361 but we are not sure the fix was fully tested.

[2020-05-26 15:02] martindholmes commented on #126
What happens to Schematron rules which are not specified inside a *Spec? Do they appear at all?

[2020-05-26 15:08] ebeshero commented on #127
@martindholmes and I think this needs a complementary ticket on the TEI repo as well as further discussion.

[2020-05-26 15:11] martindholmes commented on #130
@ebeshero and I note that since Pure ODD is not supposed to support this, then we can just close the ticket.

[2020-05-26 15:11] #130 closed

[2020-05-26 15:14] martindholmes commented on #132
@ebeshero and I suggest that at this point, it would make more sense to move to Noto fonts, which cover all ranges we need, are open-source etc., and would provide a more consistent appearance. We suggest that this ticket be closed and a new one opened for switching to Noto.

[2020-05-26 15:16] hcayless commented on #132
I heartily endorse this idea.

[2020-05-26 15:18] sydb commented on #6
Agreed.

[2020-05-26 15:18] #6 closed

[2020-05-26 15:43] ebeshero commented on #143
@martindholmes and I think this should be closed because we were not able to reproduce the problem and the OP didn't respond.

[2020-05-26 15:43] #143 closed

[2020-05-26 15:46] martindholmes commented on #144
@ebeshero and I suggest first confirming that this still exists, and then deciding whether it's actually a TEI ticket first.

[2020-05-26 15:51] ebeshero commented on #148
@martindholmes and I note that this is similar to #132

[2020-05-26 18:43] Dominique-M commented on #102
The problem is: to troubleshoot problems I have a sandbox workbench
where I routinely transform sandbox.xml with sandbox.xls through a
script called htmlise. (I import there
/usr/share/xml/tei/stylesheet/html5/html5.xsl and define parameters like
splitLevel.) I change the contents of sandbox.xml for the problem at
that moment, or I XInclude the problem in the sandbox.xml. My fault is
to post about

[2020-05-26 19:47] martindholmes commented on #102
@Dominique-M Could you just post the files on the ticket directly, instead of linking to versions that will inevitably change? You can attach files here.

[2020-05-26 20:32] Dominique-M commented on #102
This is the TEI XML file giving (to HTML 5) different strange results
with splitLevel -1, 0 or 1.

Le 26/05/20 à 21:48, Martin Holmes a écrit :

[2020-05-26 20:38] Dominique-M commented on #102
This does not seem to work by e-mail. Apparently XML files are not allowed. Here is the XML under TXT disguise.
[composite-tei-xml.txt](https://github.com/TEIC/Stylesheets/files/4684930/composite-tei-xml.txt)

[2020-05-26 21:06] martindholmes opened #436 "JTEI OpenEdition output should enable URL wrapping"
When a URL is both the text of a link and the target (`@href`), which is common in e.g. footnotes which consist only of URLs, browsers have problems with justification because they see the URL as a single word. One solution to this is to detect when the text of a link contains a URL, and insert zero-width breaking spaces at URL component boundaries (slashes and periods), so the browser has lots of

[2020-06-02 14:32] sydb commented on #372
@ebeshero: Can you be more specific about which portion of that page you think is clearly in error? The `valid="false"` example certainly looks ugly, but I am hard pressed to call it an error.

[2020-06-02 14:33] martindholmes commented on #151
As of now, it's p.211 Figure 3, which has this caption:

5.7  Examples of Different Writing ModesFigure 3:Detail from p.62 of￿￿￿￿￿￿￿”. ￿￿￿. 1985. ￿￿￿￿￿￿￿ II. ￿￿￿￿￿￿ 11

[2020-06-02 14:38] martindholmes commented on #168
@hcayless Could this ticket get a full description of what's required on this ticket?

[2020-06-02 14:46] martindholmes commented on #171
Since version numbering is undergoing change right now, this is blocked until those changes are finalized. Then it will need to be re-confirmed.

https://github.com/TEIC/TEI/issues/1993

[2020-06-02 14:48] sydb commented on #363
@peterstadler and I believe that the _Stylesheets_ are behaving correctly.
Whether or not the particular comment should be left as is, re-written, removed, moved up a level, or changed to a `<desc>` is another question which perhaps should be raised on a ticket in the _Guidelines_ repo.

[2020-06-02 14:48] #363 closed

[2020-06-02 14:48] martindholmes commented on #173
@ebeshero and I note that this is low priority because from the Show All page, each item has a link to its location in the Glines chapters, where the bibliography links appear.

[2020-06-02 14:51] sydb commented on #362
@peterstadler and I are both leaning towards (3).

[2020-06-02 14:56] sydb commented on #353
Set to “pending” to verify that the original problem really is a problem, i.e. that `" att.typed "` is valid and does produce processing errors.

[2020-06-02 14:57] martindholmes commented on #178
This ticket needs to begin with a survey of all the Stylesheets to find all instances of the ISO Schematron namespace, to see where it's being declared unnecessarily, and also where it's actually being used.

[2020-06-02 15:00] martindholmes commented on #179
@ebeshero and I confirmed this as of today.

[2020-06-02 15:02] martindholmes commented on #181
@ebeshero and I believe this is actually a TEI issue, not a Stylesheets issue, unless we believe that this sort of diagnostic should be a formal part of the Stylesheets.

[2020-06-02 15:04] ebeshero commented on #181
And we note that this is probably subsumed within https://github.com/TEIC/TEI/issues/1991

[2020-06-02 15:07] martindholmes commented on #182
@ebeshero and I wonder whether there should now only be a conversion to HTML5 (i.e. XHTML5 should be the output from any HTML conversion, and there should only be one symlink).

[2020-06-02 15:13] martindholmes commented on #187
@ebeshero and I confirm that the file profiles/default/tei-fo.xsl still exists, and is not linked from anywhere. It should go. Its history suggests it was added in error in 2009.

[2020-06-02 15:15] martindholmes commented on #192
@ebeshero and I think this should also be done for LaTeX/PDF, but that's probably all that needs to happen. Good ticket for the Stylesheets group, since it's about as simple as it could be.

[2020-06-02 15:27] martindholmes commented on #203
@beshero and I confirm that whatever I thought I was fixing back then, it hasn't changed anything about the rendering of the spec page for the language element, so @lb42's original complaint is still valid.

[2020-06-03 13:52] #132 closed

[2020-06-03 13:52] #148 closed

[2020-06-03 18:12] peterstadler commented on #202
The original issue got resolved by c4fbe2c and the Noto CJK fonts have been made the default for the Guidelines by https://github.com/TEIC/TEI/commit/66144683a4a210a8ea6a5e23dffc74ad80d142b6 and https://github.com/TEIC/Stylesheets/commit/b31835fa675bfa7ffaa82c058365687570f7a94c.

[2020-06-03 18:12] #202 closed

[2020-06-04 08:44] peterstadler commented on #400
I think this is not much of an issue anymore since the server configs got fixed and the redirects (http->https) are working properly. Nevertheless, I will grep through the Stylesheets and see wich occurrences of `http://(www.)?tei-c.org/(Vault|release)` might benefit from being changed.

[2020-06-04 08:59] peterstadler opened #438 "superfluous and non-XML-conformant file Test/testrend.xml"
This file lacks the closing `</encodingDesc>` tag, wasn't touched for six years, and is not used in any test. I think it can happily be removed!

[2020-06-04 14:06] rvdb opened #440 "docx2tei ignores @w:val attribute on bold and italic text"
The docx to TEI conversion is a bit coarse w.r.t. the treatment of italic and bold text. When processing the `<w:i>` and `<w:b>` elements, no checks are made for a `@w:val` attribute. This attribute provides a binary value for switching the style on and off. By consequence, text marked in a Word source file as:

    <w:r>
      <w:rPr>
        <w:i w:val="1"/>
        <w:b w:val="0"/>
        <w:i

[2020-06-04 14:12] martindholmes commented on #151
Note that this is not fixed by https://github.com/TEIC/TEI/commit/66144683a4a210a8ea6a5e23dffc74ad80d142b6 which switches to Noto fonts; I believe that the `@xml:lang` attribute is not being acted on here:

[code]

although I haven't confirmed that yet.

[2020-06-04 14:15] #400 closed

[2020-06-04 14:18] peterstadler commented on #151
Exactly @martindholmes, as I wrote in https://github.com/TEIC/Stylesheets/issues/202#issuecomment-610981840

Hence the proposed hack to to insert a `<seg xml:lang='ja'>` into the `<title>`.

[2020-06-04 15:30] martindholmes commented on #151
@pstadler Hmm. Should we hide the problem in this case and pretend it's not there, or try and fix it?

[2020-06-04 18:14] duncdrum commented on #151
I ve seen FOP do this when either a) only essential Linux font support libraries exist on a VM , or b) the JVM running fop was not properly set to Unicode encoding for all its locale and encoding settings. Some other corner cases, but either or both of these would be my best guess.

[2020-06-04 18:17] duncdrum commented on #202
I actually use noto for Hangul, and hannom for Chinese and Japanese in my latex by default. My Korean requirements are minimal, So maybe someone actually working with historic documents from Korea can weigh in here

[2020-06-04 18:41] martindholmes commented on #151
Japanese fonts appear to be working fine in the latest build with Noto; I think this is just a case where `@xml:lang` is being ignored in processing, as @peterstadler suggests.

[2020-06-05 07:30] peterstadler commented on #151
Just for the record: My Github handle is @peterstadler . I got confused myself about this "Doppelgänger"

[2020-06-05 07:31] pstadler commented on #151
Yes, I got confused as well. Hey Peter. All good?

[2020-06-05 14:50] martindholmes commented on #201
@sydb and I created a new branch https://github.com/TEIC/Stylesheets/tree/issue-201 for this, but we're still in the planning stages. We note:

 1. Council would prefer the Stylesheets defaults to match those of the Oxygen plugin, so output should end in out/filename.ext rather than in filename.inputExt.outputExt.

 1. The symlink system, whereby the input file type and the output file type are de

[2020-06-05 14:54] martindholmes commented on #151
Sorry @pstadler @peterstadler. @peterstalder is `@pstadler` in Slack, no?

[2020-06-06 18:24] sydb commented on #201
@martindholmes (and everyone else):
On Friday we missed [@scstanley7’s comment](#issuecomment-419608527) above that points out Council is not firmly in the out/ camp. Thus (1) above may need to be adjusted.

[2020-06-06 23:16] martindholmes commented on #201
@sydb I think we need to aim for a change which will cause the lowest probability of unexpected and potentially damaging behaviour for people who may not be expecting the change, so I would support using the `out` folder that is used in the Oxygen plugin for the command line as well, much as I dislike it myself.

[2020-06-06 23:25] ebeshero commented on #201
I agree with @martindholmes here that we should preserve the usual output behavior and file in `out/`.

[2020-06-07 00:01] sydb commented on #201
Not that I think there is a lot of stake in this, but one counter-argument is that changing the behavior of a necessarily somewhat manual process (oXygen) is a lot less impactfull than changing the beavior of a process that may be close to fully automated (the scripts).

Another is that I would not be surprised if most users either don’t care or would prefer to ditch the out/ directory, even if it

[2020-06-07 11:19] lb42 commented on #201
If you don't like using "out" you can of course also change that default behaviour in your local oXygen installation

[2020-06-07 11:25] lb42 commented on #431
Is this because of the way relative URLs are being calculated?

[2020-06-07 16:44] martindholmes commented on #201
@lb42 Yes, one of the first things I do in a new Oxygen setup is to duplicated that scenario and change it to remove the out folder. But that requires a little understanding of how Oxygen transformation scenarios work, which not everyone has. @sydb I suspect that if people are running these things through scripting, they're already providing their own output file as a param, so they're less likely

[2020-06-07 17:14] sydb commented on #201
@martindholmes, as I suspect you know, I agree strongly with the idea that there should be consistent behavior from the Stylesheets transforms, and am moderately in favor of dropping the out/ directory.

[2020-06-08 08:05] rvdb commented on #440
The `@w:val` switch is used on more basic styles: `<w:i>`, `<w:b>`, `<w:strike>`, `<w:dstrike>`, `<w:smallCaps>`, and `<w:caps>`.

Also, `@w:val` seems to allow for a range of binary values: (`0`, `false`, `off`) vs (`1`, `true`, `on`).

I've expanded the fix for the `basicStyles` template to cover these cases, too. Attached is an updated test file, with incorrect and expected outputs.
[basicStyle

[2020-06-09 12:13] hcayless opened #442 "Arabic in GLs PDF rendered backwards"
The section on Writing Modes (5.6) has an Arabic example:

(qalam rasas). The Web version displays this correctly. But in the PDF version of the guidelines, the words are reversed (though within each word, the RTL flow is correct). The example with inline markup is even worse!
![image](https://user-images.githubusercontent.com/23493/84144656-a01dad00-aa26-11ea-8400-c57076b8c905.png)
I'm assuming t

[2020-06-09 12:22] hcayless commented on #442
For those nerds who, like me, might be interested in why the inline markup example is so messed up: letters in Unicode may be strongly directional (Latin and Arabic letters, for example, always run LTR or RTL respectively), while punctuation marks are generally weakly directional. They take their direction from context. The PDF is treating the Arabic words as islands of RTL in an LTR context. The

[2020-06-09 14:42] martindholmes commented on #442
@hcayless I think the way to fix it is to insert implicit directional marks at the boundaries of the RTL text:

https://unicode.org/reports/tr9/#Implicit_Directional_Marks

I didn't do that when I drafted these examples because I knew that browsers were already getting this stuff right, but obviously LaTeX is not so sophisticated, or there's some package we need to add that will make this magicall

[2020-06-10 06:55] peterstadler commented on #442
I just tested @martindholmes' proposal but sadly it didn't change anything in the rendered PDF.

There's a related [question at Stackexchange](https://tex.stackexchange.com/questions/214773/comma-links-in-ltr-texts-in-rtl-arabic-document) from which I took the hint to add `\hbox{}` around the term. This indeed works but leaves the task to implement this in the stylesheets.

For the record, the cur

[2020-06-11 14:28] martindholmes commented on #258
Duplicate of #112. Closing.

[2020-06-11 14:28] #258 closed

[2020-06-11 15:03] martindholmes commented on #309
@ebeshero  and I have added high priority because this has been sitting unfixed for two years.

[2020-06-11 15:07] hcayless commented on #309
If @tuurma does not want this, feel free to assign me. I will be doing some work on docxtotei as part of a grant later this year.

[2020-06-11 15:27] martindholmes commented on #209
Looking at the linked customization, it appears that the links are now working OK, so @ebeshero and I are closing this.

[2020-06-11 15:27] #209 closed

[2020-06-15 08:55] #440 closed

[2020-06-15 14:16] peterstadler commented on #344
@Cutuchiqueno any updates on this? We would need those two files for debugging …

[2020-06-15 14:33] sydb commented on #335
Without diving back into the details, my quick take is that there is nothing to be done _in the Stylesheets_ themselves, but that we should be documenting this behavior somewhere obvious.

[2020-06-15 14:50] sydb opened #444 "odd2lite drops <desc> child of <graphic>, leaving invalid PCDATA"
On ticket #328 @joeytakeda raised an issue that @peterstadler and I think deserves to be a separate ticket, so here it is. My next comment is just a copy of @joeytakeda’s comment on that ticket.

[2020-06-15 14:51] sydb commented on #444
[From @joeytakeda]

odd2lite.xsl also seems to drop child `<desc>`s in `<graphic>`. This:

[code]

Becomes

[code]

[2020-06-15 14:59] peterstadler commented on #323
@TEIC/tei-stylesheets-coop-group will need to have a look at this

[2020-06-17 07:45] Cutuchiqueno commented on #344
Sorry, it completely got out of my way. I try to come back to this next week and provide the necessary resoruces

[2020-06-26 17:48] sydb opened #445 "teitodocx tries to write a file from a variable iff ref to person not in particDesc"
This arises from [TEI ticket #2009](https://github.com/TEIC/TEI/issues/2009).

OP has a [TEI document](https://schnitzler-tagebuch.acdh.oeaw.ac.at/resolver/resolve-doc.xql?doc-name=entry__1893-03-10.xml&collection=editions) which Stylesheets/bin/teitodocx chokes on. (More details on the error below.) @martindholmes discovered that the error goes away if you either delete the `<listPerson>` from th

[2020-07-02 20:09] sydb opened #446 "lists of elements on reference pages should be sortable"
See [TEI#1990](https://github.com/TEIC/TEI/issues/1990).

[2020-07-02 20:36] tiagofassoni opened #447 "Guidelines PDF doesn't render correctly tutorial code"
In page xxx of Guidelines.pdf, there is an example RELAX NG schema. It is rendered incorrectly in PDF. I tried viewing with MacOS' Preview.app and Firefox' built-in PDF reader.

I believe it's some fault in the system that generates the PDF, as the code is correct. Any ideas on where might be the error in the build system? (so I can try to debug and make a pull request).

<img width="486" alt="ima

[2020-07-02 20:39] sydb commented on #447
Thank you for the bug report @tiagofassoni, and it’s nice to hear you are impressed with our repo. However, we actually have _another_ [repo](github.com/TEIC/Stylesheets/) for the stylesheets that process files like SG-GentleIntroduction.xml into PDF (or XHTML, or ePub, or …).
So I am moving (have moved?) this ticket there, where hopefully it will get a little more attention.

[2020-07-02 20:43] ebeshero commented on #447
@sydb @tiagofassoni Thanks for noticing this bug in the PDF output! I’m tagging myself here bc I recognize this RNG code as something I was working on with @lujessica some months ago. Let’s see if we can figure out what’s going wrong here!

[2020-07-04 20:04] sydb commented on #445
I have done some quick testing. It seems that a `<listPerson>`, no matter how small (e.g.,
[code]
) will trigger this error iff a descendant of `<text>`, but not as a descendant of `<teiHeader>` or `<standOff>`, whether pointed at by an `@ref` or not. I have not been excruciatingly thorough, but I have convinced myself the first place we should look is in the _normal_ processing of `<listPerson>`

[2020-07-04 20:17] sydb commented on #445
I have now further tested with each of the possible list* elements as a child of `<body>` (i.e. `<listApp>`, `<listBibl>`, `<listEvent>`, `<listForest>`, `<listNym>`, `<listObject>`, `<listOrg>`, `<listPerson>`, `<listPlace>`, `<listRef>`, `<listRelation>`, `<listTranspose>`, and `<listWit>`). While most are invalid that way (they require a child), only one caused an error when running teitodocx:

[2020-07-04 20:55] sydb commented on #445
Removing the ‘$’ on line 2947 of docx/to/teitodocx.xsl (so that it now reads `<xsl:apply-templates select="mylist"/>`) makes the problem go away. Of course it also means that template no longer generates any output, but depending on what is what, that may not be a bad thing.

[2020-07-07 15:22] hcayless opened #449 "transformtei should print the version of P5 it is using"
...instead of a warning message, which is what it does now if the localsource parameter isn't passed in.

[2020-07-16 20:16] sydb opened #451 "all of them? are you serious? it’s global, that’s what global means"
Listing _every_ TEI element in the “Members” portion of the tagdoc for [att.global](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.global.html), and after “att.global” in square brackets in the “Members” portion of the tagdocs for [att.global.X](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.global.responsibility.html),  is (IMHO) silly.
Don’t quite know what to put the

[2020-07-16 21:09] martindholmes commented on #451
It's logical, it's consistent with the rest of the documentation, it's informative, and it does no harm. I'd keep it. :-)

[2020-07-16 22:44] sydb commented on #451
It is certainly consistent with the rest of the documentation. Whether it is logical or not is debatable, I would say. But it conveys no useful information at all, and it certainly does (mild) harm: it makes it harder to read the useful information on the page.

[2020-07-16 22:47] sydb commented on #451
I had not expected anyone to chirp up and say that it was useful to leave it. But if people think seeing a list of all TEI elements at this point in a tagdoc is helpful, we could consider some sort of when-asked approach. E.g., have the words “all TEI elements” which has the full list as a mouse-over, or gets swapped to the full list if clicked on (how does the user get back, though?) or some such

[2020-07-16 22:55] martindholmes commented on #451
I was thinking that if one of your habits is to click your way to a ref page and then control+F to find whether an element you care about can carry that attribute, then changing this would disrupt your workflow. And it's perhaps useful to see that "global" includes egXml even though it's in a different namespace. That's not necessarily obvious.

Either way, it does seem like a low-priority thing r

[2020-07-17 13:33] sydb commented on #451
Sorry, absolutely no sympathy for described workflow.
Yes, useful to see that `<egXML>` gets global attrs, but not useful enough to make page so hard to use, IMHO.
At least we agree this is low-priority. :-)

[2020-07-17 13:58] jamescummings commented on #451
In some ways it is easier to list them all and if the same mechanism is used in customisations where 'global' does not necessarily mean 'all' then it is good to maintain or we'll have different processes for odd documentation and guidelines. (It probably is already different but I'm minded to suggest that our guidelines generation abdominal html odd output should remain as similar and linked as po

[2020-07-17 15:17] martindholmes commented on #451
@jamescummings "abdominal" made my day. :-)

[2020-07-17 15:33] ebeshero commented on #451
Mine too! But what word is it substituting for? (Probably not abominable!) :-)

[2020-07-17 18:06] sydb commented on #451
Yes, @jamescummings, it is certainly _easier_ to list them all. That’s why we do list them all. I do not think it is a good thing, though, let alone _better_ than figuring out how to suppress that list and yet still display something that could be useful.

[2020-07-31 10:37] #413 closed

[2020-08-04 01:30] hcayless commented on #221
See #220 for test ODD.

`@except` also does not work the way I would expect unless the excluded element is a direct member of the referenced class. If the element is a member of a sub-class of the referenced class, weird (invalid) things happen instead.

[2020-08-04 14:04] sydb commented on #433
Council in general is sympathetic to the idea that we should step away from using JQuery in general, but think that for now we should look at this particular library and see if it is needed, and if so just update the JQuery.

[2020-08-04 14:08] sydb commented on #433
Per @hcayless this has already been done (by @peterstadler), so Council thinks it should just be closed. @peterstadler to investigate.

[2020-08-05 12:03] peterstadler commented on #433
NB: this issue is an update of #395

[2020-08-05 12:08] peterstadler commented on #433
I will update the JQuery library to current version 3.5.1 and file a new issue for triaging all profiles to see whether we might get rid of some old stuff (especially this one).

[2020-08-05 12:12] #433 closed

[2020-08-05 12:19] peterstadler opened #452 "triage profiles"
There are several directories under 'profiles' which seem to be outdated and even might pose a security risk (see #395, #433). This issue is a stub for reviewing all profiles and see what actions can be taken.

[2020-08-10 14:34] martindholmes opened #453 "Debian build debhelper compat version should be updated"
Following an update to Ubuntu 20.04, the Stylesheets build shows 29 warnings in the Debian package build process, all looking like this:

I think this refers to the "compat" file which appears in all of the Deb package folders in the TEI repo; those files currently contain just the digit "4". This is the documentation for those files:

https://www.debian.org/doc/manuals/maint-guide/dother.en.html#

[2020-08-11 14:13] martindholmes opened #454 "classRef/@except processing fails"
The Stylesheets Working Group, trying to integrate the latest P5 changes into the Stylesheets repo, has discovered that classRef/@except is correctly processed for RNG/RNC, but for DTDs it creates an invalid DTD.

This is triggered by the change here:

https://github.com/TEIC/TEI/commit/193e6283321aeeb68b9a93b0d95b10a82148ef74

which closes ticket https://github.com/TEIC/TEI/issues/1848.

[2020-08-11 15:34] lb42 commented on #454
This looks the same as a problem reported in jan 2017 (#220)
 That ticket also includes a useful testfile.

[2020-08-14 16:30] martindholmes opened #456 "Test2 needs to be updated to use source/p5subset.xml"
The change to using a local p5subset.xml in the source/ folder has not yet been integrated into Test2. This should be done after the upcoming release.

[2020-08-14 16:38] sydb commented on #456
(Just convinced @martindholmes to fix this right now, as he and I are the only two using this dir, anyway.)

[2020-08-14 16:39] martindholmes commented on #456
Should be done in commit #69b1e8b6.

[2020-08-14 16:39] martindholmes commented on #456
Leaving this open until we know whether the tests succeed on Jenkins.

[2020-08-15 02:26] sydb commented on #454
Thanks, @lb42. Helpful test file. However, I do not think this is the same problem, though clearly related.

This problem seems to be rooted, I have discovered (after several hours), in the CLASSMEMBERS key, defined in odds/teiodds. That key only matches `<classSpec>` elements, not `<classRef>`. I have fixed it (and CLASSMEMBERS-CLASSES, which has the same problem), and that has fixed the immediat

[2020-08-17 12:35] hcayless commented on #454
When this is fixed, the content models of `<lem>` and `<rdg>` will need to be updated.

[2020-08-19 20:42] martindholmes commented on #453
I think this should be in the TEI repo. I'm doing it anyway today, now the release is out of the way.

[2020-08-19 20:52] martindholmes commented on #453
Done in TEI commit d606b2415.

[2020-08-19 23:52] martindholmes commented on #453
Closing this. Reopen if the build has problems.

[2020-08-19 23:52] #453 closed

[2020-09-02 14:06] dmj commented on #447
I found version 2.4.0 of the Guidelines to be the first PDF that shows this defect.

https://tei-c.org/Vault/P5/2.4.0/doc/tei-p5-doc/en/Guidelines.pdf?page=32

vs.

https://tei-c.org/Vault/P5/2.3.0/doc/tei-p5-doc/en/Guidelines.pdf?page=40

[2020-09-02 16:31] dmj commented on #447
Tracked it down to 9290324b7. From what I gathered it is the combination of \obeyspaces and '\textunderscore ' in tei:escapeCharsVerbatim() that inserts this faulty space. If I remove \obeyspace in https://github.com/TEIC/Stylesheets/blob/1cba5c5928a65565e20416e4df9fb225bcf7706e/latex/latex_core.xsl#L142 then '\textunderscore ' creates a single underscore.

This should be conversion: latex, then?

[2020-09-10 10:08] peterstadler opened #457 "semi-automate the task of updating source/p5subset.xml and reviewing expected results"
During our last Council conf call on 2020-09-08 we discussed how to automate the (new) task of regularly updating `source/p5subset.xml`, reviewing, and incorporating the needed changes into the expected results.
**Background:** the Stylesheets test suit needs a p5subset.xml for testing ODD processing. While formerly this was dynamically pulled from the web, we recently added a dedicated p5subset.x

[2020-09-10 13:29] hcayless commented on #457
I'm a little unclear on precisely what we want to do here. We could have a push to the Guidelines trigger an action that
1. Builds p5subset.xml
2. Checks out the Stylesheets and compares the new p5subset to the one the Stylesheets contains.
3. If they're different, do what? Trigger a pull request for p5subset? Build the examples for the Stylesheets (pretty sure there's a Make target for that) and

[2020-09-10 13:38] peterstadler commented on #457
@hcayless that (do a pull request for p5subset and the new examples) sounds exactly what I'm looking into. I have a draft build file at [my Stylesheets fork](https://github.com/peterstadler/Stylesheets/blob/issue-457/source/build.xml) where I'm tying to document the process in a way that we could use it a) manually and b) as a job on Jenkins. a) is more or less trivial but nevertheless good to hav

[2020-09-23 13:19] eduarddrenth opened #458 "odd2xsd11?"
Dear all,

Would it be an idea to add odd conversion to xsd 1.1?

This makes implicit validation including constraints possible in for example exist-db.

Bye, Eduard

[2020-09-25 15:23] #456 closed

[2020-09-25 15:30] martindholmes commented on #458
@eduarddrenth Since we use Trang to create XSD from RELAXNG, and the RELAXNG includes embedded Schematron, would this be better as a feature request for Trang? There is already an issue on that repo:

 https://github.com/relaxng/jing-trang/issues/205

[2020-09-25 15:36] eduarddrenth commented on #458
Yes, good idea

[2020-09-25 15:36] #458 closed, assigned to nobody

[2020-09-25 15:49] sydb commented on #451
On talking this over with @martindholmes, we’re thinking the right way to do this is in the interface, not in the Stylesheets. (Yes, I know, the Stylesheets produce the interface, but you know what I mean.) If the interface sees _any_ long list of elements (maybe more the 50?) it should give the user the choice to see them all or just an initial sampling. (Making use of `<html:details>` and `<html

[2020-09-25 19:39] jamescummings commented on #451
Apologies, my phone sometimes puts that instead of 'and'.

[2020-09-26 15:49] eduarddrenth opened #459 "maven plugin for odd processing?"
My workflow around odd looks like this:

- maintain odd
- manual actions (oxygen, copy paste)
- mvn clean verify

For people working with maven it would be great to have a maven plugin that does the stylesheet based generation part.
This would enhance build automation of odd based java projects.

Looking forward to what you think

[2020-09-26 16:20] hcayless commented on #459
It's not completely clear what you want to do with Maven, but would https://maven.apache.org/plugins/maven-antrun-plugin/ solve your problem? That should allow you to execute the Stylesheets Ant tasks via configuration in your POM.

[2020-09-26 16:36] eduarddrenth commented on #459
I want my maven build process to take care of generating what I need from odd (rng, xsd in my case), so the rest of the build process can continue from there (generate schematron, jaxb,...and finally build java).

Haven't used ant for a long time from the command line I must say, but yes, perhaps antrun is an option. I'll have a look.

[2020-09-28 10:24] eduarddrenth commented on #459
even better perhaps....bit cumbersome to find out, bit verbose in the pom, but does what I want. A tei maven plugin could
probably simplify this

Running transformations using xml-maven-plugin, for those in need of similar:

[code]

[2020-10-02 21:27] eduarddrenth opened #460 "collection missing in msdescription"
using 7.50.0 I have to add collection to msdescription like this.

[code]

collection doesn't seem to be available by default.

[2020-10-02 21:52] martindholmes commented on #460
This seems like a ticket for the TEI repo, not the Stylesheets repo. Am I missing something?

I did check the latest release, and this is perfectly valid using tei_all:

[code]

[2020-10-02 21:58] sydb commented on #460
+1 to what @martindholmes just said (he beat me to it by minutes. :-)

But in addition, `<collection>` is indeed in the msdescription module; see [the tagdoc](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-collection.html). So I am wondering what you mean by “isn’t available by default”? What is it you tried that produced the undesirable result?

Furthermore, it is not clear to me what t

[2020-10-02 22:32] ebeshero commented on #460
@eduarddrenth I wondered what might be causing the problem, and whether it is that you wanted to use `<collection>` in a different location within `<msDesc>`? Checking the specs in the Guidelines shows it not to be a child of `<msDesc>`, but has a pretty precise position inside `<altIdentifier>`, `<msIdentifier>`, or `<objectIdentifier>` :
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-c

[2020-10-03 08:07] eduarddrenth commented on #460
I'll show you soon

[2020-10-03 08:24] eduarddrenth commented on #460
Found it! I did:

[code]
instead of:
[code]
Sorry for the mistake, thanks for looking!

[2020-10-03 08:24] #460 closed, assigned to nobody

[2020-10-03 18:16] sydb opened #461 "odds/odd2xslstripspace.xsl needs purification"
I started this project just thinking I would do a bit of cleaning, kind of a mini-rub-a-dub-dub, on odds/odd2xslstripspace.xsl. However, on reading the code I have discovered that it ignores Pure ODD children of `<content>`, in particular `<textNode>` and `<anyElement>`.

I have not finished, but already the output is slightly different: the GIs “content” and “datatype” are in the output now (on m

[2020-10-04 00:16] sydb commented on #461
BTW, does anyone know what the output of this routine (TEI/P5/stripspace.xsl.model) is used for? On first glance, I cannot find any mention of it other than its creation, testing, archiving, and removal (as part of the “clean” target, as it is a generated file).
I am not suggesting we get rid of it (after all, it is explicitly mentioned as one of the release outputs in ST), but I am curious if we

[2020-10-04 16:20] martindholmes commented on #461
I don't know. What's the relationship between the TEI/P5/stripspace.xsl.model and the Stylesheets/odds/odd2xslstripspace.xsl files?

[2020-10-05 01:22] sydb commented on #461
Running Stylesheets/odds/odd2xslstripspace.xsl on P5 (or p5subset) results in the TEI/P5/stripspace.xsl.model file.

[2020-10-07 19:13] martindholmes opened #463 "Processing of `@rendition` attributes in HTML is namespace-ignorant"
This pair of xsl:keys in html/html_header.xsl:

[code]

matches `@rendition` attributes in any namespace. That means it matches `@rendition` attributes in the `<egXML>` examples namespace, when it shouldn't. The result is that if you try to process an ODD file into HTML documentation, and your ODD file happens to contain examples which include the use of a private URI scheme in `@rendition` attrib

[2020-10-10 03:21] ebeshero commented on #463
@martindholmes ~~This is strange.~~ I've been testing with the bleeding edge plugin in oXygen, and first just trying to see if I can reproduce the error. ~~I haven't been able to yet: I'm getting good HTML documentation and not seeing errors, not even any any validation errors when I inspect the HTML.~~ **Correction:** Yes: the error is generated, but oXygen still generates the HTML documentation

[2020-10-10 13:55] sydb commented on #463
I haven’t looked or tested at all. Will try to do so shortly. But just glancing at this, I am not sure it is the right fix. Why would the TEI `@rendition` be limited to elements in the TEI namespace? Surely if I add a new element in a different namespace to my TEI schema, it is reasonable that I want it to have `@rendition` (and `@rend` and `@n` and `@next` and `@prev`, etc.), no? So wouldn’t the

[2020-10-10 15:26] martindholmes commented on #463
Away from my computer, but I think @sydb 's refinement is good. Re the Oxygen behaviour, two things spring to mind: it may use Saxon PE or EE, or its lib may include a tweaked XML parser that doesn't generate the error.

[2020-10-10 15:56] ebeshero commented on #463
Here's [my tester ODD file](https://raw.githubusercontent.com/newtfire/textEncoding-Hub/master/Troubleshooting/testerODD/tester-ODD.odd): should have linked it earlier (it's in one of my repos, linked directly.) The customized elements are `<myTesterElem>` and `<seg>`. I don't think there's any substantial difference between mine and @sydb 's except mine has one elementSpec in the TEI namespace, a

[2020-10-10 16:28] martindholmes commented on #463
In my original file that generates the problem:

[wendat.odd.zip](https://github.com/TEIC/Stylesheets/files/5359419/wendat.odd.zip)

the rnd: prefix is only used in egXMLs in the body (documentation), not in the schemaSpec.

We did have an attempt to purge all use of EE and PE from the Oxygen plugin, because Oxygen's optimizations were causing unwanted behaviour in our processing, and because we w

[2020-10-10 16:54] ebeshero commented on #463
@martindholmes @sydb Update: Confirmed: the error shows up in both my Windows and Mac installations of oXygen (v. 22.1), and I didn't notice it last night b/c I was nevertheless still generating the HTML documentation and that documentation checked out and displayed my egXML.

I see that yes, Saxon PE is what's running the transformation in oXygen on both my machines, too--so I think that may be t

[2020-10-13 10:47] TomazErjavec commented on #405
Rather than opening a new issue, I post here another Word file that causes the Stylesheets to fail. At first glance it looks easier to fix than the previous one, the error is:

[code]
[TEI_Stylesheet_crash-test.docx](https://github.com/TEIC/Stylesheets/files/5370800/TEI_Stylesheet_crash-test.docx)

[2020-10-13 11:58] rvdb opened #465 "docx2tei conversion needs to differentiate between list/@type and list/@rend"
I've noticed how the docx2tei conversion still outputs renditional features of lists as the `list/@type` atribute, e.g.:

    <list type="ordered">
      <item>...</item>
    </list>

Hence, this processing is out-of-sync with the Guidelines, which since release 2.7.0 differentiate between `@type` and `@rend` (see https://sourceforge.net/p/tei/bugs/460).  The correct output for an ordered list sho

[2020-10-13 18:52] dmj commented on #461
I also noted that there can be elements that fall through a decision in common/common_tagdocs.xsl#followref: https://github.com/dmj/Stylesheets/commit/7e4defcc27b1e4fc138e115932ae900fba2bd1af

[2020-10-14 06:28] dmj commented on #424
I think the function [odds/odd2odd.xsl#tei:uniqueName()](https://github.com/TEIC/Stylesheets/blob/dev/odds/odd2odd.xsl#L278) does not look right.

- If $e has a @ns of TEI then the unique name prefix is the empty string.
- If $e has no @ns and the ancestor::schemaSpec as a @ns of TEI, the unique name prefix is 'http://www.tei-c.org/ns/1.0'.

If the @ns is supposed to be inherited (which I think is

[2020-10-15 06:26] dmj commented on #424
A)

Inheritance is discussed in 20.8:

have an attribute which determines which namespace to which the object
being created will belong. In the case of schemaSpec, this namespace
is inherited by all the elements created in the schema, unless they
have their own ns.

Thus the function might better rewritten as:

[code]

B) There is a nother bug in the template processing elementRef in pass1

https:

[2020-10-15 08:45] dmj opened #467 "@ns attribute with the value of 'http://www.tei-c.org/ns/1.0' of an attDef is ignored when creating a schema"
See #424

[2020-10-15 08:47] dmj commented on #467
I think there is a problem with the definition of @ns: It is said to have a default value of 'http://www.tei-c.org/ns/1.0'. Thus an attDef without a @ns has an implied @ns with the value of 'http://www.tei-c.org/ns/1.0', which in turn means that the attribute is in the TEI-namespace. But the attributes are in no-namespace.

[2020-10-18 10:40] dmj commented on #467
I cannot reproduce this problem. attDef with @ns creates a attribute tei:new-attribute. See https://gist.github.com/dmj/d63a2688e964fbcf7e33fc78486c07b3.

[2020-10-23 16:05] martindholmes commented on #467
@dmj Is this still a problem, or should this ticket be closed?

[2020-10-23 17:44] dmj commented on #467
I'm not sure. It was reported as an error by @ebeshero in #424.

[2020-10-24 16:29] ebeshero opened #469 "Publishing exempla can be more inclusive of multiple languages"
Council VF2F 2020-10-24: In relation to  https://github.com/TEIC/TEI/issues/1933 , we should experiment with modifying the way Guidelines are published so they agnostically include *all* examples, and/or modify the mechanism by which some exempla are suppressed. We thought this would be a good Stylesheets group activity.

[2020-10-26 16:42] hcayless opened #470 "Flag old GLs versions as old and point to their replacement"
Consider injecting some JavaScript to surface a (non-modal) alert noting that older versions of the Guidelines have been superseded and by what.

[2020-10-26 16:45] hcayless opened #471 "Add permalink for examples"
See TEIC/TEI#1931.

We want to add a link on each example making it easy to obtain a URL directly to that example. Examples already have IDs, making that straightforward. The links should point at a particular version of the GLs rather than "current".

Also see #470, so that if someone bookmarks one of these links and visits it, they see a message alerting them that they have visited an older vers

[2020-10-29 14:42] ylassoued opened #472 "Applying tei-to-text Transformation Using Python LXML"
I am trying to apply the tei-to-xml XSLT to TEI documents using Python and the LXML API, but am getting the following errors. I would appreciate your help. Source code and TEI document are attached.

- Message from line 0, col 0: Invalid type
  Domain: XPATH (12)
  Type: XPATH_INVALID_TYPE (1211)
  Level: ERROR (2)
  Filename: <string>
- Message from line 137, col 0: runtime error, element 'apply-

[2020-10-29 14:49] martindholmes commented on #472
@ylassoued Does LXML support XSLT 2.0 or above? I thought it was just XSLT 1.0. All our stylesheets are 2.0 (and will probably soon be 3).

[2020-10-29 15:14] ylassoued commented on #472
Well spotted @martindholmes! LXML supports XSLT 1.0 only. :-( Thank you very much!
BTW, is it easy to convert XSLT 2.0 stylesheets into XSLT 1.0, knowing that I don't need the full TEI XSLTs, but only tei-to-text?

[2020-10-29 16:01] martindholmes commented on #472
@ylassoued I think it would be quite difficult to convert version 2.0 stylesheets into 1.0. The first line in the tei-to-text.xsl file is:

`<xsl:import href="../common/functions.xsl"/>`

which imports a library of xsl:functions; xsl:function (user-defined function in XSLT) is not supported in XSLT 1.0. However, it doesn't look like any of those functions are actually called. But other XSLT 2 cons

[2020-10-29 20:27] ylassoued commented on #472
Thank you very much @martindholmes! This perfectly answers my question. I will then have to apply the XSLT outside of Python. I suppose I can close now the issue.

[2020-10-29 20:27] #472 closed, assigned to nobody

[2020-10-30 15:35] martindholmes commented on #210
@bansp Can you check your original ticket submission? @sydb just noticed that you have `@rend="change"` instead of `@mode="change`".

[2020-10-30 16:46] rvdb opened #473 "[jTEI] wrong attribute for front section notes in OpenEdition output"
OpenEdition notes in the front section are incorrectly characterized with a `@resp` attribute (e.g. `<note resp="author">...</note>)`. Instead, they should be typed with `@type`: `<note type="author">...</note>`.

[2020-10-30 17:01] #473 closed, assigned to nobody

[2020-11-03 19:51] dmj commented on #417
The Guideline's build process extracts all examples [1] and validates them using the embedded Schematron ruleset [2]. The ruleset used for the examples is derived from p5.isosch by replacing the TEI namespace [3]. The validation error during build happens when validating the extracted examples, not the main file.

[1] https://github.com/TEIC/TEI/blob/37e9ca20a0684e0d2694bb79eb37874dee4f050b/P5/ant

[2020-11-03 20:09] dmj commented on #417
Addendum: The part about extracting the examples is a red herring. The build runs p5examples.isosch.xsl against the main file. The TEI namespace is renamed to the TEI Example namespace in [3], thus the rules are "directly" matching the examples. That's why putting @valid = false to the egXML does not do anything.

[2020-11-05 14:05] sorincarbunaru opened #476 "ANT transformations don't work in Oxygen XML Editor with certain document"
If I try to publish the XML document from inside [facsimile.zip](https://github.com/TEIC/Stylesheets/files/5494833/facsimile.zip) to EPUB, DOCX or ODT, I get the following error:

`Transformation failed. C:\Users\SORIN_~1\AppData\Local\Temp\build1731161873\copy.xml:1: Use a resource collection to copy directories.`

The problem seems to be related to `<pb facs="#B49r"/>` from inside the document.

[2020-11-05 14:28] dmj commented on #476
I can confirm this error. The ```<pb facs="#B49r"/>``` refers to a non-existent element with an xml:id of B49r. https://github.com/TEIC/Stylesheets/blob/f410b156d26dc3b6e845f14faf1681e176e7a6b1/tools/makegraphicsanttask.xsl#L117 fails to realize this and creates an ANT copy task with an invalid source.

[2020-11-05 16:00] martindholmes commented on #476
I think the Stylesheets should fail gracefully on this, but surely it's an error in the encoding if you have a link to a non-existent id?

[2020-11-05 19:36] dmj commented on #476
I think we could use the following rule of thumb: We don't create the Ant task If we can figure out that it will fail. This is the case when the target of @facs is missing but also e.g. when @url of a graphic is empty.

In a "Stylesheets NG" I would consider always validating a document before transforming.

[2020-11-05 19:41] martindholmes commented on #476
@dmj You can only validate a document if you know where the schema is, but for many large projects, schemas are not directly linked from the document; Oxygen project settings, validation scenarios, or custom build processes take care of validation.

It's arguable that a local pointer to a missing id is not a validation issue, it's more of a well-formedness thing, and should be checked even in the

[2020-11-05 19:48] dmj commented on #476
@martindholmes True enough. I have this vague idea about about somehow validating a document against the preconditions for a transformation. Not sure if this is feasable tough.

[2020-11-05 19:56] dmj commented on #476
I disagree, too :)

Sure, will do.

[2020-11-05 20:03] dmj commented on #476
Created pull request https://github.com/TEIC/Stylesheets/pull/477

[2020-11-16 18:20] dmj commented on #368
I am not sure what the bug is here. I tested it with tei_lite.xml downloaded from roma2 and running bin/teitoschematron. This did create a Schematron w/ only a ```<sch:title>``` and a ```<sch:ns>```.

However: This is to be expected because the tei_lite.xml did not contain any Schematron rules.

[2020-11-27 16:11] martindholmes commented on #471
@npcole @sydb and I discussed this, and we think the best approach is:

1. Use the existing ids generated as part of the HTML build process to create a pilcrow anchor.
2. In the processing, check whether the `<egXML>` already has an `@xml:id`, and if it does, use that instead, so that if a policy of adding stable `@xml:id`s to all `<egXMLs>` is instituted, the processing will make appropriate use

[2020-11-28 16:07] npcole commented on #469
Assigned to Elisa just to keep it on the agenda.  However, this is not really just a technical fix -- it involves a long discussion about how documentation should be or is actually written.

[2020-11-28 16:10] sydb commented on #467
This does indeed look like the same issue as #424. Thus closing here. Once #424 is fixed, if you still find a problem, @dmj, please re-open (or open a new ticket).

[2020-11-28 16:10] #467 closed, assigned to nobody

[2020-11-28 16:22] npcole commented on #451
Assigned to @npcole to have a look at @sydb's suggestion from 25th September.

[2020-11-28 16:24] npcole commented on #449
Assigned to @npcole to have a look at the bash.

[2020-11-28 16:35] npcole commented on #444
Assignments copied from the parent ticket.

[2020-11-28 17:50] martindholmes commented on #465
I think it should be `rend="numbered"` rather than `ordered`.

[2020-11-28 18:01] rvdb commented on #465
@martindholmes, I see the [TEI prose](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#COLI) indeed uses `numbered`.

In that case (but unrelated to this issue), the jTEI customization should probably be aligned with this as well: it currently uses `ordered` for numbered lists, see https://github.com/TEIC/TEI/blob/dev/P5/Exemplars/tei_jtei.odd#L2486.

[2020-11-28 21:46] hcayless commented on #465
👍All lists are ordered. They can’t help it. 😁

[2020-11-28 21:48] sydb commented on #465
(Although to be fair, the order may be unimportant to you, for various values of “you”.)

[2020-11-28 21:53] lb42 commented on #465
While it is true that lists are inevitably ordered, the order of a list may or may not be meaningful.

[2020-11-28 23:00] martindholmes commented on #465
@rvdb Yes indeed, we should fix that. What are the implications for older already-encoded JTEI articles? Does it matter at all? We can always leave processing in place for "ordered" alongside "numbered".

[2020-11-28 23:43] rvdb commented on #465
@martindholmes I've updated the pull request at https://github.com/TEIC/Stylesheets/pull/466 accordingly.

Concerning jTEI articles: replacing "ordered" with "numbered" will break validation of older articles. At first sight, I'd be inclined to keep processing for "ordered" as well, so the transformations can be re-run for older articles without changing the source. OTOH, in the meantime processin

[2020-11-29 01:58] martindholmes commented on #465
@rvdb Older articles can be pointed at older versions of the schema in the Vault, like this:

https://tei-c.org/Vault/P5/3.6.0/xml/tei/custom/schema/relaxng/tei_jtei.rng

so we can ensure that none are actually invalid.

[2020-11-30 08:43] rvdb commented on #465
(apologies if this is becoming a different issue)
@martindholmes Thanks, of course it needn't be any more complex than that. Yet, how to deal with "upcoming" changes to the jTEI ODD? Suppose this ODD change is made today in the `dev` Git branch, and tomorrow an article is published using the updated "numbered" `@rend` value for numbered lists; what schema version should it point to? In other words

[2020-11-30 15:31] martindholmes commented on #465
Hi @rvdb. I don't think any jTEI article would be encoded using a dev version of the Guidelines, unless it's expected to be released after the current dev channel becomes a release. Otherwise, we'd use the current release of P5 and the current release of the jTEI ODD/schema to encode any new articles; then following encoding and publication, we might pin those articles to the release we used. (We

[2020-12-01 13:50] sydb commented on #471
The relevant code that generates ¶ links for sections of the _Guidelines_, and thus we would probably want to copy-and-modify or make a subroutine out of, is in guidelines.xsl, starting at line ~678:
[code]

[2020-12-01 15:22] martindholmes commented on #471
Stylesheets group today implemented this for most examples (prose and spec pages), but we still have to make it happen in the examples pages ("Show all"). We also need to look at egXMLEndHook, where the link text "bibliography" is hard-coded, when it should actually be an i18n call. This will be the subject of a second ticket.

[2020-12-01 15:24] martindholmes opened #478 "The word "bibliography" in egXMLEndHook is hard-coded, but should be an i18n link"
Stylesheets group discovered this while working on ticket #471. The location is odds/guidelines.xsl line 776.

[2020-12-04 13:32] sydb commented on #478
And at first glance it looks like the key that it should be i18ned to is “biblioWords”.

I, for one, do not have a strong opinion about whether or not that is an appropriate key. But its translations look to me (who speaks no language other than English)-: like the right stuff, and it is never used.

[2020-12-04 15:19] sydb commented on #478
I note also that the jTEI profile in some ways does this better than the Stylesheets per se, and in one way perhaps worse. They include an attribute on each <text> for a plural value, and consistently use keys that make it clear what is going on (they all end in “-label” except for “and”). Those are good ideas to emulate. They also put the key on `@xml:id`. I am not sure what I think of that. The

[2020-12-04 15:19] #478 closed, assigned to sydb

[2020-12-04 17:27] martindholmes opened #479 "Section anchors should be anchor characters, not pilcrows, and should be visible"
egXMLs now have a nice little Unicode anchor character as their link; @sydb and I believe that the anchor should also be used where we currently use a pilcrow, to create anchors for prose chapter sections, and that the current style bookmarklink, which makes the character greyed-out until you mouseover it, should not do that, or shouldn't be quite so light so people can see it.

[2020-12-08 15:38] ebeshero opened #480 "Processing grouped exempla"
Connected with https://github.com/TEIC/TEI/issues/2072 and https://github.com/TEIC/TEI/issues/2073 (and https://github.com/TEIC/TEI/issues/1933 ):  Once we have found a way to group identical exempla, we need to find a way to process these that makes sense, perhaps to display just one exemplum from the group, and output the distinct descriptions from different languages.

[2020-12-18 19:59] martindholmes commented on #241
Pinging this ticket --  surely we need to get this fixed? It's currently not possible (as far as I can see) to create a content model which may contain zero or one of each of a list of elements in any order.

[2020-12-20 19:01] sydb opened #482 "constraintSpec inside attDef output is both ugly and wrong"
We have only two elements which have a `<constraintSpec>` inside an `<attDef>`: `<moduleRef>` and `<variantEncoding>`. (We have lots of attribute classes that sport an `<constraintSpec>` inside an `<attDef>`, but they are not problematic, because the “Schema Declaration” is not displayed on their tagdocs. Not sure why not.)

In both cases a large chunk of the “Schema Declaration” of the HTML outpu

[2020-12-20 19:11] martindholmes commented on #482
Wow, that does look bad:

https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-moduleRef.html

This seems like it shouldn't be too difficult to fix. The Schematron seems nicely-laid-out in the attribute definition itself, it's just that it shows up all borked in the schema declaration. This should be release-blocking.

[2021-01-03 14:47] sydb commented on #482
I do not think it makes sense to make this release-blocking: it has been around since 2.8.0 was released in April 2015, and no one has complained until now. I am pretty confident that the borking (as you put it, @martindholmes) has to do with the fact that the XML `<constraint>` is converted somehow to an XHTML `<tr>` before being handed to `trang` to be converted to compact syntax.

[2021-01-03 15:33] martindholmes commented on #482
@sydb Idon't think the fact that something has been around for a long time should have any bearing on whether it's release-blocking. If it's egregious and fixable it should be fixed before the next release, no?

[2021-01-03 15:35] sydb commented on #482
Sure, it _should_ be fixed before the next release. But I don’t think the next release should be delayed or canceled if, perchance, it is not fixed in time.

[2021-01-14 20:48] sydb commented on #237
Current plan is for the TEI Stylesheets group to discuss this at our next meeting, scheduled for Thu 28 Jan 21. I will try to do some experimentation and send a heads-up to the group ~1 week from today.

[2021-01-22 03:53] sydb commented on #237
Another [starting point ODD](https://github.com/TEIC/Stylesheets/files/5853483/issue_237.odd.txt) for testing things. Note that the file has “.txt” appended to the name to convince GitHub it is safe. (I have to figure out how to use gists some day, I guess.)
The output RELAX NG generated (at least on my system) is not valid, because the prefix used in some of the `@ident`s is not defined. Am I for

[2021-01-22 17:32] martindholmes commented on #237
@sydb @npcole and I tested a parallel problem with elements, and discovered that if you add an element in a different namespace but with the same local-name as a TEI element, not only is there no way to refer to it using an elementRef, but when you generate the schema, the pattern for that element is not duplicated, it's completely absent. So we're thinking that an approach to both these problems

[2021-01-26 06:44] GVogeler commented on #214
RDF schema validation in Oxygen relies on frameworks\rdf\schema\rdfxml.rnc which describes itself as:

[code]
Using an RDF parser is probably the better way to check validity. See https://www.w3.org/RDF/Validator/documentation and https://www.w3.org/People/Barstow/#online_parsers, or http://librdf.org/raptor/rapper.html for instance.

[2021-02-08 18:51] martindholmes commented on #314
I think we should now collapse all our html output stuff into html5, and stop maintaining a distinction; html5 is the present and the future. Having done that, we can remove stuff like  type="text/javascript" (which generates warnings in html5 validation), and we can invoke the vnu validator to check our output in a more straightforward way.

[2021-02-12 15:28] #471 closed, assigned to sydb

[2021-02-12 18:48] sydb commented on #444
We (@martindholmes, @npcole, and I) found a likely cuprit in the template that matches tei:desc in common/common_tagdocs.xsl. (It was just doing &lt;apply-templates>, no more.) We changed it so it copied the `<desc>` itself and all its attributes. Change passed the tests of Stylesheets/Test/, Stylesheets/Test2/, and TEI/P5/Test/, so we are reasonably confident this is a fix.

[2021-02-12 21:56] sydb commented on #444
Oy vey.
This fix turns out to break the build. I have put an hour or so into figuring this out, and what I have determined is I am probably not going to fix it today, and thus I am going to back out the change made in 668331b and re-open this ticket.

The problem seems to be that there are several places in the build process (or, at least, 2 obvious places in the building of ePubs) where the new &

[2021-02-13 03:39] martindholmes opened #484 "Obsolete email address in every Guidelines page"
See TEIC/TEI/issues/2112.

Lines 420ff of odds.guidelines.xsl hard-codes an obsolete email address into the Guidelines page headers:

[code]

Council should decide what email address is more appropriate, and then perhaps parameterize it.

[2021-02-13 14:03] hcayless commented on #484
My inclination is to get rid of it entirely. There are plenty of ways for people to get in touch with the TEI-C that are less obscure.

[2021-02-19 18:27] martindholmes opened #487 "HTML5 doctype created by the stylesheets is obsolete"
All HTML5 output from the stylesheets, including the Guidelines, contains the following long-obsolete formula:

[code]

This was originally proposed as a sort of temporary hack for systems unable to produce the proper HTML5 doctype (https://dev.w3.org/html5/html-author/#doctype-declaration). It's a hindrance in that processors such as Saxon will stumble over it, making post-processing of TEI-gener

[2021-02-19 18:30] sydb commented on #487
Hear hear!

[2021-02-20 04:07] #484 closed, assigned to hcayless

[2021-02-25 18:41] martindholmes opened #488 "constraintSpec in elementSpec/attList/attDef causes borked output"
Following on from this ticket: https://github.com/TEIC/TEI/issues/2115

Where an elementSpec has an attDef which contains a constraintSpec, the constraintSpec is not rendered where it should be (in the attDef context); instead, its content is blurted out in a messy way in the content model of the element itself. This is manifested in the spec pages for variantEncoding, rt, citeStructure and module

[2021-02-25 18:44] sydb commented on #488
I have not found the problem, but it certainly smells like the code that processes the contents of `<attDef>` is applying or calling the template for `<constraintSpec>` in the wrong mode.

[2021-02-25 19:03] martindholmes commented on #488
It's in odd2lite.xsl:
[code]

And the problem is right there.

The issue shows up when the attDef is processed in the context of the element content model; the constraintSpec should be ignored but it's not.

[2021-02-28 19:30] sydb commented on #349
@hcayless — My apologies for not paying attention to this for 11 months. Sigh. Is d15e452 supposed to fix this issue, or just part of it? I ask because a quick test says it works when the `<dataRef>` points to teidata.count, but not when it points to teidata.temporal.w3c. I have not done further testing, figuring I should ask, first.

[2021-03-01 02:56] sydb commented on #349
Either way, I think this change should probably be reverted per #1606 (we do not allow `@restriction` on a `<dataRef>` that uses `@key`).

[2021-03-05 22:18] sydb opened #490 "upgrade Saxon"
@martindholmes points out we should upgrade our Saxon 9 to Saxon 10.

[2021-03-05 22:18] sydb commented on #490
See also [TEI #2117](https://github.com/TEIC/TEI/issues/2117).

[2021-03-05 22:20] sydb commented on #490
Most of this has been completed in branch _saxon10_ at commit 5d8f2a2e. We are waiting until it is done in the TEI repo, too, before issuing a PR.

[2021-03-23 15:31] sydb opened #495 "makegraphicsanttask needs at least documentation, if not improvement"
While looking at #477, @dmj’s improved processing of `@facs` when generating ant copy-the-graphics tasks, a few things occurred to me:

1. I, for one, had almost no idea what the culprit program (tools/makegraphicsanttask.xsl) is for, who would call it when and why. Reading the code it looks like it reads in a TEI file and writes out an ANT project. But I should not have to read the source … where

[2021-03-23 18:25] sydb commented on #102
I have taken @Dominique-M’s test file and run it through both `teitohtml5` with `--splitLevel` set to -1, 0, and 1; and through the html5/html5.xsl stylesheet directly with splitLevel= set to -1, 0, and 1. The resulting 6 sets of output are attached. I have not looked at them carefully at all, but did note that the output of `teitohtml5` is exactly the same regardless of splitLevel. Sigh.
[issue_1

[2021-03-25 19:12] ebeshero commented on #402
Related tickets:
#272
#210
https://github.com/TEIC/TEI/issues/1715

[2021-03-25 19:17] ebeshero commented on #272
This ticket, concentrated on valList, is possibly superseded now by #402.

[2021-03-25 20:15] sydb commented on #102
Progress on this ticket, @Dominique-M!

First, the good news. In taking a look at this we (Council Stylesheets Group) discovered that the `teitohtml5` command (and the `teitohtml` command, which should be the same thing but are not; we’ll be making a new ticket for that) was **not** passing the $splitLevel switch in at all. We fixed that. So now you can generate the same bad output in the “proper”

[2021-03-25 20:31] sydb opened #496 "TOC creation for TEI-in-TEI"
Now that `<TEI>` can self-nest, the `mainTOC` template in ./html/html_textstructure.xsl needs to be updated. (At the very least, `test="self::tei:teiCorpus"` needs to be `test="self::tei:teiCorpus | self::tei:TEI[tei:TEI]"`, but there may be a lot more.)

(This is **status: Go** to see what needs to be done, and perhaps do it in a branch.)

[2021-03-25 20:34] ebeshero commented on #102
Stylesheets group has been inspecting this and we'd like to try making a new test file that includes more of the things we expect to see processed. We'd need two parallel structures: one with `<group>` elements as well as numbered and unnumbered `<div>`s.

[2021-03-25 21:06] Dominique-M commented on #102
I am glad, for the others, to hear about improvements of teitohtml and
teitohtml5. I am not a digital humanist, but discovered years ago the
TEI as, to me, the best HTML authoring tool, mostly of things born
digital. I use it a lot, every other day or so, on many projects, always
with /usr/share/xml/tei/stylesheet/html5/html5.xsl and params for the
project taken from html_param.xsl, plus sometimes

[2021-03-25 22:15] sydb commented on #102
Excellent, @Dominique-M! (The reason “proper” is `<soCalled>` is because there really is no _proper_ way. There is only the way the author intended vs. all other ways on one axis; and methods that work vs. methods that don’t on another, far more important, axis. :-)

[2021-03-26 10:30] lb42 commented on #102
If you'd like real world example using groups see my ossian!

[2021-03-26 12:14] ebeshero commented on #102
@lb42 Apparently hot off the GitHub presses, too! Thanks for this. https://github.com/lb42/Ossian-1773

[2021-03-26 15:54] npcole opened #497 "FOP binary is out of date"
At time of writing, it is not possible to simply update the fop version to 2.6, because the OFFO-hyphenation project has not been updated since 2016.

Details of how to make hyphenation work are here. There appear to be three options to investigate.

https://xmlgraphics.apache.org/fop/2.6/hyphenation.html

[2021-03-26 16:09] martindholmes commented on #497
@npcole and I think it's possible that the original OFFO-hyphenation binary for FOP 2.2 will Just Work; if so, we can just update the fop version to 2.6. Just needs a quick test, which Test2 can provide.

[2021-03-26 16:13] martindholmes commented on #490
Working with @npcole today, we realized that dev has moved and and would have to be merged, so we did that, which nuked some of the Test results changes from our previous work in this branch. We've now been re-running tests and re-fixing results. Hopefully we can get to a PR before more changes in dev cause more merge problems.

[2021-04-08 16:54] sydb opened #500 "need to document update p5subset procedure"
We have agreed that p5subset should periodically be copied into Stylesheets/source/. We should document that process so that questions like

- which p5subset gets copied over?
- which tests get run?
- what do you do when there are differences between actual and expected results?

etc. are easily answered.

[2021-04-08 17:48] martindholmes commented on #500
I think @sydb and I agree that the best source for p5subset.xml is the latest build output of TEIP5-dev on the main Jenkins machine.

On tests, I see no reason why they shouldn't all be run and fixed. At the moment, Test2 is not really official so it would be fine to leave fixing Test2 problems to @sydb and me, but since the Jenkins jobs will also run the full suite of tests, it makes sense to run

[2021-04-11 17:24] craigberry opened #501 "multiple problems with CSS installation and references"
The following observations are based on the dev branch as of 8c4c0b3b6e84b93a.

There are a bunch of references throughout the sources to stylesheets located at https://www.tei-c.org/release/xml/tei/stylesheet:

[code]

All of those currently give 404 errors, and in fact there is not even a stylesheet directory at [https://www.tei-c.org/release/xml/tei/](https://www.tei-c.org/release/xml/tei/).  P

[2021-04-11 19:47] sydb commented on #501
Indeed, @craigberry. Basically just posting here to let you know you’re right, we’re on it, but it may be a bit.
Just yesterday evening @HelenaSabel and I noticed this problem, and alerted Council. As I type folks are trying to set up an ad-hoc meeting for tomorrow to address this, with the hopes that we can fix it on Wednesday. At the moment I lean slightly towards your (2), but I also do not und

[2021-04-11 20:25] hcayless commented on #501
Thanks @craigberry! It is a deployment issue, and I've just fixed it.

[2021-04-11 20:25] #501 closed, assigned to nobody

[2021-04-20 21:27] JanelleJenstad commented on #495
This is set to status: Go to figure out what this program is for and who calls it. Until we know what it's for, we can't fix it. @MegJBrown Pls discuss with @sydb at your next standing mtg.

[2021-04-20 21:29] #490 closed, assigned to nobody

[2021-04-20 21:33] martindholmes commented on #497
In commit #bd605e65 I've made the FOP version configurable from a single property, and made it 2.6 by default. This works fine with OFFO, but it turns out that MathML processing no longer works because the JEuclid plugin for FOP has not been updated. I've suppressed the single small MathML-to-PDF test we had, since it's really not a core TEI requirement to handle MathML, but I've left the test fil

[2021-04-20 21:33] #497 closed, assigned to npcole, martindholmes

[2021-04-21 20:37] #488 closed, assigned to nobody

[2021-04-22 19:03] martindholmes commented on #178
The Stylesheets working group is working on this in the branch issue-178-remove-old-sch.

[2021-04-22 19:32] martindholmes commented on #178
There is a temporary Jenkins job on the UVic Jenkins building the temporary branch.

[2021-04-22 19:38] ebeshero commented on #178
Stylesheets working group moved to a temporary branch to remove all references to the old Schematron namespace, `http://www.ascc.net/xml/schematron` as well as to the prefix `s:` associated with it (and mentions of `s` in `exclude-result-prefixes`. We then tested the branch on Jenkins 2...and it passed all tests at the very end of the session! https://teijenkins.hcmc.uvic.ca/view/Temporary%20jobs/

[2021-04-22 19:56] martindholmes commented on #178
Test2 also passes, so I believe anyone who would like to can merge this branch into dev.

[2021-04-23 01:37] ebeshero commented on #178
@martindholmes I've merged it in to dev.

[2021-04-23 02:15] martindholmes commented on #178
Thanks @ebeshero. I'll close the ticket and delete the Jenkins job. Nice work everybody!

[2021-04-23 02:15] #178 closed

[2021-04-23 02:47] JanelleJenstad commented on #178
Bravo all! You’re going to have a hard time persuading me now that stylesheets meetings don’t get stuff done!

Sent from my iPhone

On Apr 22, 2021, at 7:18 PM, Martin Holmes ***@***.***> wrote:

﻿
Notice: This message was sent from outside the University of Victoria email system. Please be cautious with links and sensitive information.

Closed #178<https://github.com/TEIC/Stylesheets/issues/178>.

[2021-04-23 02:52] martindholmes commented on #178
@JanelleJenstad I honestly think this is the first one where we've actually solved a complete problem and closed a ticket. Not that we don't make progress, but we usually get half-way into a problem and then it gets carried on by one or two people afterwards. This time, seven different people made commits on the same ticket in the space of an hour.

[2021-04-23 12:53] sydb commented on #178
Oh, @JanelleJenstad, we certainly get stuff done. Just not that much that fast. Primarily because we typically find there is more to a problem than meets the eye, as it were. I think we have even closed an occasional ticket before. But this was certainly the most dramatic, and perhaps one of the fastest and best fixes we’ve done _during_ a meeting. (Either way, this is not really the place to chat

[2021-04-26 16:34] martindholmes opened #503 "common_tagdocs.xsl ignores `<tag>/@type`"
The spec for the `<tag>` element includes values for `@type` including "start, "end", "empty" etc.

https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-tag.html

However, the template that renders the element, in common_tagdocs.xsl (l.1852) ignores those values:

[code]

I think appropriate content should be inserted, so that:

- "end" inserts a slash after the opening angle bracket
- "empty"

[2021-04-27 17:09] JanelleJenstad commented on #102
Assigning to @ebeshero to ensure that the discussion happens. Pls reassign after discussion if someone else should implement the fix.

[2021-04-27 17:16] JanelleJenstad commented on #124
@jamescummings: We see that you are assigned to TEIC/TEI#566. We're adding your name to this ticket for efficiency. Pls work with @hcayless to figure out who should do this job.

[2021-04-27 17:26] JanelleJenstad commented on #126
@JanelleJenstad: note to self: my job is to make sure that @sydb comments and that we make a decision. Go back to @jamescummings to ask if there's an acceptable alternative to an Appendix.

[2021-04-27 17:39] JanelleJenstad commented on #139
@sydb and I think that this ticket can be closed. 20 days after @hcayless opened, @lb42 closed the related ticket, implying that it already worked. There are 5 examples of how to use <code>@accept</code> but we don't actually use it anywhere. Assigning to @HelenaSabel to try using it to test if it works. If it does, this ticket can be closed. If not, this ticket needs discussion.

[2021-04-27 17:46] JanelleJenstad commented on #140
Assigning to @HelenaSabel because this ticket is the test for the #139

[2021-04-27 17:46] sydb commented on #139
Note that #140 is directly related.

[2021-04-27 17:55] JanelleJenstad commented on #144
@sydb and I decided to close this ticket and make a new TEI ticket. See TEIC/TEI#2136

[2021-04-30 16:09] martindholmes opened #504 "Missing space after idno in biblStruct processing (obvious in Guidelines bibliography)"
@sydb and I, working on a TEI ticket, noticed that where an idno (eg for a doi) exists in a biblStruct, and its processing is followed by the processing of a journal title, there is no space between them in the output (both in the HTML and PDF Guidelines). Although we believe the simplest solution here is to re-encode the relatively few remaining biblStructs entries as bibls (we had a campaign to

[2021-04-30 17:35] martindholmes commented on #504
Working fixes for this are on branch sydb-504_space_after_DOI, and I think we're ready for a pull request. Waiting for @sydb to confirm.

[2021-04-30 21:32] sydb commented on #504
On my local machine:
- Quick eyeballing of output looks right.
- All tests in Test2/ pass
- All tests in Test/ pass (except building PDF, which always fails)

So yeah, I guess we are ready to pull & roll.

[2021-05-01 22:03] martindholmes commented on #500
This is actually easy to document, but the question is where does that documentation belong? Anybody? A new TCW?

[2021-05-01 22:19] martindholmes commented on #463
In commit #433ca5d in the oxygen-tei repo I've switched over from Saxon-PE to Saxon-HE to see if it helps with this problem. When the bleeding-edge plugin is built, I'll update my Oxygen and run some tests again.

[2021-05-01 22:23] martindholmes commented on #436
I believe the pull request fixed this, so I'm closing it.

[2021-05-01 22:23] #436 closed

[2021-05-01 22:26] martindholmes commented on #201
@sydb @lb42 @martinascholger @hcayless @ebeshero I don't believe there will ever be consensus on this, so I think this has become a zombie ticket. I think we should close it.

[2021-05-02 01:12] martindholmes commented on #463
Either this has solved the problem, or the problem went away because of some other change. At any rate, we have made an effort to keep all our Oxygen transformations pinned to Saxon-HE so that there are no differences between what you get in Oxygen and what happens at the command line, so the change is in line with previous decisions, and we get to close this ticket. Thanks everyone.

[2021-05-02 01:12] #463 closed, assigned to martindholmes, ebeshero

[2021-05-07 04:40] ebeshero opened #506 "Nested attLists organized by @org generates bad ODD-to-HTML output"
Noted in working on https://github.com/TEIC/TEI/issues/2140, the HTML output generated by a set of nested attLists produces problematic HTML documentation. An example of the code that generates problematic output is on the TEI ticket: https://github.com/TEIC/TEI/issues/2140#issue-876073303

The HTML output completely misses valLists and valItems (and glosses, etc): You see only the Relax NG conten

[2021-05-14 16:35] martindholmes commented on #496
@npcole, @sydb and I made a start on this in branch issue-496-corpus, and got some things working, but HTML is not yet working correctly. Ran out of time.

[2021-05-21 19:06] joeytakeda commented on #241
I've recently been bitten by this bug and confirm it's still happening.

I've done a bit of digging in the Stylesheets and it looks like the root of the problem (or, at least, the initial problem) is in `odd2odd.xsl`. Running this command against the `dev` branch of the Stylesheets (where preserveOrder.odd is the ODD @sydb provided):

[code]

Shows a `<sequence>` for content that has lost its `@pr

[2021-05-22 20:34] joeytakeda commented on #241
The problem was indeed in `odd2odd.xsl` as far as I can tell. `teiodds.xsl` (imported by`odd2relax.xsl`) already has handling for `preserveOrder`:

https://github.com/TEIC/Stylesheets/blob/96001864018d9708ab44523fcafe3475f6885d6f/odds/teiodds.xsl#L2078-L2104

So copying over the attributes in `odd2odd.xsl` seems to fix the issue, preserving `@preserveOrder` so that it's recognized by the time the

[2021-05-28 16:05] sydb commented on #496
This was status GO to see what needs to be done. @martindholmes and I have spent ~2–3 hours together on this problem (one of them with @npcole’s help, too) and have not cracked this nut. (The problem is not that figuring out an XPath that does the right thing is difficult, but rather following the labyrinthine processing chain is a serious stumbling block.)
Thus, at least for the moment, this is g

[2021-05-28 16:05] #496 closed, assigned to sydb

[2021-06-10 14:11] sydb opened #509 "<idno> in addition to, then instead of, <altIdent> for FPI of module"
Per TEIC/TEI#2049, we need to change the Stylesheets so that the FPI of a module is indicated by `moduleSpec/idno[@type eq 'FPI']` as opposed to `moduleSpec/altIdent`. Of course, since the latter will be deprecated, not removed, for a year or two, they need to be handle both possibilities for at least that long.

[2021-06-11 15:30] #504 closed, assigned to sydb

[2021-06-11 16:01] martindholmes commented on #444
@sydb and I looked at this ahead of the Stylesheets meeting and determined that instead of modifying the template for tei:desc, we should add one for tei:graphic/tei:desc, that copies the desc. Then we will have to deal with any fallout downstream, where tei-to-other-things is not expecting a desc inside graphic. Those downstream things might choose to drop the desc, or turn it into an attribute,

[2021-06-24 18:22] martindholmes opened #511 "tei-to-markdown.xsl needs a template to handle images"
The Stylesheets Working Group, looking at issue #444, found that the tei-to-markdown.xsl lib has no template for tei:graphic, so graphic elements are being output as nonsense. This should be a simple template to add.

[2021-06-24 18:52] #444 closed

[2021-06-25 18:31] npcole opened #513 "<ptr> in <desc> gets dropped in rng"
While investigating issue #399, it became clear that the processing of `<ptr>` was also incorrect.

[2021-06-25 19:02] martindholmes commented on #399
@npcole, @sydb  and I figured out a fix which is coming in branch issue_399_rng_annotations...

[2021-07-02 16:24] martindholmes opened #515 "Unwanted word "Attributes" appears in HTML output tagdocs"
@sydb and I, looking at issue #506, discovered that in HTML output documentation from user ODD files (not the Guidelines), the word "Attributes" appears in the tagdocs tables for elements and attribute classes, not only in the left column as a label, but also in the right column next to it, before the list of attributes. This results from two calls, on lines 2678 and 2696 of common_tagdocs.xsl. Th

[2021-07-02 17:02] martindholmes commented on #515
A look at the history of the Exemplars in TEI releases suggests that this goes back well over a decade.

[2021-07-07 01:43] sydb commented on #513
When we fixed #399, we only did `<code>`, but also found `<ptr>` is problematic. The fix for `<ptr>` is not as easy, though. My personal thought (at the moment) is rather than try to fix this particular little problem, the entire thing (processing of `<gloss>` and `<desc>` into RELAX NG annotations) should be ripped out and re-written as processing in a special-purpose mode.

[2021-07-27 14:18] sydb commented on #379
Done at d5d162ff. It passed both Test/ and Test2/ on my local machine. But if it does not work, we just back it out.

[2021-07-27 14:18] #379 closed

[2021-07-29 18:16] sydb commented on #326
With 1ea8249f we (Stylesheets group) think we have solved this. If there are still elements with `@xml:id` in your input, @Dominique-M, which do not get `@id` in the output HTML, let us know.
Note, though, that we did this for HTML5, not plain HTML, output. (We are planning on merging the two soon, anyway.)

[2021-07-29 18:16] #326 closed

[2021-08-01 10:25] HelenaSabel opened #516 "Repetition of @id when processing listBibl/bibl into HTML"
While testing the XHTML5 conversion I got a validation error that was already present in the expected results: the repetition of the same `@id` values. This is caused when processing [test32.xml](https://github.com/TEIC/Stylesheets/blob/dev/Test/test32.xml) which contains `listBibl/bibl` elements with `@xml:id` attributes.  In the HTML output, the value of the `@xml:id` is added both to the `<li>`

[2021-08-01 13:30] lb42 commented on #516
With. Otherwise styling specific to the @class won't happen

[2021-08-01 13:40] ebeshero commented on #516
Wait a minute. If the validation error was already present in the expected results, is there a need to change the output?

Or maybe I am misunderstanding! What was the difference in the test results before vs. after your change? @HelenaSabel

[2021-08-01 13:46] ebeshero commented on #516
Or, what is the difference between the actual results and the expected results for test32?

[2021-08-01 13:57] HelenaSabel commented on #516
@ebeshero  There is no change yet: as you can see in the expected results folder, we have been expecting invalid HTML for test32.html for a while :)
 I had doubts about what should the expected results contain regarding the list that begins in [this line](https://github.com/TEIC/Stylesheets/blob/5bdca2bfc328ed1a66f595687d60a7fb27c72ce1/Test/expected-results/test32.html#L4639), and @lb42  answered:

[2021-08-01 14:02] ebeshero commented on #516
Sorry—I think my question wasn’t clear. I meant, if we expect invalid HTML, and your test results are consistent with the expected results, why do you need to make a change?  Is there a difference between actual results and expected results?

[2021-08-01 14:14] HelenaSabel commented on #516
Ah, sorry, @ebeshero, now I understand your question. As regards my testing of the HTML5 code, the expected and actual results match. The test didn’t pass because I am using `tidy` to format the HTML. Given that the HTML was invalid, `tidy` created an error message that broke the test, but that it is not a problem in itself because I can use something else for the formatting. I just opened a new i

[2021-08-01 14:30] ebeshero commented on #516
@HelenaSabel Okay, so this is recent history now: At the Stylesheets meeting of May 27, 2021, Council agreed with your proposal to use `tidy` instead of `xmllint`, and I think you've already updated the package lists. There was some warning in the Stylesheets minutes: "Group likes the idea of using Tidy—but beware not to fix errors".  I wonder if this kind of situation is what the group had in min

[2021-08-01 14:35] ebeshero commented on #516
Also, I'm wondering if we want to retitle this issue: This is about the transition to `tidy` and how it affects our test suite correct?

[2021-08-01 14:58] HelenaSabel commented on #516
The library `tidy` is not fixing the error, it is just informing that it is there. As I said before, we could try to use another library that does not inform of validation errors or we could keep using `xmllint` being aware of the changes added by this library in the HTML outputs. I think the real issue is that we are generating `@id` attributes twice (both in the parent and the child) when proces

[2021-08-01 15:16] ebeshero commented on #516
@HelenaSabel Well, the test suite produces outputs that we expect, and these are not always valid. Like you, I don't really understand why we'd *want* expected-results to contain an output with duplicate ids, but they are apparently the results that we expect from this test suite.

Running the test suite shows us what changes are introduced when we update the Stylesheets. Introducing `tidy` is a s

[2021-08-01 15:22] martindholmes commented on #516
Something I've wanted to do for a long time is to integrate validation of html5 results using vnu.jar into Test2, but this has been waiting on the fixes for the old pseudo-doctype in the html5 output and the merging of htmls into a single xhtml5 output format.

[2021-08-01 16:44] HelenaSabel commented on #516
@ebeshero Thank you for the explanation. If the expectation in the current Test suite is not to check the validity of the HTML output, then the use of HTML-specific libraries for formatting is indeed not that suitable. I did the tests configuring `tidy` so it doesn’t fix things, but I cannot completely turn off the validation itself.

Considering that the HTML5 output is a pressing matter that we

[2021-08-01 17:31] ebeshero commented on #516
@HelenaSabel Let's leave it open a moment, only because I'm not sure what's best to do here. The more I think about this, the more I wonder if we've just been tolerating output validation errors that we shouldn't be tolerating, simply because we've filed them under `expected-results`. It's one thing to expect tests to "break" when we make an update to the Guidelines, changing schema validation beh

[2021-08-01 17:35] ebeshero commented on #516
In other words, @HelenaSabel , I think you're right to open this issue. I also wonder if the `tidy` introduction will expose a few other problems in the test suite that we've not noticed because they've been swept into `expected-results`.

[2021-08-01 17:43] ebeshero commented on #516
(Just noting, I've edited my response a little for clarity! Read on GitHub.)

[2021-08-01 18:02] ebeshero commented on #516
The very last sentence of our [TCW on Testing and Building](http://teic.github.io/TCW/testing_and_building.html) is pointing us in the direction of not introducing new errors...but we're now at the point of discovering old errors!

"You’ll want to be a bit careful that your new output is actually correct, of course, because now the test will pass even if it’s not really working, because all it’s c

[2021-08-01 18:12] HelenaSabel commented on #516
@ebeshero There aren‘t many others: I did all the HTML tests and besides this problem, I only got a warning about a deprecated attribute in `<math>` ([see info about the deprecation of `@mode`](https://developer.mozilla.org/en-US/docs/Web/MathML/Element/math)). In the case of a deprecated attribute, I thought that it was part of the original issue I was dealing with (the update to current XHTML5),

[2021-08-01 18:12] ebeshero commented on #516
@HelenaSabel In case helpful, here is how @sydb showed me to run all the tests to generate their results:

[code]
Note: ignore differences in files ending in '.listing'; if there are any use:

[code]

(The DIFFNOW=0 and the following diff line basically let the testing proceed, and the `\n\n#######\n` portion puts in newlines and ###### separators to make it easy to read the results.)

[2021-08-01 18:25] ebeshero commented on #516
@HelenaSabel Since it's just this one thing, and it's serious and related to producing HTML5 output, I agree that you should fix it and re-run the tests and just see if that change alters anything else. The dependencies in the Stylesheets are so complicated, and I sometimes wonder if there is some reason for invalid outputs in the `expected-results` we've inherited, when maybe there never was!

[2021-08-01 20:47] sydb commented on #516
[Caveat — I have not read the entire 11 KiB conversation, above.]

I think @ebeshero’s general thought — that @HelenaSabel should go ahead and fix Stylesheets so that results are valid (probably taking the `@id` away from the `<html:li>`, and letting its child `<html:div>` survive giving it the `@id`) — is probably correct.

That said, I am not 100% sure this isn’t going to cause problems. So cert

[2021-08-13 20:23] qhreul opened #518 "Conversion to HTML omits publication date and pagination"
While testing the [tei-oxygen v14.0.0 framework](https://sourceforge.net/projects/tei/files/oxygen-tei/oxygen-tei-14.0.0.zip/download), we observed that some information about citation references were not converted properly into HTML.

As an example, we have the following `<bibStruct>` element in TEI XML
[code]
After leveraging the TEI XHTML XSLT, we can observe that the publication date and the p

[2021-08-18 15:37] martindholmes opened #519 "Schematron at the level of model or class?"
@lb42 raises an interesting question here:

https://github.com/TEIC/TEI/pull/2161#issuecomment-900951541

If Schematron is defined at the level of a model (or a class, I guess), is it correctly processed into working Schematron or not? In other words, does a Schematron rule defined in the context of model.pLike end up generating working Schematron that applies to all the members of model.pLike?

W

[2021-08-19 01:03] sydb commented on #519
Huh? We have 13 `<constraintSpec>`s inside `<classSpec>` in the GLs,[1] (and at least 1 more in tei_customization.odd and 3 more in tei_simplePrint.odd) and although I have not looked at each carefully, I have looked at a few and quickly glanced at the others, and they all make sense to me.

Yes, as currently construed one needs to specify a `@context` to use a Schematron constraint inside a `<cla

[2021-08-19 07:27] lb42 commented on #519
All 13 existing cases are of an attribute class though. Is a constraint within a model class correctly processed?

Reluctantly using Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Syd Bauman ***@***.***>
Sent: Thursday, August 19, 2021 3:03:13 AM
To: TEIC/Stylesheets ***@***.***>
Cc: Lou Burnard ***@***.***>; Mention ***@***.***>
Subject: Re: [TEIC/Stylesheets]

[2021-08-19 15:16] martindholmes commented on #519
I think @sydb you slightly missed my point. As it stands, constraints can be specified in multiple locations for two distinct purposes: for tidiness (put the constraint inside the elementSpec it applies to) and as a shortcut for context (put the constraint inside the elementSpec and trust the processing to derive and express the correct context at build time). The P5 source no longer does the latt

[2021-08-19 20:23] sydb commented on #519
@lb42:
Well, in the sense that nothing goes _wrong_, I guess it is correctly processed: IIRC the Schematron comes through ODD processing just fine. But there is no attempt in the Stylesheets to supply a proper default `@context` for a model class. Thus you (the ODD writer) need to provide a `@context` yourself. Worse, you are left without any way to say “the context is any element in this class” —

[2021-08-20 17:47] sydb commented on #519
We (@martindholmes, @HelenaSabel, and I) think that, while this _should_ be fixed, it is not going to be fixed for months or years, if ever. So _in the meantime_ we should instead open a TEI issue for adding a constraint that warns a user not to do this (or that she will get the wrong result if she does, or whatever). By “this” I mean use a `<constraintSpec>` without an explicit `@context` inside

[2021-08-20 17:51] sydb commented on #518
Council needs to discuss whether this should be fixed, should be left for someone else to fix, or the “output-a-formatted-bibliographic-entry-from-`<biblStruct>`” processing should be stripped out of the Stylesheets.

[2021-08-21 02:27] #516 closed, assigned to HelenaSabel

[2021-08-21 12:53] sydb opened #520 "links from examples to BIB failing"
I have **not** yet investigated what is going on, but at first blush we have a serious problem: `@source` links from `<egXML>`s in the GLs to the bibliography are not working. First glance says it is because the ID of each `<bibl>` is not getting through to the BIB.html file. (Thus I am suspicious of @HelenaSabel’s recent ID fix which, IIRC, I approved just yesterday.)

Mildly more detailed:

- Bu

[2021-08-21 13:08] sydb commented on #520
Note: working on this locally in restored branch `iss516`, as I am all but convinced that the [corresponding PR](https://github.com/TEIC/Stylesheets/pull/517) is the source of the problem. (File `html/html_core.xsl` circa line 845, to be precise.)

[2021-08-21 14:46] sydb commented on #520
The problem is different templates are getting fired. For a “regular” TEI file (like the test32.xml @HelenaSabel was working with), the template that handles the `<bibl>`s of interest is in common/common_core.xsl (circa line 1068). For the _Guidelines_ themselves the template that handles the `<bibl>`s of interest is in odds/guidelines.xsl (circa line 696).

[2021-08-21 14:55] sydb commented on #520
Have a fix: the problematic template that is being fired for the BIB (odds/guidelines.xsl circa line 696) was using `<apply-templates/>`. Changing that to `<apply-templates select="@xml:id | node()"/>` seems to fix the problem. No idea what else it might break. Running tests now.

[2021-08-21 15:55] sydb commented on #520
OK. All tests (Stylesheets/Test/, Stylesheets/Test2/, and TEI/Test/) seem to pass on my local system. Going to check this fix in and see what @HelenaSabel thinks.
Fix checked into branch at 4896fb33.

[2021-08-23 14:58] lb42 commented on #519
As originally designed, I think, constraintSpec was supposed to protect the user from knowing too much about the mysteries of schematron. So there is no direct way of specifying @context within your ODD source, except of course in the schematron code itself. Instead there are some simplifying assumptions -- the context is the element within whose spec the constraint is being declared, for example;

[2021-08-25 10:46] peterstadler commented on #520
Sorry, I fail to see the faulty behaviour in the current dev branch. E.g. the example at https://jenkins.tei-c.org/view/TEI%20dev/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/ref-div4.html has a proper link to the bibliography. What am I missing?

[2021-08-25 12:33] sydb commented on #520
IIRC the faulty behavior was not in the dev branch, but in the iss516 branch, and has been fixed there.

[2021-08-25 16:47] martindholmes commented on #511
I'm presuming that we're aiming to implement [CommonMark](https://spec.commonmark.org/), rather than any of the various other flavours. Our task is to go from a TEI `<graphic>` element to this:

`![alt text](thing.png "title text")`

and the main question is where we get the alt text/title text. They can perfectly well be identical, but for valid HTML5 we'll need at least the alt text. I think the

[2021-08-26 18:57] #520 closed, assigned to sydb, HelenaSabel

[2021-09-03 14:59] sydb commented on #487
@HelenaSabel & @martindholmes — What is left to do on this ticket?
I note that `<!DOCTYPE html
  SYSTEM "about:legacy-compat">` no longer appears in the output of `bin/teitohtml`, but still appears in the HTML version of the _Guidelines_.

[2021-09-03 15:16] martindholmes commented on #487
That must be due to the guidelines.xsl.model, surely -- let's take a look this morning when we meet.

[2021-09-03 15:23] HelenaSabel commented on #487
The reason is that [PR 499](https://github.com/TEIC/Stylesheets/pull/499) has not been merged yet because I wanted to make some final changes, but it will be over soon and we can close this ticket :)

[2021-09-03 15:39] martindholmes commented on #487
@sydb and I just made a change to the xsl:output method in the TEI repo guidelines.xsl.model to make it html5, but that has no effect on the Guidelines build because it's overridden at odds/odd2html.xsl in the Stylesheets.

And the xsl:result-documents in guidelines.xsl.model also take their output settings from the Stylesheets variables in the included files.

[2021-09-03 15:50] sydb commented on #487
We (@martindholmes) and I just updated TEI/Utilities/guidelines.xsl.model to do the right thing, but it doesn’t, because it imports stylesheets from this repo and uses their values.

[2021-09-03 16:45] martindholmes commented on #118
@sydb and I tested this today, and the basic issue appears to be solved, so we're going to close the ticket. The additional issue of special-case processing for the egXML namespace itself (i.e. nested egXML elements to exemplify the use of egXML) is a complicated edge-case and probably not worth addressing.

[2021-09-03 16:45] #118 closed

[2021-09-05 15:14] HelenaSabel commented on #487
With the changes done by @sydb and @martindholmes, `make html-web` with the Stylesheets version of branch `iss487` generates the correct doctype.

[2021-09-08 13:56] sydb commented on #487
Ummm … OK, is this closable now? (I.e., are we done?)

[2021-09-08 14:10] HelenaSabel commented on #487
I certainly hope so!

[2021-09-09 19:56] #487 closed, assigned to HelenaSabel

[2021-09-10 15:34] martindholmes commented on #425
[test_issue_425.zip](https://github.com/TEIC/Stylesheets/files/7144834/test_issue_425.zip)

@npcole  and I checked into this, and the attached test file and output suggest that the problem is solved. This ticket should be ripe for closing unless @sydb has another scenario in which it fails.

[2021-09-10 16:06] npcole commented on #452
Review of directories:

* profiles/acm — last updated by Sebastian Rahtz in 2014.
* profiles/adams — is this still used by the Adams Papers Project? Last updated in 2013.
* profiles/agora — Looks like a project run by Lou Bernard, but I can't find information about it online.  Last updated in 2021 by @HelenaSabel — could we have more information about this in the ReadMe file?
* profiles/default —

[2021-09-10 16:06] npcole commented on #452
@jamescummings Would you like to give any more information about any of the above?

[2021-09-10 16:08] npcole commented on #452
@sydb The profiles/tei readme is unhelpful.  Do you know what this is used for?

[2021-09-10 16:09] martindholmes commented on #452
@lb42 Which of these long-untouched profiles are still in use, to your knowledge?

[2021-09-10 16:16] martindholmes commented on #417
@npcole and I think:

We should strip off the `@validUntil` during [1] above, so that validation of the examples does not trigger the error. If something in the example code itself is in fact no longer valid, that should be caught and reported (assuming not `@valid="false""`.

[2021-09-12 22:37] sydb commented on #425
I do not know when or where the fix was done, but it does seem to be working. The evidence (above and beyond the ODD file @martindholmes and @npcole provide, [above](#issuecomment-916996166)) is that the
[code]
of transpose.xml is properly converted to
[code]
Yay!

[2021-09-12 22:37] #425 closed

[2021-09-13 00:35] sydb commented on #203
Also the rendering of the [att.deprecated tagdoc](https://tei-c.org/Vault/P5/4.3.0/doc/tei-p5-doc/en/html/ref-att.deprecated.html) appropriately says the datatype is “date”, but it is a link to the [`<tei:date>`](https://tei-c.org/Vault/P5/4.3.0/doc/tei-p5-doc/en/html/ref-date.html) element, not to something that explains the [`xsd:date`](https://www.w3.org/TR/2004/REC-xmlschema-2-20041028/#date)

[2021-09-13 01:02] sydb commented on #203
In part to play devil’s advocate, I am going to voice the argument against @lb42’s “more PureODD” approach, above.

Primarily the argument revolves around a principle TEI P5: if there is already a standard that does what we want, we use it rather than re-inventing the wheel. W3C already has a reasonable, standardized, widely promulgated system that XSD, RELAX NG, and Schematron validators know how

[2021-09-13 01:03] sydb commented on #203
P.S. Most of this discussion should probably be on the TEI repo, not here. Oh well. Just more evidence that @martindholmes is right, the repos should never have been split.

[2021-09-13 02:00] sydb commented on #417
@dmj is, of course, correct about the main issue: that the examples are validated against Schematron by changing all of the Schematron rules so that they are looking for the Examples namespace, not the main TEI namespace. Not sure off the top of my head why flagging an example as `@valid=false` should not still indicate that the content is not intended to be valid regardless of which namespace we’

[2021-09-13 02:05] sydb commented on #452
Nope.

[2021-09-17 15:56] martindholmes commented on #417
@sydb and I investigated this again, and our proposed solution is that at the P5/Utilities/extractegXML.xsl stage, we first directly check any `@validUntil` attributes to ensure that they are valid xsd:dates. If not, we raise an error immediately. If they are valid dates, we change them to a date one year in the future from the date the process is being run, solving the validation problem down the

[2021-09-17 18:28] martindholmes commented on #417
The new branch seems to be working correctly and is building in a special job on my Jenkins. Time for a pull request on the TEI repo.

[2021-09-18 02:21] sydb commented on #417
So the error 127 from the `kindlegen` command is not something to worry about? (P5/Makefile line 131.)

[2021-09-18 17:14] martindholmes commented on #417
I don't have Kindlegen installed on my server because it's not open-source, and also it's now obsolete. I think we have a ticket for that, or if not, we should. Personally I don't think we should care about Kindle; Amazon should make their devices support the open ePub standard, or regular users should be able to convert an ePub to a Kindle thing using Calibre.

[2021-09-20 14:25] skurzinz opened #523 "Internal links (w:fldChar and w:instrText) do disappear in teitodocx conversion"
This happens in a footnote such as

[code]

With the stuff pointed to being present.

Desired TEI output would be along the lines of `ref/@target` pointing to the correct xml:id of the referenced section.

Currently being unable to attempt a fix on the stylesheets level, I'll notify my users that internal links are currently unsupported by our pipeline (which relies on the TEI stylesheets in a fir

[2021-09-23 19:02] sydb commented on #263
Council Stylesheets group did a few tests, and as far as we can tell all cases of `<empty/>` are being properly processed (that is, the output RELAX NG will validate the expected set of constructs) **except** for the case of an `<empty>` inside an `<alternate>`.
For example, @lb42’s example above:
[code]
results in just `(hi)`. (It should result in either `(hi?)` or `( hi | empty )`.)

[2021-10-01 08:54] #509 closed, assigned to sydb

[2021-10-07 20:31] sydb opened #526 "phrase-level references to macros should be links in PDF"
In the _Guidelines_ references to macros are, generally, encoded with `<ident type="macro">`.[1] These should (IMHO) produce links in the output HTML (and ePub and whatever) to the tagdoc for the encoded macro.

#### Notes
[1] I think they should be encoded with `<name type="macro">`, myself. But they are not. Sigh.

[2021-10-18 21:48] martindholmes opened #527 "Stylesheets tools/getnames.xsl still pulls p5subset.xml from TEIC site release"
The Stylesheets tools/getnames.xsl file, which is used to create the local names.xml file which is used in ODT and DOCX transformations, still defaults to using the p5subset.xml file which is on the TEI site, rather than the local copy of p5subset.xml which is (intended to be) kept in sync with the P5 repository.

[2021-11-02 20:50] #527 closed, assigned to sydb

[2021-11-02 23:24] sydb commented on #503
Assigning @npcole and @JanelleJenstad just to remind them that they are assigned to review the [associated pull request](#508).

[2021-11-02 23:27] sydb commented on #431
@ttasovac —

Is this still a problem?

[2021-11-03 01:20] sydb commented on #423
The files odds/odd2lite.xsl and html/html_oddprocessing.xsl both call the template make-body-from-r-t-f, which is defined in odds/RngToRnc.xsl.

[2021-11-03 01:48] sydb commented on #353
Assigning myself to perform the verification described [above](#issuecomment-637597160).

[2021-11-03 07:49] ttasovac commented on #431
Yes. I just tried again, after updating the TEI Stylesheets. The included files in our odd don't seem to be found. I'm including the full error output.

[code]

[2021-11-03 10:19] sydb commented on #431
Yeah. OK. So I do and do not know why this is happening, and can (at the moment) only suggest a work-around, not a fix.

The ant code is requesting XInclude processing from Saxon. (See file [common/teianttasks.xml](https://github.com/TEIC/Stylesheets/blob/2456660de90509af62603436b587b3d99d3c8c47/common/teianttasks.xml) line [390](https://github.com/TEIC/Stylesheets/blob/2456660de90509af62603436b58

[2021-11-04 19:58] hcayless commented on #482
What, precisely, are you complaining about here? We're looking at this in the Stylesheets group and are thoroughly confused...

[2021-11-04 20:19] martindholmes commented on #482
Looks like this was fixed between 4.2.0 and 4.2.1 -- look at the bottom of this page and you'll see the original problem:

https://tei-c.org/Vault/P5/4.2.0/doc/tei-p5-doc/en/html/ref-moduleRef.html

Should be OK to close it now, though.

[2021-11-04 20:25] martinascholger commented on #482
True, that was one reason for the 4.2.1 release. Closing the issue.

[2021-11-04 20:25] #482 closed, assigned to raffazizzi

[2021-11-05 11:32] #465 closed, assigned to sydb, npcole, martindholmes

[2021-11-11 06:38] CJohnno77 opened #534 "how to remove bullet points from 'simple' list using html.xsl"
I am using `html.xsl` on an `.xml` file which has lists of type 'simple': eg. `<list type="simple">`

The items of these lists are coming out as `<ul class="simple">` in the resulting HTML, which display with bullet points.

Is there a way to get `simple` lists to not have the bullet points?  Is there a parameter I can set in the XSL?

[2021-11-11 14:43] martindholmes commented on #534
The current TEI recommendation is for `@rend="simple"` rather than `@type` (https://tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#COLI). If you change that, does it work?

[2021-11-11 22:28] CJohnno77 commented on #534
No, it didn't work - I still get the `<ul class="simple">` in the HTML which displays the bullet points.

[2021-11-12 16:27] sydb commented on #534
So, if I understand correctly so far, you (@CJohnno77) want to produce on output an HTML list that does not have bullets (and presumably does not have numbers, either).

My instinct is that, although @martindholmes is correct about the encoding, it is a red herring. Since `"simple"` is not a value of the `@class` of `<html:ul>` that the CSS recognizes, it does not matter whether or not you success

[2021-11-12 16:29] martindholmes commented on #534
If "simple" isn't supported in the CSS, I think it should be.

[2021-11-12 17:45] sydb commented on #534
I do not disagree, but if `"simple"` _means_ “use bullets, not numbers” then it already is supported in the CSS. 😄

[2021-11-12 18:13] martindholmes commented on #534
No, "simple" means use no markers. "bulleted" means use bullets. Suggestion list is here:

https://tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#COLI

[2021-11-12 22:02] sydb commented on #534
Ah. I see.

[2021-11-13 10:34] CJohnno77 commented on #534
I could add CSS to the resulting HTML to turn off the bullets for `ul.simple`, but I would prefer to use a parameter in the XSL, so I will look into `cssHook` and `cssInlineFile`.

Is there a CSS file I should be using when I use `html.xsl`, or should I make one myself?

[2021-11-13 10:45] lb42 commented on #534
I would recommend avoiding all this folderol by using ceteicean

Reluctantly using Outlook for Android<https://aka.ms/ghei36>
________________________________
From: CraigJ23 ***@***.***>
Sent: Saturday, November 13, 2021 11:34:33 AM
To: TEIC/TEI ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [TEIC/TEI] how to remove bullet points from 'simple' list using html.xsl (Issue TEIC/TEI#2211)

How

[2021-11-14 14:55] sydb commented on #431
Responses from the [saxon-help](https://saxon.markmail.org/search/?q=date%3A2021%20XInclude%20XPointer) mailing list were informative, but may not really solve your problem. The basic gist is that Saxon uses the built-in Java XML parser[1,2], so it seems the problem lies in the Java parser. Some other folks get around this using either [`xmllint`](http://xmlsoft.org/index.html) or Norm Walsh’s [`s

[2021-11-14 14:56] sydb commented on #431
Not sure there is much more to say or do here, @ttasovac. If so, feel free to re-open.

[2021-11-14 14:56] #431 closed

[2021-11-14 15:09] hcayless commented on #431
Xerces will do XInclude, just not by default. Is there no way to allow it to be switched on as a parameter? I haven't looked at this at all, I should say...

[2021-11-14 15:20] lb42 commented on #431
Saxon will do xinvlude too but you have to pass it the right parameter. I think the problem here is that the teitoxxxx commands don't have an - xi lparameter?

[2021-11-14 15:44] sydb commented on #431
IIRC, Saxon _is_ performing XInclude for OP, just not properly handline the `@xpointer` attribute of the `<xi:include>`.

[2021-11-14 16:05] lb42 commented on #431
Ah OK. Have now read the thread more carefully amd see I am talking nonsense.

[2021-11-14 19:03] sydb opened #529 "Schematron namespace prefix generation"
By my count there are 224 uses of elements in the Schemtron namespace in the PDF output of the _Guidelines_. Of those, 90 are expressed with `<s:*` and 134 are expressed with `<sch:*`.
Clearly this is problematic. We should be using a consistent namespace prefix except in the case where we are demonstrating “Look, you can use whatever prefix you want. You can say `matron:` if you like.”
A quick lo